[2021-10-18 22:46] #482 closed

[2021-10-19 11:07] joesiltberg commented on #485
@lestrrat looks good to me! I've also tested it with my example JWS from a real application, works fine.

Thank you!

[2021-10-19 11:54] #485 closed, assigned to nobody

[2021-10-25 22:38] anatol opened #491 "jwx key `key_ops` array is not properly parsed anymore"
I am updating my project dependencies. If I bump `jwx` from v1.2.7 to v1.2.8 it breaks following scenario:

[code]

It looks related to commit 27bd213f1654bcf8016ff55d9890436d5056acbf where you renamed struct field from `keyops` to `keyOps` and it affected JSON parsing. The field name should be reverted back or `json:"key_ops"` tag should be used.

[2021-10-26 00:59] #491 closed, assigned to nobody

[2021-11-02 21:29] qioalice opened #493 "Determining an error of parsing JWT"
Hi. According with the following code
[code]
How can I determine what kind of error just happened? I mean, I want to recognize whether a token was malformed or a verification (signature) has not been passed.
Moreover if I pass also `jwt.WithValidate(true)` how can I figure out whether it was an error with token validation?

I checked jws, jwt, jwa packages but I didn't find neither exposed `Err...

[2021-11-02 22:18] lestrrat commented on #493
Currently there is no such distinction. I personally don't see much benefit in being able to differentiate the two programmatically (the process failed, the error message does tell you why, and it's not like you can programmatically recover from it). Of course, I could be wrong, but that's my feeling atm.

If you need this, the best approach would be for you to provide me with testcases and detail

[2021-11-02 22:28] lestrrat commented on #493
BTW, for validation errors, you can separate the `jwt.Parse` call to `jwt.Parse` and `jwt.Validate`

[2021-11-02 22:47] qioalice commented on #493
Thanks for your fast reply. The reason is simple. The project I'm working on has a different API error codes for different cases.
Thus, a totally incorrect token and a signature verification of token leads to different error codes.
I personally agree with you that this is redundantly but it's a legacy I must support. An other jwt library was used before that had such distinction but since we need

[2021-11-03 02:11] lestrrat commented on #493
well, if you want to see it implemented please provide testcases using malformed jwts et al with a hypothetical new error object or API and we'll start from there.

Meanwhile if you want to workaround it for the time beong you will have to compare the stringified errors.

[2021-11-05 14:44] alfrunes opened #494 "Invalid OpenID standard claims since 1.2.8"
**Describe the bug**
OpenID connect standard claims in sub-package `jwt/openid` changed from snake case to camel case in [v1.2.8](https://github.com/lestrrat-go/jwx/compare/v1.2.7..v1.2.8#diff-6a8b235941d38a6175bb29d207b6f268f1a79230cde01bf292cd575cfe901069).

**Additional context**
[OpenID connect standard claims](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims) use snake cas

[2021-11-05 20:50] qioalice commented on #493
Hi, I will provide a test cases later if I won't forget it. For now it looks like I convinced my work team to migrate to a new API w/o splitting these errors. Despite of that I think it would be great if your package would have such distinction and that feature. Ofc not with highest priority to implement.

I will close this issue for now since I read you don't like an opened dangling issues.

[2021-11-05 20:50] #493 closed

[2021-11-05 22:35] lestrrat commented on #493
@qioalice Thanks! For the record, I might take this up myself one of these days, but in that case I would be guessing how you want to use the API, and it may not be what you wanted... who knows. So it's always better for the end-users like you to provide with a testcase.  Thanks for the report, and feel free to open the issue again if/when you get them testcases or find more serious problems regar

[2021-11-05 22:36] lestrrat commented on #494
@alfrunes quite possible, because I made some underlying changes. This also means that we're not testing them, can you please send me the list that you found so we can test them?

[2021-11-06 10:45] #494 closed

[2021-11-08 04:16] zzycn003 opened #496 "openid claim name constant does not follow standard oidc spec"
for openid.token_gen.go, the claim name constant should use snake_case rather than camelCase

per oidc spec https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims

EmailVerifiedKey       = "emailVerified", should be "email_verifier"
PhoneNumberVerifiedKey = "phoneNumberVerified" , should be "phone_number_verified"
PreferredUsernameKey   = "preferredUsername", should be "preferred_use

[2021-11-08 04:17] lestrrat commented on #496
duplicate of #495. It just hasn't been released. please use v1.2.7 until I release the next version

[2021-11-08 05:12] #496 closed

[2021-11-10 00:18] lestrrat commented on #370
No comments in the last three months, so whatever next major version will ship with ``fmt.Errorf(`%w`)`` instead of ``errors.Wrap()``

[2021-11-10 00:18] #370 closed

[2021-11-13 02:41] ddouglas opened #498 "Expose Static Error Variables instead of calling errors.New"
**Abstract**
Please describe concisely what you want to accomplish, including prerequisite information. Please remember that if _you_ cannot articulate the problem, we cannot guess what you are thinking.

This is directly related to #493.

I'd like to propose the use of Public Error vars over calling errors.New() when an error occurs inside the lib.

**Describe the proposed solution/change**

Star

[2021-11-13 02:46] lestrrat commented on #498
This is just my initial reaction without thinking too much about it, but is your requirement to *ignore certain kinds of validations*, or is your requirement to *detect certain types of errors*? I'm getting the feeling that it's the former, in which case it may be better to create a way to selectively apply validations?

[2021-11-13 15:00] ddouglas commented on #498
Definitely want to detect so that I can programmatically determine what the next steps are.

Sent from ProtonMail mobile

-------- Original Message --------
On Nov 12, 2021, 21:46, lestrrat wrote:

[2021-11-13 15:07] lestrrat commented on #498
Got it. In principle I'm not against it.

One minor detail: When given the choice, please choose  explicit and descriptive names over short names. i.e. I'm not a big fan of `jwt.ErrTokenExp`. `jwt.ErrTokenExpired` would probably be better.

[2021-11-21 02:17] ddouglas opened #500 "JWT Constructor could take variable slice of Options to build token with"
**Abstract**
This is possible a refactor of `jwt.New()`, I haven't really dug into what is does yet, but the idea is that like `jwt.Parse` and `jwt.Validate`, `jwt.New` could take a slice of options that allow the user to set various claims on the jwt before the jwt is returned.

**Describe the proposed solution/change**
I'm not sure right now, this is a brain dump and since you have a feature lis

[2021-11-21 22:16] lestrrat commented on #500
Hi, thanks for the suggestion. I really don't like that `New()` would have to return an error. Maybe a introducing a different function could work?

[2021-12-05 23:57] lestrrat commented on #498
This issue was closed due to inactivity, but I'm re-opening. However, please be advised that the API design may not necessarily match what you expected since you provided no actual code for me to base my design on.

[2021-12-05 23:57] #498 closed

[2021-12-07 02:58] lestrrat commented on #500
Since this issue has been marked stale, I think I will use my judgement and go with introducing a Builder pattern as in #501. Hopefully it will solve your problems too.

[2021-12-07 02:59] #500 closed

[2021-12-07 03:06] lestrrat opened #508 "[jws] Consider `Sign()` function or the like that allows using `jwk.Set` to generate multiple signatures in one go"
https://github.com/anatol/tang.go/commit/e76bee4fc768f88eefd3ac185a84ddc9b15317a7#r61455640

[2021-12-07 03:14] lestrrat commented on #508
I think this is more of a API design issue rather than if we should/should not provide such API.

I think `jws.Sign()` would be confusing if it could accept a single key or multiple keys.
Similarly, I think I designed `jws.SignMulti()` to accept multiple `jwk.Key`s instead of `jwk.Set` to make the API simple.

I just need to come up with a good API that sounds uniform with other APIs and yet is ea

[2021-12-07 03:18] lestrrat commented on #508
What does signing with a JWKS mean? Do you sign the payload using multiple keys, but otherwise using the same options (currently I can only think of headers), or can you specify separate headers for each key?

[2021-12-07 04:13] lestrrat commented on #508
Also, I just realized that to sign using a key, we need `alg`. The jwk.Set does not (necessarily) contain this information. Hmmm, suddenly this is starting to look a bit hard.

[2021-12-07 04:21] lestrrat commented on #508
@anatol so the only detail that I'm not sure about right now is how to specify the combination of the algorithm and key to use. keys in jwk.Set do not necessarily contain the `alg`  field, and thus it may not be automatically deducible, no?

[2021-12-14 02:28] lestrrat opened #510 "Add ability to whitelist URLs for JWK fetching operations"
Possible ideas:

[code]

[2021-12-14 10:01] #510 closed

[2021-12-14 10:09] lestrrat opened #512 "[jws] Automatically respect JWKS in `jku` to verify the JWS payload"
Probably something like `jws.Verify(..., jws.WithAutoFetchJKU(true))`.

Because this would be fetching the remote resource, we must be aware of security impact.
We probably should document it is highly recommended to ONLY use this option with a whitelist
(also, we would have to create wrapper options? to pass `jwk.FetchOption` to `jws.Verify()`)

[2021-12-16 07:16] #512 closed

[2021-12-16 07:36] lestrrat opened #514 "[jwt] Make it possible to call jws.VerifyAuto from jwt.Parse"

[2021-12-17 00:47] lestrrat opened #516 "[jws][jwt] Abstract JWKS fetching into an interface"
By abstracting away the fetching operation, users will be able to provide their own fetching logic, including using `jwk.AutoRefetch`

[2021-12-17 00:48] #514 closed

[2021-12-17 05:05] #516 closed

[2021-12-17 07:19] lestrrat opened #518 "[jwk] Add ability to query if a url is already registered in jwk.AutoRefresh"

[2021-12-17 07:50] #518 closed

[2021-12-28 00:08] imirkin opened #521 "Make it possible to remove a URL from jwk.AutoRefresh"
I recently went around trying to do the annual dependency update, and figured I'd integrate AutoRefresh. My use-case allows to dynamically switch the jwks URL. So right now the only way is to create a sub-context, keep it around and its cancel function so that I can shut the AutoRefresh down and create a fresh one.

It'd be nice to have an easy way to (a) shut down an AutoRefresh without messing w

[2021-12-28 03:59] imirkin opened #522 "Regression: kid ignored when key set does not have alg in keys"
Prior to version v1.2.0 I believe this worked fine. When the functionality to use a keyset which does not have alg's baked in was re-added, it looks like it did so while ignoring kid's. For example, azure publishes these keys:

https://login.microsoftonline.com/common/discovery/v2.0/keys

Note that these do not have an alg in them. Then a JWT will be signed with one of these, identified by a kid.

[2021-12-28 04:41] imirkin commented on #522
*Technically* it does still work, since it does try all the keys. So it will end up validating, but potentially with the wrong key. I think that's pretty poor behavior. It should use the selected key. (Potentially a security issue that the kid is ignored?)

[2021-12-28 05:01] lestrrat commented on #522
I'm still out with my family so haven't looked, but it sounds like a problen. it's probably a missing testcase. can you pls come up with a testcase?

[2021-12-28 05:16] imirkin commented on #522
Yeah ... it's actually a bit tricky. Basically if there's a kid, there's a double-check that the kid matches in jws. So it will fail if headers.kid != key.kid. So in practice I don't think it can do anything too bad.

TBH I didn't actually hit a problem, I was just reviewing the code. Still seems off.

The tests are also slightly busted, I'm fixing them, but I can't come up with a convincing test

[2021-12-28 10:00] lestrrat commented on #522
Thanks. I don't think I will be able to look at it today my time, so if you do find something, please let me know! I will hopefully have time to look into it tomorrow

[2021-12-28 10:05] lestrrat commented on #522
Ah, and I just realized the PR. thanks!

[2021-12-28 14:33] imirkin commented on #522
No rush! Please enjoy your vacation.

[2021-12-30 01:13] #522 closed

[2021-12-30 01:14] lestrrat commented on #521
Sounds like a plan. Let me think of an API

[2021-12-30 01:45] lestrrat commented on #521
@imirkin Wrote up something basic in #524. PTAL?

[2021-12-30 01:53] imirkin commented on #521
Without commenting on impl, API looks like it should do the trick. It might be nice to return an error if you remove a URL that wasn't configured, but otoh I wouldn't really care in my situation.

[2021-12-30 02:17] #508 closed

[2021-12-30 02:34] anatol commented on #508
Is `close tickets with 5 days inactivity` too aggressive?

[2021-12-30 02:41] lestrrat commented on #508
maybe, if you think closing = rejection.
But since issues can be reopened anytime, I personally don't find it bad per se.

On the other hand I see open issues as something I need to be working on, and it really bugs me/makes me feel anxious when I do my daily checks and see dangling issues waiting for reactions.

Would it make it better if the message when closing contains something similar to thi

[2021-12-30 04:44] lestrrat opened #525 "Change wording for actions/stale"

[2021-12-30 04:54] lestrrat commented on #508
@anatol BTW, I re-read the configuration, and the configuration said 14 days before labeling stale, and 7 days before closing, so it had been sitting for 21 days, or three weeks. The message was wrong.

[2021-12-30 04:57] #525 closed

[2021-12-30 05:06] lestrrat commented on #521
@imirkin it's an easy enough fix, so I added the ability to return an error when the url is non existent

[2021-12-30 05:12] imirkin commented on #521
Looks great! Thanks for the quick turn-around!

[2021-12-30 05:17] #521 closed

[2021-12-30 05:18] lestrrat commented on #521
@imirkin Thanks. I merged it, but as always, I intend to let it sit for a few days before making a release. Please let me know if you find anything

[2022-01-04 16:50] msvechla commented on #396
I am experiencing the same error with the code example from above:

[code]

The `kid` of the key returned from `ParseKey` is nil and the token has a key value set.

I also tried to create a `keySet` with just one key and the following options

[code]

Which did not work as well:

Even though I set the `jwt.UseDefaultKey(true)` option.
Do you have any other suggestions on how to verify against a si

[2022-01-04 21:34] lestrrat commented on #396
The RFC is not really explicit about this, but currently the stance taken by this library is that if the payload requests a `kid`, then the provided key MUST have the same corresponding `kid`. The way I see it is that `kid` is part of the protection of the payload, and should be respected if given., I have yet to see a proper service operate without `kid`s

If you are absolutely sure that the key

[2022-01-04 22:33] msvechla commented on #396
Thanks for the quick reply!

I switched to using a proper JWKS now, as I already assumed that using a specific certificate is rather unusual. That did the trick.

Thanks for your insights nevertheless!

[2022-01-05 11:37] fabriziomoscon opened #528 "Feedback about major releases"
Thank you for the library, we have been using it for a long time and it is very useful.
The only feedback we have would be to consider semver for major releases.
We noticed two breaking changes that were not represented with a major version and in a multi repo project code base it makes it very difficult to upgrading, especially because this library is an indirect dependency for many projects.

We

[2022-01-05 11:43] lestrrat commented on #528
Which changes?

[2022-01-05 13:57] fabriziomoscon commented on #528
We are seeing issue from v0.9.1 to v0.9.2
[code]

that forced us to write this line at the bottom of go.mod:

[code]

and I also read about breaking changes in v1.1.0: https://github.com/lestrrat-go/jwx/releases/tag/v1.1.0

If you are following semver, that makes me think that breaking changes in v0 were expected because of v0, which is fine.

[2022-01-05 22:29] lestrrat commented on #528
You are giving me this after one whole _year_ since the breaking change happened...?

This has been discussed before.

https://github.com/lestrrat-go/jwx/discussions/327#discussioncomment-545750

I'm very glad that you found my work useful, and I'm sure you mean no harm, but to make sure I get this out to everybody else, here's me being blunt:

I'm not saying I don't care about users or semvers, I

[2022-01-05 22:29] #528 closed

[2022-01-05 22:52] fabriziomoscon commented on #528
My feedback wasn't meant to be negative, sorry if it sounded that way. We are helping with PRs many open source repos that we use. I am sorry we didn't contribute to your repo before.
I also personally maintain open source libraries mostly on my own, and I know it's a though job/hobby.

[2022-01-05 23:14] lestrrat commented on #528
Point taken, and you don't need to apologize, but the main point here is that you came strolling down and

* Did not provide specifics (I spent a couple of hours making sure recent releases didn't have any problems b/c of this)
* Did not provide feedback for something actionable (what am I supposed to do with a one year old release... apologize?)
* Did not offer to help or pay, but merely "advised

[2022-01-06 01:12] lestrrat opened #529 "Tweak Issue/PR Instructions"
Be more explicit in our expectations on which medium should be used for which types of reports

[2022-01-06 01:33] lestrrat commented on #529
fixed via #530

[2022-01-06 01:33] #529 closed

[2022-01-06 22:42] lestrrat opened #535 "[jws] Add missing ES256K"
JWS supported ES256K alright, but it was missing from the algorithms that JWS could infer

[2022-01-06 23:04] #535 closed

[2022-01-06 23:05] lestrrat opened #537 "Update dependencies"

[2022-01-06 23:12] #537 closed

[2022-01-07 02:06] anatol opened #539 "Add a way to compare jwk.Key"
I need a way to check whether 2 arrays of `jwk.Key` intersect. And to achieve it I iterate over those and compare the keys.

I did not find any way to compare `jwk.Key`s. It would be great to have something like `Equal()` function at that interface. And the implementation would compare essential key fields - the same fields that are used for `Thumbprint()`.

[2022-01-07 02:14] anatol opened #540 "Rethink jwk.Set interface"
I see that there is a special class for managing key sets - `jwk.Set`. I am using when parse keysets. The interface feels almost like an array of keys but API is a bit awkward. `Iterate()` is not a go-idiomatic interface for iteration.

I would be better if `jwk.Set` be just an alias for `[]jwk.Key` with a number of required functions on it (LookupKeyID/UnmarshalJSON).

[2022-01-07 02:17] anatol commented on #508
would it be possible to open the ticket until a solution found?

[2022-01-07 02:43] lestrrat commented on #540
@anatol I'm not saying jwk.Set can't be changed/improved, but as for your suggestion to make `jwk.Set` = `[]jwk.Key`, nope.

This is allowed:

[code]

[2022-01-07 02:48] lestrrat commented on #539
I don't think there exists a standard way to compare JWKS. Of course, I may have just missed it. Is there one?

Your proposal does make some sense, but I'm not sure it's something that should be available as a standard way unless it really _is_ the standard way to compare JWKSes.

[2022-01-07 02:52] lestrrat commented on #539
Oh, wait,. I read it as jwk.Set, not jwk.Key. sorry. Re-reading...

[2022-01-07 03:03] lestrrat commented on #539
That means that using the current implementation of `Thumbprint()` already does exactly what you are asking for, no?

I'm a bit weary of adding `Equals()` because the definition of equality may differ between you and others. You may think that keys are equal if keys for the thumbprints match, but maybe others want complete equality for all fields.

[2022-01-07 03:11] anatol commented on #540
I see. If `privateParams` is needed then the alias does not work. And it seems impossible to make custom structs range-able.

Is there a chance to get access to the underlying slice? Currently my code just repacks `jwk.Set` by `iterate()` and appending to a slice. But I would prefer to avoid wasting CPU cycles and get access to slice for easier iteration.

[2022-01-07 03:15] anatol commented on #539
comparing `Thumbprint()` is something similar to what I need. Though is does a lot of unneeded computation such as converting types, calculating hash. Comparing the underlying fields would be much cheaper.

Does the jwx spec say anything about keys equality?

[2022-01-07 03:16] lestrrat commented on #540
As a matter of principle, I'm not allowing users direct access to underlying structures where I can control it.
So... some alternatives:

[code]

[code]

[2022-01-07 03:17] lestrrat commented on #539
Not that I know of, at least not when I was reading the specs in-and-out.

[2022-01-07 03:30] lestrrat commented on #539
So, just FYI, my basic stance on these libraries is to provide "easy-to-use" APIs.
(easy-to-use includes providing a sane API, safety mechanisms to stop users doing silly things, name things correctly, etc)

And my take on ease of use and performance is that, you _usually_ have to give up one for the other.
Aaaand in general if I have to make a choice between the two,  I go for ease of use.

I'm j

[2022-01-10 13:07] stevenvegt opened #541 "Support for detached payload in jws.Sign()"
Hello! I'm not sure if this is a bug, or just lack of support for detached payloads in a JWS.

**Describe the bug**

When making a detached signature, the payload does not have to be encoded. As is specified here:
[RFC7797 Section 5.1](https://datatracker.ietf.org/doc/html/rfc7797#section-5.1):

   content.  A detached payload can contain any octet sequence
   representable by the application.  Th

[2022-01-10 13:32] lestrrat commented on #541
@stevenvegt This seems like a bug. I have  a feeling I messed up on one of the tests, and its effect kind of just rippled elsewhere.

Can you please try out https://github.com/lestrrat-go/jwx/tree/gh-541?

FYI: It's my bed time where I live, so my next response will take a while

[2022-01-10 21:03] lestrrat commented on #541
@stevenvegt Please let me know if this worked? Thanks

[2022-01-11 08:50] stevenvegt commented on #541
Thanks for the quick response! The suggested code works! However, I don't think your original code was wrong. It covered the [Section 5.2](https://datatracker.ietf.org/doc/html/rfc7797#section-5.2):

   payloads using period ('.') characters would cause parsing errors;
   such payloads MUST NOT be used with the JWS Compact Serialization.

So I think the solution might be providing an extra option

[2022-01-11 08:52] lestrrat commented on #541
My assumption is that the payload HAS to be detached in presence of `b64: false` header. Am I wrong?

[2022-01-11 08:55] lestrrat commented on #541
hmm maybe you are right. I will revisit later

[2022-01-11 09:11] lestrrat commented on #541
Alright, so now it's coming down to the problem API design. It turns out that I've already used `WithDetachedPayload()` to work with `jws.Verify()`.

Now, the problem is with the method signature for `jws.Sign()`. it is now

[code]

We can't use `jws.WithDetachedPayload(true)` here, because it already exists as `jws.WithDetachedPayload([]byte)`.
If we are to overload `jws.WithDetachedPayload([]byt

[2022-01-11 10:40] stevenvegt commented on #541
Yes. This will work and keeps everything backwards compatible 👍

[2022-01-11 11:19] lestrrat commented on #541
Thanks for checking. Filed #543, and I'm going to sit on it at least overnight.

[2022-01-12 03:49] #541 closed

[2022-01-12 03:53] lestrrat opened #544 "Update dependency in jwx command"

[2022-01-12 05:04] #544 closed

[2022-01-12 14:59] Edwin-Luijten opened #546 "How to get header values from jwt"
I'm fetching a remote public key of which part of the url is the kid.
The kid is part of the header and it's unclear to me how to get that value, or any other header value from `Token`.

[2022-01-12 23:57] lestrrat opened #548 "Add documentation for getting/setting fields"
It seemed to obvious that apparently we have forgotten to actually document Get/Set for each package

[2022-01-13 01:07] #548 closed

[2022-01-17 22:47] lestrrat commented on #237
@debug-ito I know this is old, and this has been closed. But for a next major version (not scheduled to be released yet), I'm thinking of introducing a single type called `jwk.KeyAlgorithm`

https://github.com/lestrrat-go/jwx/tree/jwk-alg-field

If you are still interested, please let me know what you think. Otherwise, don't worry about it

[2022-01-17 23:28] debug-ito commented on #237
Thanks for taking time for this issue.

I roughly reviewed the code. I think it's a good idea to add `KeyAlgorithm` as a super type of `SignatureAlgorithm` and `KeyEncryptionAlgorithm`. However, I would keep stricter API instead of allowing users to pass a value from a jwk.Key directly.

For example,

- `jwa.KeyAlgorithmFrom` should return `(KeyAlgorihm, error)`.
- `jwe.Encrypt` and `Decrypt` shou

[2022-01-17 23:32] lestrrat commented on #237
The main reason I decided to actually "fix" this issue is because people kept assuming that jwk.Key.Algorithm was half-baked because it returned a string -- not too many people realize that the algorithm can be different things, and thought that people should be able to pass jwk.Key.Algorithm directly to the high level APIs

(and yes, I missed jws.Sign/Verify)

[2022-01-18 13:41] dragonfriend0013 opened #554 "jwe header does not contain keyID"
I am receiving a key set from a client through an API.  I use :

`keys, err := jwk.Parse(body)`

to parse the API body.  From this i am taking the first key and placing it into a new structure with the key, the public key (`pubKey, pubKeyErr := k.PublicKey()`) as well as its expiration

This new object is then used until its expiration.  I have confirmed that there is a keyId in the key object.

T

[2022-01-18 23:14] lestrrat commented on #554
Ah, that's a bug caused by an artifact of the past. Thank you for reporting.
Up until some point this library could not (easily) convert between JWKs and raw keys, and opted to use raw keys in most places. Raw keys such as ecdsa.PrivateKey does not have a notion of a key ID, and hence this information was dropped during message construction.

Fix coming up.

[2022-01-18 23:54] lestrrat commented on #554
@dragonfriend0013 can you please try the fix in #555. You should see the `kid` header in the unprotected headers section.

[2022-01-19 00:49] lestrrat commented on #554
@dragonfriend0013 oops, sorry, I missed something and the test are failing. Will let you know again.

[2022-01-19 01:36] lestrrat commented on #554
@dragonfriend0013 okay, all fixed. PTAL

[2022-01-19 13:42] dragonfriend0013 commented on #554
I tested with the gh-554 branch and all is looking good

[2022-01-19 19:06] gbolo opened #556 "support for additional signers aws KMS or pkcs11"
Hi @lestrrat, Thanks for this amazing jw* library.

I see that you have a signer interface already:

[code]

with a few private implementations already (RSA, ECDSA, exc). Was wondering what your thoughts would be on including a more secure signer (that does not have direct access to the raw private key). Leveraging something like [AWS KMS](https://docs.aws.amazon.com/sdk-for-go/api/service/kms/#ex

[2022-01-19 23:06] lestrrat commented on #556
Care to elaborate in pseudocode what this might look like? My hunch is that this is rather a sweeping change, and if it does get incorporated, it would have to be in a future major release.

As far as maintenance is concerned, it might be better for jwx to define an interface that these signers can use, and let interested personnel do the actual implementation?

[2022-01-19 23:07] #554 closed

[2022-01-19 23:08] lestrrat commented on #554
Thanks, merged. I usually let these sit for a few days before releasing. Please `go get` directly from the repository for the time being.

[2022-01-20 02:32] gbolo commented on #556
Hi @lestrrat,

After looking around a bit, you are right, this would be a rather sweeping change. Sorry to throw this on you ;)

My use case, is signing tokens (jwt). So currently I do something like:

[code]

Now the jwk interface is quite large, and it may not be possible to implement all
the functions in it. https://pkg.go.dev/github.com/lestrrat-go/jwx/jwk@v1.2.17#Key
Certainly the `Raw(interf

[2022-01-20 08:07] lestrrat commented on #556
Hmmmmmm. I'm not sure if cloaking KMS as a key would really solve this problem.
With my limited knowledge working on GCP KMS, I think it's not really representable as a key, but rather it's the whole package of jws+jwk (or jwe+jwk) combined.

So maybe it's really a new API that you want. Maybe it's something like a

[code]

And maybe this would have to be used in JWT as

[code]

Either way, I thin

[2022-01-20 14:41] gbolo commented on #556
I think this new API you describe make sense. for a sample kms wrapper please see this project:

https://github.com/matelang/jwt-go-aws-kms

Once a new API is available to make this possible, I can try and come up with a reference implementation (time permitting).

Thanks for your input @lestrrat , you may close this issue if you like

[2022-01-20 22:52] lestrrat commented on #556
I see. I think the current `jws.Signer` interface _almost_ works. we could cram it in to `jws.Sign()` if we allowed a calling convention like

[code]

albeit at some added complexity cost within the `jws.Sign()` method.

[2022-01-20 22:55] lestrrat commented on #556
Hmmm, actually, if all payloads matching ES256 (just as an example) should use this new KMS, we can easily plug it using `jws.RegisterSigner()` and `jws.RegisterVerifier()`, I think. This is how we plug `es256k`

[2022-01-21 00:01] gbolo commented on #556
When a user creates an asymmetric KMS key, they choose the keytype from the following options:
`RSA_2048, RSA_3072, RSA_4096, ECC_NIST_P256, ECC_NIST_P384, ECC_NIST_P521, ECC_SECG_P256K1`. They also choose the key usage (sign, encrypt, decrypt, exc). The created key gets a unique ARN/ID (which is what is getting passed in)

The key type above can be retrieved from inspecting the public key (maybe

[2022-01-21 00:08] lestrrat commented on #556
If I'm reading this right, I think RSA_2048 and the like are the key specs, whereas what we should be using when signing are the SigningAlgorithms such as kms.SigningAlgorithmSpecRsassaPkcs1V15Sha256 ? (not complaining or anything, I'm just making sure my understanding is correct)

[2022-01-21 02:21] gbolo commented on #556
yes that's correct, sorry I misunderstood your previous statement.

I will have to try to understand how to use the `jws.RegisterSigner()` that you mentioned. Thanks

[2022-01-21 02:24] lestrrat commented on #556
@gbolo I think I can come up with a prototype soon, you can sit tight for a bit :)
You will have to do the testing through, as I don't really work with AWS and don't feel like setting up the environment ATM.

[2022-01-21 02:43] lestrrat commented on #556
@gbolo Please checkout #557 along with https://github.com/lestrrat-go/jwx-aws-kms

I'm sure there are bugs, but the intended usage is in here: https://github.com/lestrrat-go/jwx-aws-kms/blob/main/jwxkms_test.go#L14

[2022-01-21 02:44] gbolo commented on #556
Sounds good, I'll test it out ;) Thanks!

On Thu., Jan. 20, 2022, 9:24 p.m. lestrrat, ***@***.***>
wrote:

[2022-01-21 03:21] gbolo commented on #556
@lestrrat thanks for quickly putting this together. I tried it but got this panic during sign:
[code]

this switch statement may be the problem here:

https://github.com/lestrrat-go/jwx/blob/fd774b7e524719c3ec686b7ffb8c780f078e3055/internal/keyconv/keyconv.go#L27

for reference, im using the same RSA 2048 KMS key; here is how it was called:
[code]

I'm tired, will continue another day. Thanks agai

[2022-01-21 04:03] lestrrat commented on #556
That doesn't look right. Did you force Go to look at [jwx's gh-556 branch](https://github.com/lestrrat-go/jwx/pull/557)?

[2022-01-21 04:22] lestrrat commented on #556
Huh, I haven't tried it myself, but there's an implementation of crypto.Signer using Google KMS.
If this works as advertised, you would be able to just plug it into jws.Sign without having to write any extra code.

https://github.com/salrashid123/signer

Just for the record

[2022-01-21 05:31] lestrrat commented on #556
I just found this too https://github.com/lstoll/awskms

[2022-01-21 07:41] lestrrat opened #559 "Fix crypto.Signer usage for verification"

[2022-01-21 07:44] lestrrat commented on #556
@gbolo Change of plans!

Please disregard #556, and see the following:

#559 fixes verification for `crypto.Signer`s. This was a bug
And I wrote a crypto.Signer wrapper for AWS KMS, which this time around I took the time to figure out how to test
https://github.com/jwx-go/crypto-signer/tree/main/aws

This is _much_ cleaner, and can be plugged in almost immediately.

[2022-01-22 01:12] gbolo commented on #556
Just tested the signing, works perfectly! Thanks @lestrrat

[2022-01-23 00:11] #559 closed

[2022-01-23 00:14] lestrrat commented on #556
Fixes to jwx has been merged via #560. Signers have been published to github.com/jwx-go/crypto-signers

[2022-01-23 00:14] #556 closed

[2022-01-27 16:22] Humphryyy opened #563 "Unable To Set "cty" in JWK"
**Describe the bug**

A clear and concise description of what the bug is.
`(jwk.Key).Set` does not allow setting the `cty` header.

Please attach the output of `go version`
go version go1.18beta1 darwin/arm64

**To Reproduce / Expected behavior**
Please attach a standalone Go test code that shows the problem, and what you expected to happen.
[code]
Output:
[code]

[2022-01-27 22:25] lestrrat commented on #563
You are setting cty on the JWK, but you are printing JWS.
As far as I know JWK parameters are not transitive to JWS (`kid` is a notable exception, because it is almost always necessary), so you can not expect this to happen:

[code]

Instead you will need to pass JWS headers, which will be merged with the protected header portion.

[code]

So, your code would've worked like this

[code]

Which pro

[2022-01-27 22:25] #563 closed

[2022-01-27 23:36] Humphryyy commented on #563
Ahh I see, thank you!

[2022-01-28 20:48] hound672 opened #564 "Convert from pem cert"
Hello!

1. Generate cert with command: openssl req -x509 -newkey rsa:4096 -nodes -keyout key.pem -out cert.crt
2. Try to convert cert.crt to JKW:
[code]
There is no error, but ```key``` does not have KID, Algorithm and so on. What do I do wrong?

[2022-01-30 02:08] #540 closed

[2022-01-30 02:08] #539 closed

[2022-02-14 14:08] mzc-lunar opened #567 "Feature: Increased resilience on `Fetch()` and `Parse()` in case of invalid key in JWKS-endpoint?"
**Intro**
Hi

First of all, thank you for the work you've put into the jwx-project. It is clear that a lot of effort has gone into getting all the details of all the JWX packages to behave in a nice way that is easy to understand and such that it follows the various protocols to the letter.

However, in using your libraries we ended up in an interesting pickle this past week, which we thought we w

[2022-02-14 20:53] rodrigc opened #569 "Documentation: example for generating RSA key"
**Describe the bug**

at https://github.com/lestrrat-go/jwx/blob/main/docs/04-jwk.md#construct-a-specific-key-type-from-a-raw-key
doesn't seem to work for me:

[code]
[FromRaw()](https://github.com/lestrrat-go/jwx/blob/a208019990e8d582741b680748f2ced7507f535a/jwk/rsa_gen.go#L36) seems to take a *rsa.PublicKey.

But in [rsa.go](https://github.com/lestrrat-go/jwx/blob/a208019990e8d582741b680748f2ced

[2022-02-14 22:08] rodrigc commented on #569
@lestrrat this library is excellent!  Very well written with clean interfaces!

[2022-02-15 11:37] mzc-lunar commented on #567
Hi @lestrrat Thank you for the quick response.

First off, your four assumptions on my initial post are correct and I think you understand our issue perfectly fine.
Let me elaborate a little more about my reasoning behind why I think the suggested feature would be quite powerful.
I think there is something really useful about a consumer being able to call something like

[code]

on an `AutoRefresh

[2022-02-15 12:09] lestrrat commented on #567
@mzc-lunar So if I read this correctly, your proposed feature is more of a `ExtractSingleKeyFromSet()` (I know it sounds bad, just trying to get my point across), to extract a single key out of a set, and parse that key only.

I haven't thought this through yet, but I _think_ I want to separate the extraction of a single key (JSON) and parsing said JSON in two steps. Bundling everything in a funct

[2022-02-15 12:15] mzc-lunar commented on #567
Yes, I think that is accurate. The primary reason for not doing something our-selves is the fact that using the jwk-lib gives us fetching with caching combined with parsing of the JWK, which I think is quite nice. Your argument with seperating the functionality would then be to have a function `FetchKey()` and then following that with a call to `Parse()` ?

[2022-02-15 12:19] lestrrat commented on #567
Again, this is not a rejection of your proposal, but as far as utilizing the fetch+caching goes, you could still do this:

1. periodically fetch http://example.com/jwks.json (the original source)
2. use jq to do the filtering, save it somewhere, store it where you can create a private http server (it could even by S3 or something similar) as http://internal-location/jwks.json
3. point JWK to http:

[2022-02-15 12:28] mzc-lunar commented on #567
Yes I think this is a good point. We are looking into doing something similar to that. The issue is that the more disjoint we become from the "actual" JWKS-endpoint the more we risk not noticing if a key is rolled (possibly due to the private key being compromised). So by keeping an extra cache of the JWKS-endpoint result we are trading resilience for a loss of security in edge-cases like that.

I

[2022-02-15 13:07] lestrrat commented on #567
@mzc-lunar so here's one way I thought of https://github.com/lestrrat-go/jwx/pull/570/files#diff-40f65963e86f0e5ec7c15dd282ccb94f2feff9934e698bf2f51c98598ec5b45bR1965

Let me know what you think. Meanwhile it's bed time where I live. I will check back tomorrow.

[2022-02-16 01:33] lestrrat commented on #567
@mzc-lunar Here's another possible solution I thought of: Just allow jwk.Parse to ignore errors: https://github.com/lestrrat-go/jwx/pull/574/files#diff-40f65963e86f0e5ec7c15dd282ccb94f2feff9934e698bf2f51c98598ec5b45bR1966

[2022-02-16 07:37] mzc-lunar commented on #567
Hi again @lestrrat that was some fast coding 🎉

I think for my team we would personally prefer option two as it would probably be the the most "hands off" approach from our end which probably means smaller risk of errors. I kind of like that the idea of being able to set `jwk.WithIgnoreParseError(true)` and then we would just get "any valid key" from JWKS back 👏

[2022-02-16 10:18] lestrrat commented on #567
Okay, in that case let's go with the "Allow users to shoot themselves in the foot" approach. I still need to write documentation and test a bit more before releasing.

[2022-02-16 13:41] lestrrat commented on #567
@mzc-lunar #574 is ready, can you please take it for a whirl and see if it does the job for you. If it works for you, we'll merge to main. Then we will let it sit for a few days in main to give ourselves one last chance to fix anything if necessary before releasing.

[2022-02-16 13:54] mzc-lunar commented on #567
@lestrrat I'll have a look 👍  Thank you again for the quick turnaround on this

[2022-02-17 08:36] mzc-lunar commented on #567
@lestrrat We've been running it in our development environment and it seems to be running fine. The option it self hasn't been necessary at the moment as the JWKS-endpoint we use is currently valid. But from looking at the PR I believe it should work fine if the endpoint is messed up again. So all in all, we're very happy with the result.

Coincidentally, I learned that our organization is current

[2022-02-17 09:37] lestrrat commented on #567
@mzc-lunar thank you and than you!

wrt #574, why don't I go ahead and merge to main, but let it sit there at least until Tuesday my time. That will buy us some time to react should something come up.

[2022-02-17 09:52] lestrrat commented on #567
closed by #574

[2022-02-17 09:52] #567 closed

[2022-02-20 08:34] lestrrat opened #575 "Migrate code generation helpers to using fmt.Errorf instead of github.com/pkg/errors"
Changing the library may have consequences, but the helpers can safely be migrated

[2022-02-20 10:38] lestrrat opened #577 "[RFC] Change jws.Verify (and thereore jwt.Parse) for 2.0.0"
Idea: change the basic API structure to `jws.Verify([]byte, options)`, and handle keys by having users provide `KeyProvider`s
If we no `KeyProvider` can be detected, it is an error.

## basic idea

the jws verification process received multiple key providers.
A key provider may return multiple keys to be tried, for cases such as `jwk.Set`

[code]

## single key

[code]

Internally, creates a `Stat

[2022-02-20 23:06] lestrrat commented on #575
fixed by #576

[2022-02-20 23:06] #575 closed

[2022-02-21 00:06] cloudkucooland commented on #577
Looks good. Let me know when you start a 2.0 branch, I can migrate to it and start testing.

[2022-02-21 12:50] lestrrat commented on #577
## Changes on the `jwt` side

Most of the options will directly be translated into an equivalent `jwt.WithXXX` option.
However, `jwt.WithKeySetProvider` will have to go. This just doesn't work. See below for proposed workaround.

## single key

[code]

## a JWKS

[code]

## auto-verifying jku

[code]

## KeySetProvider will go away

Looking at the timing where this is possible, it will have to be

[2022-02-22 01:36] lestrrat commented on #577
I'm not creating a v2 branch for this yet, as I don't know if this is the approach that I will be end up taking.
But for those of you interested, there's [a branch that I worked on](https://github.com/lestrrat-go/jwx/tree/jws-new-signature). Feel free to test it if you are interested.

For the time being I'm done with the PoC above, and I'm going to sit on it for a while. No dates have been set fo

[2022-02-22 10:32] lestrrat opened #579 "[RFC] Change jws.Sign, remove jws.SignMulti"
Allow `jws.Sign()` to sign using multiple keys

## change the function signature

[code]

* `jws.Sign()` accepts a `jws.WithCompact()` or `jws.WithJSON()` option to determine serialization format. If neither is provided, `jws.WithCompact()` is assumed.
* `jws.Sign()` with a single key produces a JWS in compact serialization format.
* `jws.Sign()` with multiple keys produces a JWS in JSON serializa

[2022-02-25 08:00] lestrrat opened #582 "[RFC] Change jwe.Encrypt/jwe.Decrypt signature to match jws.Sign/jws.Verify"
## Change `jwe.Encrypt`

[code]

The minimal incantation should just be as simple as this. The content encryption algorithm and compression should have default values.

Add `jwe.WithCompact()` and `jwe.WithJSON()` options to change serialization.

## Change `jwe.Decrypt`

Similarly, change `jwe.Decrypt`

[code]

## Reconsider PostParer and DecryptCtx

[2022-02-28 13:28] lestrrat opened #585 "Remove `jwe.Message`.Decrypt() in v2.0.0"
It is pretty much impossible to decrypt a message that has already been parsed via jwe.Parse, because the format for the message including whitespace _matters_. Therefore jwe.Message should only be used for inspection purposes, and no actual work

[2022-02-28 13:30] lestrrat commented on #579
implemented via #581

[2022-02-28 13:30] #579 closed

[2022-02-28 13:34] lestrrat opened #586 "[RFC] Match jwe.Decrypt with jws.Verify for v2.0.0"
We should be able to pass multiple keys to decrypt with, we should be able to pass JWKS, we should be able to let the user access the jku so the key can be found, etc.

[2022-02-28 13:49] lestrrat commented on #585
closed by #587

[2022-02-28 13:49] #585 closed

[2022-03-02 05:20] lestrrat commented on #582
fixed by #589

[2022-03-02 05:20] #582 closed

[2022-03-02 05:21] lestrrat commented on #577
Most of this is done. closing for now

[2022-03-02 05:21] #577 closed

[2022-03-03 00:29] lestrrat opened #595 "Remove JWE support from jwt.Parse for v2.0.0"
I just cannot find a symmetric and easy-to-remember API to support _both_ JWS and JWE from within `jwt` package.

The problem I wanted to solve was to make `jwt.Parse` work in all of the following cases:

* raw JWT
* JWS(JWT)
* JWE(JWT)
* JWS(JWE(JWT))
* JWE(JWS(JWT))

But I think I overstretched. This `jwt.Parse` is going to focus on the following two cases:

* raw JWT
* JWS(JWT)

If JWE is tosse

[2022-03-03 00:37] lestrrat opened #596 "Fix jwt options for v2.0.0"
Currently they are a mess. tidy up, generate where we can, and reduce redundancy

[2022-03-03 01:55] #596 closed

[2022-03-03 01:55] #595 closed

[2022-03-03 03:18] alanbernstein opened #598 "Vulnerability in golang.org/x/text v0.3.0"
From https://nvd.nist.gov/vuln/detail/CVE-2020-14040:

While trying to resolve this in my own project, I found that jwx requires this vulnerable version of golang.org/x/text. Can this dependency be updated to a newer version here? I started working on a branch, but I'm not actually sure how to pin a transitive dependency.

It looks like there is a similar issue with the golang.org/x/crypto package

[2022-03-03 05:10] lestrrat commented on #598
Seems like it's golang.org/x/crypto

[code]

[2022-03-03 05:55] #598 closed

[2022-03-03 05:58] lestrrat commented on #598
@alanbernstein Thanks for the heads up!

[2022-03-12 16:19] cblims opened #645 "How to add do I include my public key/x5c in JWT header"
I'm currently trying to authenticate to an api which uses private_key_jwt, and they require the header x5c to be included in the header of the JWT. I've successfully signed a JWT token with private key (imported from PEM) and tried to manually include the certificate chain as key x5c. The key is not included in the final JWT. Does it filter the x5c key?

I can't find any examples how to include th

[2022-03-12 22:54] lestrrat commented on #645
I'm going to close this for now [because you have shown no code](https://github.com/lestrrat-go/jwx/blob/main/DISCLAIMERS.md#rule-2-please-provide-code-for-technical-issues
), but feel free to reopen when you have some code

[2022-03-13 12:01] lestrrat commented on #645
AAAAAAH, I see. I think I never used and I never really had anybody use _JWS_'s `x5c`, and I see what the problem is.
JWK's X509CertChain is a special type using `jwk.CertificateChain` object, but JWS is using `[]string`, and yes, I see why you would have problems.

For the time being, the way you wrote is correct, and I don't think I will be able to change that field for `v1`
For `v2`, though, I

[2022-03-13 12:12] cblims commented on #645
Thanks!
Solved it by doing this:
[code]

[2022-03-14 03:26] lestrrat commented on #645
It's somewhat more standardized in v2 now.

[2022-03-14 03:26] #645 closed

[2022-03-15 03:49] lestrrat opened #649 "jwk.AutoRefresh changes"
* rename? some people are using it as a cache of sorts. no idea yet
* Add a way to modify JWKS returned before storing. #643

[2022-03-15 22:43] #649 closed

[2022-03-16 08:20] lestrrat opened #652 "Remove jwk.AutoRefresh and make it a standalone module"
in anticipation of v1 and v2 diverging, I think we should decouple it and create a `jwkcache` module

[2022-03-23 02:55] lestrrat commented on #652
Having explored this a bit, the entire jwk fetching will need to be offloaded
https://github.com/jwx-go/jwkfetch

[2022-03-23 13:39] lestrrat commented on #652
Turns out the above doesn't work because then we'd be locked in a single version of github.com/lestrrat-go/jwx. Decided to implement a shim over github.com/lestrrat-go/httprc inside github.com/lestrrat-go/jwx

[2022-03-24 23:18] lestrrat commented on #652
v1 won't be able to just migrate over to httprc.Cache, but I suppose it should be possible to keep `jwk.AutoRefresh` as is, and create a new `jwk.Cache`

[2022-03-25 03:13] #652 closed

[2022-03-29 09:51] lestrrat opened #669 "Migrating from Java to Go"
### Discussed in https://github.com/lestrrat-go/jwx/discussions/664

<div type='discussions-op-text'>

<sup>Originally posted by **servlette** March 29, 2022</sup>
Hi,
I have a JWK key like the following:

[code]
I am into migrating an app functionality from `Java` to `Golang` and I can't just go ahead and update the JWK JSON to include `p` in it or create a new JWK for `Golang` as the existing on

[2022-03-29 10:03] lestrrat commented on #669
@servlette can you please check the fix (don't have to check both, just use the one you are using)

* Proposed fix for v1 in [v1-fix-gh-664](https://github.com/lestrrat-go/jwx/tree/v1-fix-gh-664) branch
* Proposed fix for v2 in [v2-fix-gh-664](https://github.com/lestrrat-go/jwx/tree/v2-fix-gh-664) branch

[2022-03-29 16:02] servlette commented on #669
@lestrrat Couldn't get the `v2` fix tested as I see the following error:

go.mod:

[code]

[code]

Whereas I got the v1 fix getting compiled:

go.mod:

[code]

After running `go mod tidy -compat=1.17` my go.mod file was updated to:

[code]

[2022-03-29 16:43] servlette commented on #669
Got V2 working:

Here is the sample JWT generated for it:

[code]

Thanks @lestrrat

[2022-03-29 17:56] decentralgabe opened #670 "Question on expected usage of optional build tags"
The docs [note that you need a build tag](https://github.com/lestrrat-go/jwx/blob/main/docs/20-global-settings.md#enabling-optional-signature-methods) to enable the `secp256k1` signing algorithm.

In my code that uses this library, I've added `//go:build jwx_es256k` to the file(s) that use this functionality. I've noticed that compilation will fail for any code that uses secp256k1 signing in its c

[2022-03-29 18:26] #670 closed

[2022-03-29 22:46] lestrrat commented on #670
You don't need to add build tags to your source code. You do, however, need to build or test using the tag: `go build -tags jwx_es256k` or `go test -tags jwx_es256k`.  Unfortunately there is no way in Go to enable this from within the source code, so you will need to hook it up in your Makefile or whatever, and also tell your library users to enable it themselves.

[2022-03-29 22:56] lestrrat commented on #669
This has been merged. v1 now has a new release 1.2.21. v2 has no public releases yet, so no release has been made.

[2022-03-29 22:56] #669 closed

[2022-03-29 23:05] decentralgabe commented on #670
Thank you @lestrrat, this is what I figured (and why I closed the issue early). I'd love to see some sort of dynamic enablement without a build tag, such as using the existing [options pattern](https://github.com/lestrrat-go/jwx/blob/main/jwt/options.go#L63).

[2022-03-29 23:59] servlette commented on #669
Thanks @lestrrat When are you planning to make an official `v2` release?

[2022-03-30 00:00] lestrrat commented on #669
No fixed date, but the plan is to do it in April: https://github.com/lestrrat-go/jwx/discussions/638

[2022-03-30 00:05] servlette commented on #669
Thanks. One minor thing I would like to call out is when I pasted the JWT string in jwt.io, I did see a warning "Invalid signature" though I was able to generate the JWT and verify it with the public RSA key using your updated V2 SDK. Not sure if it is something to do with the RSA built off of my JWK or something else which I can ignore.

[2022-03-30 00:24] lestrrat commented on #669
That's not nearly enough information for me, but one guess is maybe your time-related claims were wrong, and **JWT Validation** (not JWS verification) was failing?
At least the value for `exp` was nearly 7 hours since expired.

<img width="495" alt="image" src="https://user-images.githubusercontent.com/49281/160727006-30b11e61-8548-4c36-9f24-e1387b884578.png">

[2022-04-04 05:34] lestrrat commented on #388
Closing this as I release an alpha version today

[2022-04-04 05:34] #388 closed

[2022-04-06 19:44] atzawada opened #678 "Verify JWT signature after JWT has already been parsed"
I'm looking for a way to verify the signature of a JWT with a JWK set after it has already been parsed into a `jwt.Token` struct. For my use case, I would like to keep the parsing and validation logic separate, so I need a way to either validate the signature when I have the `jwt.Token` form or I need a way to get the string representation of the JWT so I can send it back to `jwt.Parse`. Any sugge

[2022-04-06 23:58] lestrrat commented on #678
What do you want to do in between the parsing and verification? [Please provide code](https://github.com/lestrrat-go/jwx/blob/develop/v2/.github/CONTRIBUTING.md#please-include-pseudocode-for-any-technical-issues).

Also, this is a very minor detail, but at least in this library ["validation" and "verification" are two separate steps](https://github.com/lestrrat-go/jwx/blob/develop/v2/docs/01-jwt.m

[2022-04-07 00:27] atzawada commented on #678
Thanks for the quick response!

We want to be able to perform _verification_ of the JWT's signature separately, sorry for the confusion.

I work on an application that uses JWT as a signing and storage mechanism for software supply chain events. I'm not sure how much of the code I can really provide since it is an internal project, but the gist is this:

We have a client that is composed of two pi

[2022-04-07 01:03] lestrrat commented on #678
Even if that's the case, you should be able to provide pseudocode. Please understand that I do this guessing game to understand what reporters are talking about for **_every single_** issue that comes without code. I know you're not trying to be mean or anything, but having to decipher everybody's intentions about their code through conversation _really_ gets to me.

Please be a good example for t

[2022-04-07 03:47] atzawada commented on #678
Sorry to cause any confusion, here is some pseudo-go code that would hopefully help you understand our use case. Sorry for the alphabet soup but I am trying to keep this as generic as possible.

We have our client code with the following interfaces
[code]

And a client implementation that looks like this:
[code]

For the DTO, store, and the validator, we have a default JWT-based implementation:

[

[2022-04-07 04:27] lestrrat commented on #678
Ah, okay.

There are some details that still escape me, but if I'm reading this right, this is a case where you would have to carry the raw signed JWT payload all the way through. Probably your `JWTBasedDTO` needs to be:

[code]

Then you can do the verification wherever/whenever you want.
(I have a slight feeling you might be able to combine `jws.Parse()` and the like for your usecase, but I'm no

[2022-04-07 04:46] atzawada commented on #678
Yeah, I think that's where I am ultimately headed with this, will probably have to store the `jwt.Token` and the raw JWT string in the DTO structure.

My knowledge of JWS isn't overly great, but I would agree with the statement that tracking the JWS header information should not be part of the JWT functionality in this module. I guess the only improvement I could see is if the `jwt.Token` carried

[2022-04-07 04:46] #678 closed

[2022-04-07 04:53] lestrrat commented on #678
Yeah, I understand the sentiment, but here's the tricky bit:

[code]

Now, further down the road, these two tokens would behave different behavior:

[code]

So I agree that it's a bit frustrating from the user's side, but I'd argue that the RFC is flawed in that while JWT would almost always require signing, signing is NOT part of JWT, but instead it's wrapped in a separate mechanism which is JWS

[2022-04-08 10:40] ferdypruis opened #681 "Verify base64-encoded detached payload"
**Describe the bug**
Using v1.2.21, when singing a detached payload the payload is base64 encoded before calculating the signature. But when verifying detached payload it is not encoded, causing verification errors for proper signatures.

**To Reproduce / Expected behavior**
[This simple implementation](https://go.dev/play/p/VAFO_XsAQ3n) fails, due to the signature being based on base64-encoded pa

[2022-04-08 10:43] ferdypruis commented on #681
Seems related to #541

[2022-04-08 10:47] lestrrat commented on #681
Thanks, looking at it...

[2022-04-08 10:55] lestrrat commented on #681
Everything checks out. I can't believe I didn't test this case :/

Thanks for reporting! Will be merging soon, and will fix that link

[2022-04-08 10:56] lestrrat commented on #681
Oh, you have a PR? Should I wait?

[2022-04-08 10:58] ferdypruis commented on #681
No PR, go ahead.

[2022-04-08 11:15] lestrrat commented on #681
For the record I ported the equivalent test to develop/v2 branch, and it didn't cause any problems. I guess this was taken care of in v2 branches, as it did receive a fair bit of refactoring.

[2022-04-08 11:21] lestrrat commented on #681
[v1.2.22 has been released](https://github.com/lestrrat-go/jwx/releases/tag/v1.2.22) and my silly typo in the issue templates have been fixed. Thanks @ferdypruis

[2022-04-08 11:21] #681 closed

[2022-04-08 11:29] ferdypruis commented on #681
That's quick! Much appreciated.

[2022-04-15 12:38] sazzer opened #687 "Ability to use jwk.Cache as jwt.KeyProvider"
(NOTE - I apologize in advance if this functionality already exists. I did look and didn't find it but that doesn't mean it's not there!)

**Abstract**
The `jwk.Cache` mechanism provides a really easy way to get `jwk.Set` keys, with only requesting them as needed. And it's great.

The `jwt.Parse` mechanism allows for a `jws.KeyProvider` interface/function to be provided that will dynamically look

[2022-04-15 12:42] lestrrat commented on #687
hi, am reading this from my phone so I haven't looked at it too closely, but where does the key (url) come from?

[2022-04-15 12:49] sazzer commented on #687
Apologies - it's from the application configuration pointing to the JWKS
URL. In this exact case it's Auth0 so it's https://<tenant>.
eu.auth0.com/.well-known/jwks.json, but realistically it's just the URL to
the auth providers keyset.

On Fri, 15 Apr 2022 at 13:42, lestrrat ***@***.***> wrote:

[2022-04-15 12:56] lestrrat commented on #687
oh I get it.

hmmmmmmm. would it be possible to write an object that mimics being a jwk.Set, but internally uses jwk.Cache...? then you would be able ti just pass it to WithKeySet...?

[2022-04-15 13:00] sazzer commented on #687
Probably. I've got one that is a jws.KeyProvider and that works well
enough. It's just a shame that it's not a core offering in the library was
all.

On Fri, 15 Apr 2022 at 13:57, lestrrat ***@***.***> wrote:

[2022-04-15 13:16] lestrrat opened #688 "Look for remaining TODOs from v1"
I just realized there was this in jwk.Set:

[code]

There seems to be a few more out there, and these need to be fixed before releasing v2.0.0

[2022-04-15 13:19] lestrrat commented on #687
Well, what I meant was, "would it be possible to write (in the core library)...". And I think it works.

[code]

and then just implement the rest of methods.

[2022-04-15 13:38] sazzer commented on #687
Aha - whatever you think makes the most sense 🙂

Cheers

On Fri, 15 Apr 2022, 14:19 lestrrat, ***@***.***> wrote:

[2022-04-15 13:51] lestrrat commented on #687
@sazzer I pushed a quick implementation (not tested) https://github.com/lestrrat-go/jwx/tree/gh-687

As it's  almost 11pm on a Friday night where I live now, I don't think I will be working on this too much but if you feel like giving it a whirl, please let me know what you think.

(Note to self:  I need to fix #688 before merging this)

[2022-04-15 14:02] sazzer commented on #687
Oh wow. I mentioned this as a potential improvement, and didn't expect a
solution within an hour of raising it. Especially on Good Friday!

Another potential option that occurred to me would be to create the concept
of a `KeySetProvider`, which would then just provide a `jwk.Set` and let
the normal behaviour with that work. The same as `KeyProvider` but for the
whole set. Though what you've alread

[2022-04-15 15:38] sazzer commented on #687
Just FYI - I've just tried it out and it works great :)

Thanks for the incredible turnaround!

[2022-04-16 01:16] #687 closed

[2022-04-16 01:16] #688 closed

[2022-04-19 22:48] ste93cry opened #706 "Return custom errors for most common cases instead of generic `Error` or `ValidationError`"
**Abstract**
While building my own HTTP handler to verify a JWT token, I realized that besides some validation errors this lib always returns generic errors. The problem with this approach is that I have no way to know what the error really is, besides parsing the message, and this make things complex in case a specific error should be returned upstream. For example, I may want to return a differe

[2022-04-19 22:53] lestrrat commented on #706
I can see some missing error types from your table, but you can already do `errors.Is()`:

https://github.com/lestrrat-go/jwx/blob/7a86ab3acef7846016d103708bd327a8451f37b2/jwt/validate_test.go#L223

Or am I missing something?

[2022-04-19 22:53] lestrrat commented on #706
It's also in the docs https://github.com/lestrrat-go/jwx/blob/develop/v2/docs/01-jwt.md#detecting-error-types

[2022-04-19 22:59] ste93cry commented on #706
You're right, while compiling the table I got confused: as you said some errors like `ErrTokenExpired` are already available. The rest though are treated just as plain `Error` or `ValidationError` errors, and if I'm not wrong there's no way to distinguish them besides their error message

[2022-04-19 23:08] lestrrat commented on #706
First off, I don't agree that TokenMalformed and TokenSignatureInvalid should be specific errors. Those are parsing problems, and there are a myriad of ways that parsing can fail, and I don't agree that only these two should receive special treatment, nor that each minor error type be represented as an its own type.

Not sure about InvalidId (actually, I don't know that this means) and InvalidClai

[2022-04-19 23:50] ste93cry commented on #706
`TokenMalformed` should be thrown if parsing fails, for example if the number of segments of the JWT is not the required one or if a segment is not valid JSON. I don't expect it to be used to report specific situations besides the general "parsing error". Maybe for the end user it makes sense to return a `401 Unauthorized` in all cases, maybe a `400 Bad Request` would better fit to describe a prob

[2022-04-19 23:58] lestrrat commented on #706
Ah, is SignatureInvalid error for JWS verification failure? that's a possibility, then. But the name should definitely not be "SignatulreInvalid": I can take `VerificationError` or similar which contains the word Verify/Verfication.

Not convinced about TokenMalformed. Sounds like a verification error, validation error, and everything else should do the job.

[2022-04-20 00:26] ste93cry commented on #706
Yes, it is. About the name, it comes from `golang-jwt/jwt`, but I have no strong opinion, so if you think that `VerificationError` better fits this lib, then I'm all in!

I'm not a native English speaker, so at my eyes the "malformed" word looks appealing. Otherwise, what about `ErrTokenFormatInvalid`?

[2022-04-20 00:32] lestrrat commented on #706
No, it's not about the naming. I don't want to create specific error types for parsing failures.

This library consists of `jws`, `jwe`, `jwk`, `jwt`, and it tries very hard to be symmetric (i.e. $pkg.Parse for each package _feels_ uniform/consistent with respect to other packages). When you start creating specific error types for parsing errors, it opens up a can of worms to align other packages

[2022-04-20 00:45] ste93cry commented on #706
I understand that symmetry is important,but in the end all those standards at some point must return an error if parsing fails, and the point is to return something that has a specific type so that I can intercept that kind of failure. If the name of the error is ErrParseFailure or something else, that is just a matter of agreement so that it's not too specific and not too general. Said this, if y

[2022-04-20 00:47] lestrrat commented on #706
Sorry, the answer is no.

If you have more to say, please use (pseudo)code that represents exactly what you want to do / what you can't currently do.

[2022-04-20 10:29] elirankon opened #707 "How to add `alg` to generated JWK?"
Hi,

I've used the samples in the documentation to generate a RSA JWKS. However, I see that `alg` is not set
[code]

How should I set the `alg` field? I feel like using `Set("alg","RS256")` is a bit brute-force, no?

Thanks for the help!

[2022-04-20 10:47] ste93cry commented on #706
Let's suppose that you are writing some tests to check that the function that parses and verify the JWT token works as expected. Let's also suppose that the test is a table-driven test, where the input is the token and the output is the expected error, if any. The final purpose of the the test is to ensure that the verification process takes into account the configuration passed via `jwt.With...()

[2022-04-20 21:38] lestrrat commented on #706
I wrote `As for the rest, sure, but I'm not terribly excited about the idea so my motivation to implement this is meh: so PRs welcome` so I'm not saying you can't have custom errors.

I'm saying I won't allow for parse (invalid format) errors, i.e. equivalent of TokenMalformed errors. You can send me a PR for your RequiredClaim error type, and I will happily accept it.

[2022-04-21 22:52] ste93cry commented on #706
While trying to look at how to implement the `ErrRequiredClaimMissing` (or whatever we want to call it) I realized that the error message is dynamic because it contains the claim's name. However, this means that I cannot do something along the lines of `var ErrRequiredClaimMissing = NewValidationError(...)`. The other way of creating an error that I know is to implement a custom `struct`, however

[2022-04-21 23:03] lestrrat commented on #706
It's definitely possible. This is straight out of the `errors.Is` documentation:

Example whipped out in 5 min (i.e. not thoroughly tested, but I think it handles all cases):

https://go.dev/play/p/jfGA5DWYt58

[2022-04-21 23:06] ste93cry commented on #706
Oh, completely missed out that little bit of the doc. Thanks for pointing it out, as a newbie of Go it will help me in the future as well

[2022-04-23 21:28] ste93cry commented on #706
Opened it! Just wondering if you would be open to also add the errors `ErrTokenInvalidAudience`, `ErrTokenInvalidIssuer` and `ErrTokenInvalidId`: since there are already errors specific for the other common standard claims, for consistency it could be valuable to have them

[2022-04-23 23:52] lestrrat commented on #706
Yes, but please follow the existing pattern (see #714). I _really_ don't want to expose error types.
This is because once you expose error types, it becomes really hard to modify them in the future. We had limited access to error types by only exposing an interface and functions to return the error for this. Things would be different if users could write `jwt.SomeRandomError{}` in their code.

[2022-04-23 23:53] lestrrat commented on #706
closed by #714

[2022-04-23 23:53] #706 closed

[2022-04-28 08:15] ste93cry opened #719 "`jwt.isValidationError()` false negative for `ErrMissingRequiredClaim`"
**Describe the bug**

When implementing the `missingRequiredClaimError` `struct`, the `isValidationError()` function was not updated to take into account the new error. I though it was working because of the `err.(*validationError)` cast, but I forgot that the `struct` is not an instance of that.

`go version go1.18.1 windows/amd64`

**To Reproduce / Expected behavior**

[code]

[2022-04-28 08:33] #719 closed

[2022-05-04 19:15] changpil opened #724 "CVE risk on version of golang.org/x/crypto/ssh"
**Describe the bug**

golang.org/x/crypto/ssh before 0.0.0-20220314234659-1baeb1ce4c0b in Go through 1.16.15 and 1.17.x through 1.17.8 allows an attacker to crash a server in certain circumstances involving AddHostKey.

Reference:
https://www.whitesourcesoftware.com/vulnerability-database/CVE-2022-27191
https://groups.google.com/g/golang-announce/c/-cp44ypCT5s

**Additional context**
golang.org/x/

[2022-05-05 00:49] #724 closed

[2022-05-05 13:49] drPytho opened #730 "Adding the same key twice causes an error, though documentation claims it should not"
**Contribution Guidelines**

Before filing an issue, please read the contents of [CONTRIBUTING.md](https://github.com/lestrrat-go/jwx/blob/v2/.github/CONTRIBUTING.md), and follow its instructions.

**Describe the bug**

The documentation claims that [adding the same key twice will not generate an error](https://github.com/lestrrat-go/jwx/blob/v2.0.0/jwk/interface.go#L52=), however looking at the c

[2022-05-05 22:36] lestrrat commented on #730
Thanks! That's a documentation bug for v2. Will add in Changes-v2.md, and fix the documentation in for `type Set`

[2022-05-05 23:31] lestrrat commented on #730
fixed via #731

[2022-05-05 23:31] #730 closed

[2022-05-06 05:33] miniscruff opened #734 "Updated at type is wrong for auth0"
**Describe the bug**
When using Auth0 as a provider there is an issue with parsing the OpenID token due to a type mismatch:
[code]
This was reported here on the auth0 forums: https://community.auth0.com/t/oidc-id-token-claim-updated-at-violates-oidc-specification-breaks-rp-implementations/24098 and as such I don't really expect you to support it as it goes against spec.

Please attach the output o

[2022-05-06 06:04] lestrrat commented on #734
This is just me responding without taking a deep look at it, but I think I can work around it. Give me a sec.

[2022-05-06 06:30] lestrrat commented on #734
@miniscruff Care to try https://github.com/lestrrat-go/jwx/tree/gh-734

[code]

[2022-05-06 06:34] lestrrat commented on #734
I thought about allowing users to specify alternate types/parsers, but I figured this is a simple escape hatch for an unfortunate implementation, so I think something global like this should suffice. Also, nobody gets hurt even if a field representing a date can parse one extra format, I think.

[2022-05-06 06:58] miniscruff commented on #734
I think that is working, I am getting `failed to parse payload: "aud" not satisfied` which is farther then I was getting before and sounds more like my own problem.

[2022-05-06 07:34] lestrrat commented on #734
@miniscruff Great. I'm going to create a PR and merge the changes, but since this is something that I just whipped out in a few minutes, I don't want to rush to make a release. Meanwhile, please look at the commit SHA after the merge, and use that in your projects until a release is made.

Oh, and please beware that the API may change before the release.

[2022-05-06 07:39] #734 closed

[2022-05-10 06:42] kishvanchee opened #736 "failed to parse jws: failed to unmarshal jws message: required field "signatures" not present"
Thank you for the library. I have a minor issue which I feel can be resolved if I could understand the library better. I am trying to decode a token generated by another service. The token is generated using this library - [python-jose](https://github.com/mpdavis/python-jose/) I am trying out the example shown in the README since that's the same process used to encode the data.

**Describe the bug

[2022-05-10 06:54] lestrrat commented on #736
@kishvanchee

## Short answer

The main problem you have is that symmetric keys are represented as `[]byte`, not string. So converting it to `[]byte` would do the trick.

[code]

## Longer answer

In jwx, keys can either be `jwk.Key`, or [raw keys](https://github.com/lestrrat-go/jwx/blob/develop/v2/docs/04-jwk.md#raw-key). Raw keys can be `*rsa.PrivateKey`, `*ecdsa.PrivateKey`, and others. This al

[2022-05-10 07:09] kishvanchee commented on #736
@lestrrat thank you, that was helpful. That solved my problem.

Thank you for the nitpick. That's something new for me. :)

Thank you again for the library.

[2022-05-10 07:09] #736 closed

[2022-05-17 22:44] lestrrat opened #743 "[chore] Fix codecov"
After we shuffled around the branches, codecov isn't working as expected.
I'm sure this is something silly, but I personally am not _that_ into the code coverage game and don't feel like spending time on it. It would be nice if someone knowledgeable can give me a hand.

[2022-05-17 23:22] thomasrockhu-codecov commented on #743
@lestrrat, Tom from Codecov here. I noticed two things

1. The [Codecov GitHub app](https://github.com/apps/codecov) needs to be installed
2. The default branch (`develop/v2`?) is not being set [here](https://app.codecov.io/gh/lestrrat-go/jwx/settings)

[2022-05-17 23:24] lestrrat commented on #743
OMG, I didn't expect somebody from codecov to jump in so fast! (egosurfing much? :)
Thank you very much, and let me check your suggestions

[2022-05-17 23:39] thomasrockhu-codecov commented on #743
Ha! Something something slack integration 🤷‍♂️. Let me know if that doesn't work for you!

[2022-05-23 11:32] tomhoward87 opened #744 "aescbc unpad function removes too much padding"
I think there may be a bug in the following function in the `aescbc` package - I'm not an expert so this may be an issue on the provider end (unfortunately I am unable to share actual examples or more details due to confidentiality) but I managed to pin it down to the following function:

[code]
The padding is made up of the number of bytes e.g. the last 9 bytes are all 9, or the last 11 bytes are

[2022-05-23 11:53] lestrrat commented on #744
oooooh... hmm, that piece of code looks like something that came out of the very very very first generation of my code (in fact it seems to exist in code from at least 5  years ago, probably a bit older). And I really don't remember if I just copied from elsewhere or I came up with it, but reading the PKCS#7 padding behavior once again, I think you might be right

Are you using v2? If so does this

[2022-05-23 12:01] tomhoward87 commented on #744
@lestrrat Yes, that fixes it, thanks for getting back to me so quickly!

[2022-05-23 12:05] lestrrat commented on #744
Okay, well I'm glad it resolved your issue, but let me think about how to release fixed versions, as I haven't checked the status of v1 yet.

[2022-05-23 13:00] lestrrat commented on #744
Releases made. Thank you!

[2022-05-23 13:00] #744 closed

[2022-06-28 06:57] WingGithub opened #763 "jwt Validation of iat, nbf and exp is randomly skewed by truncating the time variables under comparison by a second."
IsIssuedAtValid(), IsExpirationValid(), and IsNbfValid(), wraps functions that does time comparison in a baffling manner. The time values are truncated to the second before they are compared. This makes no sense because it introduces a random amount of skew (up to a second) to the comparison. It would be more correct to introduce an default acceptable amount to skew time to the comparison and comp

[2022-06-28 06:58] lestrrat commented on #763
Thank you for your report, but [please provide test cases](https://github.com/lestrrat-go/jwx/blob/develop/v2/.github/CONTRIBUTING.md#please-include-pseudocode-for-any-technical-issues)

[2022-07-02 22:13] msackman opened #772 "bad index out of range test"
https://github.com/lestrrat-go/jwx/blob/0617ca842b7793bf038c3a8a7c47c71a02c41f37/cert/chain.go#L51

You want `... index >= len(cc.certificates)`

[2022-07-02 23:02] lestrrat commented on #772
@msackman thank you for spotting the issue. can you please create a PR for it?

[2022-07-19 01:34] #772 closed

[2022-07-19 01:34] #763 closed

[2022-07-20 09:38] lestrrat opened #784 "[chore] Fix flaky tests"
There are some flaky tests around the jwk.Cache tests. Would be nice to fix them one of these days

[2022-07-25 01:52] lestrrat commented on #596
This is just me testing the GitHub API. Please ignore

[2022-08-10 18:26] pawel-ochrymowicz opened #789 "X.509 URL key - wrong value"
Accordingly to [RFC 7517](https://www.rfc-editor.org/rfc/rfc7517#section-4.6) `x5u` key should be used for X.509 URL parameter.

Current value is `x58` (probably typo).

Where: `interface_gen.go`

[2022-08-10 20:39] lestrrat commented on #789
OMG. I had no idea this crept in!!! Thank you

[2022-08-11 00:16] #789 closed

[2022-08-23 01:14] zzycn003 opened #801 "any plan for paseto ?"
Thanks for the great library. Do you have any plan to support paseto ?

thanks

[2022-08-23 01:20] lestrrat commented on #801
I don't know much about PASETO, but at a first glance it doesn't look like it's something that a JOSE standards library can just "support", as serialization formats seem pretty different

[2022-08-23 01:21] zzycn003 commented on #801
thanks for your response.

quoted from paseto.io:  Paseto is everything you love about JOSE (JWT, JWE, JWS) without any of the [many design deficits that plague the JOSE standards](https://paragonie.com/blog/2017/03/jwt-json-web-tokens-is-bad-standard-that-everyone-should-avoid).

[2022-08-23 01:21] lestrrat commented on #801
Uh, yes, but have you actually read the specifications. They are different enough that if anything they would be a separate code base

[2022-08-23 01:36] #801 closed

[2022-08-25 00:11] ng-druid commented on #464
I've been away working outside the api but have picked it up again. Would like to figure out what is going on here. I have included a screen shot of what I'm seeing in the terminal when attempting to compile.

<img width="1440" alt="Screen Shot 2022-08-24 at 8 10 13 PM" src="https://user-images.githubusercontent.com/73197190/186545586-41c1a000-712f-484e-bea9-1fb5cfb4f01d.png">

The code:

[code]

[2022-08-25 00:16] ng-druid opened #802 "M1 Silicon Mac Compile Failure"
When compiling on a m1 silicon mac the below errors occur. This was compiling fine when on a intel mac.

[code]

<img width="1440" alt="Screen Shot 2022-08-24 at 8 10 13 PM" src="https://user-images.githubusercontent.com/73197190/186545974-46750cf3-0ac2-4311-982c-f8189941c56b.png">

Source:

[code]

[2022-08-25 00:20] lestrrat commented on #802
I literally just copied your code on my Apple M1 mac running go1.18.5, and got:
![image](https://user-images.githubusercontent.com/49281/186546256-dc184d73-69ef-40a0-8d1c-80856d046250.png)

re: Basepoint, please see my [comment here](https://github.com/lestrrat-go/jwx/issues/464#issuecomment-919625312):

[2022-08-25 05:49] mirrayeesahmad opened #803 "How can we pass ECDH apv value for JWE"
How do we pass apv value

`package main

import (
	"crypto/ecdsa"
	"crypto/elliptic"
	"crypto/rand"
	"fmt"
	"github.com/lestrrat-go/jwx/v2/jwa"
	"github.com/lestrrat-go/jwx/v2/jwe"
	"log"
)

func main() {
	privateKey, err := ecdsa.GenerateKey(elliptic.P384(), rand.Reader)
	if err != nil {
		log.Printf("failed to generate private key: %s", err)
		return
	}
	payload := []byte("Message to Communicate

[2022-08-25 05:53] lestrrat commented on #803
Hi, this code does not compile.
Also, what is your expected behavior, and what is it giving you instead?

[2022-08-25 06:02] mirrayeesahmad commented on #803
Sorry i pasted wrong code. there was typo.

Here is the latest.
[code]
I need to pass apv when algo is ECDH_S.  it is shared between sender and receiver. i want to encrypt and decrypt using same apv.

[2022-08-25 06:12] lestrrat commented on #803
Ahhhh....

I'm currently away from my computer so I haven't got much more than play.golang.org to fiddle with, but seems like there might have been an omission in the Encrypt/Decrypt API to pass these extra values.

Will look into it further when I'm back in my seat

[2022-08-25 12:35] mirrayeesahmad commented on #803
@lestrrat  Thanks. Yes this seems working now.
 you are right i was setting headers same way you did in the test however i was having issue in decrypting message.
I message you on slack yesterday however, i didn't gave you context and full working code.

Thanks again.

[2022-08-25 12:57] ng-druid commented on #802
That could be the problem. The project uses [bazel](https://bazel.build/) and [gazelle](https://github.com/bazelbuild/bazel-gazelle).

source code: https://github.com/rollthecloudinc/verti-go

[2022-08-25 13:07] lestrrat commented on #802
I have no clue how to use bazel / gazelle, so I can't be of help there.
The only other advise that I can (blindly) give you is to perhaps run `go mod tidy`.

[2022-08-25 13:24] lestrrat commented on #803
@mirrayeesahmad release done. Thanks for the heads up.

[2022-08-25 18:36] mirrayeesahmad commented on #803
Thanks for speedy response! I really appreciate it.

[2022-08-26 16:50] flokli opened #806 "unable to `go run` / `go install` directly"
**Describe the bug**

I tried to execute the `jwx` binaries (from `cmd/jwx`) directly, through `go run`:

[code]

**To Reproduce / Expected behavior**

[code]

**Additional context**
I think it's due to the funky `go.mod` file in the `cmd/jwx` folder.

I read https://go.dev/doc/modules/managing-source, and it looks like it's not really supported to have nested go modules?

I tried removing `cmd/jw

[2022-08-27 09:22] lestrrat commented on #806
TBH I haven't taken a look at this tool for sometime now, but the thing is I kind of got tired of having to sync the cli and the library.

So for starters: I didn't want to include the CLI with the library because pulling the library should not have to include CLI tools.

Then regardless of its location, it needs to be a go module.
Now we are left with jwx the library and jwx the CLI.
jwx the CLI

[2022-08-27 09:39] flokli commented on #806
Hm. I can understand you don't want to add the CLI parser to the go.mod of the library, if you want to keep the dependency closure small.

However, the root `go.mod` also propagates multiple versions of `github.com/stretchr/testify` to library consumers, so not sure how bad `urfave/cli/v2` on top would be… ;-) It shouldn't end up in any consumer binaries, as testify doesn't.

If you want to keep t

[2022-08-27 09:44] lestrrat commented on #806
TBH I don't see jwx as the main dish of this module -- it's more like "Hey, you could do this if you want" type of tool.
So I'm ok with it being second-class citizen in the jwx family, possibly by instructing users to perform the three step install I described above (of course, it could be a bit more automated), and not allowing `go install`.

I believe I do owe a better/up-to-date (and correct) e

[2022-08-27 09:51] flokli commented on #806
Understood. But if this is meant more as an example on how to use the library, I'd really suggest to make it self-consistent (without the relative import replacement), so it can be copied around by people adopting it.

The `go.mod` doesn't need to be always bumped when you do a new release, only if you really actively want to land a fix in the CLI, or add a new feature there.

I checked other proj

[2022-08-27 10:03] flokli commented on #806
Ah, and apparently even with the approach currently used in the repo, you still need to bump go.sum whenever there's a change in the root `go.sum`, don't you?

[2022-08-27 10:56] lestrrat commented on #806
No, I want the jwx CLI to always be in sync. Otherwise it would confuse me when bug reports arrive. Trust me, I've been doing this OSS maintenance for 20 years.

[That can be semi-automated by including a check in the CI (the CI also checks for any new generated content)](https://github.com/lestrrat-go/jwx/tree/tidy-cmd)

[2022-08-27 11:26] flokli commented on #806
I'd argue bumping a go.mod could also be automated by GH actions, but hey, it's your decision. Thanks for exchanging opinions on this.

[2022-08-27 11:26] #806 closed

[2022-08-27 12:29] lestrrat commented on #806
If you are expecting me to write the code and maintain it, then right. It's my decision, and end of story.

But if you have an actual implementation that fulfills what I want, and are willing to help me maintain it, please feel free to enlighten and embarrass me for not being able to pull this off. Again, I'm not against the idea. I'm against doing anything more than minimal work to keep maintaini

[2022-08-27 12:43] lestrrat commented on #802
So out of curiosity, on my M1 mac I cloned the verti-go repo, installed bazel, and tried building `bazel build gazelle`. It ran without any errors.
How do I go about reproducing this error?

[2022-08-27 17:54] ng-druid commented on #802
That probably means the cause is a version issue of some kind related to bazel or gazelle.

[2022-08-29 17:35] kofalt opened #812 "Fetching key ID from JWT header"
Hello!
Excellent library. This is both a question and a feature request :)

I am working with a system that will have a large number of keys, and so not a good use case for `jwt.WithKeySet`. Instead, it would be best to check the `kid` in the header, fetch that key from another system, then validate.

I thought that it would be easy to do this with `jwt.ParseInsecure`, but I notice that `jwt.Token

[2022-08-29 23:35] lestrrat commented on #812
One thing that this module does is to follow the structure that is defined in the RFCs.

You may already know this, but I'm going to explain just for completeness: By definition JWT is a piece of raw data, with some fields that describe for whom the data is for (`aud`), until when it's valid (`exp`), etc -- that is, a JWT does not have any information that guarantees its contents are unmodified wh

[2022-08-29 23:59] lestrrat commented on #812
Here's some doc that paraphrases what I wrote in my earlier message: https://github.com/lestrrat-go/jwx/blob/develop/v2/docs/02-jws.md#parse-a-jws-message-and-access-jws-headers

[2022-08-30 04:51] kofalt commented on #812
This is a great answer! Thank you.

The jump from `Signatures()` to `ProtectedHeaders()` is exactly what I was missing.
After reading your comments, I agree that this design is a good idea and helps follow the RFC.

You're also right that I am using the `kid` to determine which key to verify the JWT. I had noticed the `jwt.KeyProvider` feature earlier but misunderstood its purpose - I thought it w

[2022-08-30 04:58] lestrrat commented on #812
Yeah, looks about right.

nit, but if you don't need to handle the case where KeyID is not available in the `key` variable, you can just use `key.KeyID()` so that you don't have to use the `_`.

[2022-08-30 05:16] kofalt commented on #812
Good point, edited. Thanks again for your help.

[2022-08-30 05:16] #812 closed

[2022-08-30 11:41] flokli commented on #806
If the "two repositories" proposal would have been an option, I would have helped with the PR in this repo, and the new structure in the other repo. There could have been some dependabot GH action automation in place that'll open a PR for you whenever you do a new release of the library, keeping the maintenance effort quite low, while still allowing `go run`/`go install`.

But yeah, so far all the

[2022-08-31 00:12] lestrrat commented on #806
I hear you. I know my requirements are pretty hard, but I was wondering if there was a ingenious way to do it.

One thing that I want to stress is, though, is that my requirements basically boil down to ">>**I**<< don't want to put do maintenance". So if you are up to long term commitment,  you can always volunteer to maintain `jwx` the CLI yourself, and my requirements are moot points. So if you

[2022-09-01 01:04] lestrrat commented on #806
Hmm? So you mean it's not that we had multiple `go.mod`s, but it was the `replace` directive?
I didn't really intend #809 to solve your problems (in my rudimentary testing it didn't quite work), so am just curious.

And speaking of which, the release.sh script is half-baked because I abandoned the idea of doing it right... I need to fix it
(it's not committing the result of `go mod edit` before ta

[2022-09-01 08:40] flokli commented on #806
The root-level go.mod still seems to be a problem for `go run`/`go install`, so no, I was wrong:

go: downloading github.com/lestrrat-go/jwx/v2 v2.0.4-0.20220829235828-19cd6e04796a
go: github.com/lestrrat-go/jwx/v2/cmd/jwx@19cd6e04796a754a5c74964e64ba1df62d172105: module github.com/lestrrat-go/jwx/v2@19cd6e04796a754a5c74964e64ba1df62d172105 found (v2.0.4-0.20220829235828-19cd6e04796a), but does no

[2022-09-04 23:41] lestrrat opened #816 "[v3] List of possible breaking changes"
* NO, there's no plan to do a v3 ATM. However, this acts as our memo.
* Please do not discuss or request new features in this issue -- create a new one instead
---

* Introduce context.Context as a parameter in top-level functions such as `jwt.Parse`
* Change the signature of various `Get(string) (interface{}, bool)` methods to `Get(string, interface{}) error`
* Change how code is generated to usi

[2022-09-11 07:21] mxfactorial opened #818 "move internal/iter to the iter package for convenient codegen"
**Abstract**

interface consumers cant use mocks from `mockgen -destination ./mocks/mock.go github.com/lestrrat-go/jwx/jwk Key` when `HeaderVisitor` [aliases](https://github.com/lestrrat-go/jwx/blob/19cd6e04796a754a5c74964e64ba1df62d172105/jwk/interface.go#L116) a type imported from an [internal](https://github.com/lestrrat-go/jwx/blob/19cd6e04796a754a5c74964e64ba1df62d172105/jwk/interface.go#L9)

[2022-09-11 07:36] lestrrat commented on #818
ah scratch my comment on the pr.

[2022-09-12 06:22] divmgl opened #819 "Auth0 access token cannot proceed with JWE encrypted payload without decryption parameters"
I was using this library to parse a JWKS public key and convert it to an `*rsa.PublicKey` which I could then feed into another library for verification. As part of this new application I'm looking to do it all within `jwx` because it seems simpler.

[code]

Unfortunately, I'm getting this error:

[code]

I'm... at a loss here. What exactly am I missing? The access key is provided to me by Auth0, s

[2022-09-12 06:35] lestrrat commented on #819
You are using v1?

[2022-09-12 06:40] divmgl commented on #819
So I noticed I was using v1 and switched over to v2. Thankfully, I'm not getting the same error. However I'm now getting a new error:

[code]

[2022-09-12 06:40] lestrrat commented on #819
Right, I think you are using v1.

In v1, we tried to work with messages that looked like `JWE(JWS(payload))` or `JWS(JWE(payload))` gracefully. In hindsight this was silly, so it has been removed as of v2.

In v1, the heuristic for determining the message type is done in `jwx.GuessFormat`. There are a bunch of reasons why `jwx.GuessFormat` would think that the payload is JWE, but here are some of

[2022-09-12 06:42] lestrrat commented on #819
So the error message says that it tried looking for the JWT payload inside Authorization header, and couldn't parse it. Did you check if you have a proper JWT payload in the authorization header?

[2022-09-12 06:43] divmgl commented on #819
So this is the header...

[code]
It's the Auth0 token. Another library is able to parse this token using the `rsa.PrivateKey` generated from your library, so I'm unsure why this wouldn't be working. Let me try extracting the header and feeding in the bytes to `Parse` to see what happens.

[2022-09-12 06:50] divmgl commented on #819
Wait a sec... that's odd. That JWT token has four segments. This is the token I'm receiving from Auth0...

[2022-09-12 06:50] lestrrat commented on #819
Before going any further, this is definitely wrong:

![image](https://user-images.githubusercontent.com/49281/189590037-d3b65554-f53f-497f-95df-4251b05d68ff.png)

And I do see 4 dots, so it definitely looks like a JWE encrypted message. In which case it would be syntactically valid to have two consecutive dots there, because that just means it's an empty protected header.

I have no clue about Aut

[2022-09-12 06:52] lestrrat commented on #819
This seems like a similar problem. Read the last response: https://community.auth0.com/t/auth0-access-token-is-missing-the-jws-payload/71674/5

[2022-09-12 06:56] divmgl commented on #819
Unreal... three hours wasted. Thank you for sending that over. Not providing an audience returns an encrypted payload.

THANK YOU!!!

[2022-09-12 06:56] #819 closed

[2022-09-12 10:25] lestrrat commented on #818
I've been pondering about it, but I have this nagging feeling that this is not what I want to do.
The immediate problem at hand is the mockgen, and I would like to fix that for you. But I have this feeling that the "correct" way would be to do something about those interfaces -- i.e. do I need it? Do the users need it? Can it be simply un-exported? Can we change it somehow so that they are more me

[2022-09-12 17:00] mxfactorial commented on #818
closed the prs

do you need `internal`?

[2022-09-12 17:00] #818 closed

[2022-09-12 22:34] lestrrat commented on #818
@mxfactorial internal was needed way back when, but I'm not 100% certain we do now.
For v2 I did revamp the entire "public" API, but for v3 I should probably revisit these things that are creeping out into the public API and decide their necessity and/or actual implementation.

[2022-09-12 23:32] mxfactorial commented on #818
option 2: patch with `find ./ -type f -exec sed -i '' 's/internal\//pkg\//g' {} \; && mv internal pkg`

remove `''` for gnu

[2022-09-13 00:12] lestrrat commented on #818
Yes and no: that's absolutely fine for your purposes, but my purpose for thinking this for v3 and not v2 is so that we make changes without breaking the public API (accidentally or not), so probably not a choice. I also want to take the opportunity to remove unnecessary public APIs if they are not really necessary (not that I have a particular offender in mind yet) -- but I want to think about thi

[2022-09-13 00:14] lestrrat commented on #816
things around the iterators (jwk.HeaderPair/HeaderVisitor/HeaderVisitorFunc) need a good hard rethink

[2022-09-18 04:02] #802 closed

[2022-09-27 22:34] lestrrat opened #823 "Data race in test"
From https://github.com/lestrrat-go/jwx/actions/runs/3138994634/jobs/5099793917

[code]

[2022-09-27 22:52] #823 closed

[2022-10-07 04:06] lestrrat opened #825 "[v3] RFC: Doing away with iterators"
The original reason why jwx came with iterators was because we wanted to make the objects in jwx goroutine safe at any cost, while allowing a map-ish feel to its operations. This stems from the fact that in the very early days the samples that we examined mostly were glorified maps:

[code]

The next step in the evolution was to make this sort of feel available, but also protect jwx objects to fro

[2022-10-07 04:32] lestrrat opened #826 "[v3] RFC: Changing the API for Get()"
Because all of jwx objects where allowed to carry both pre-defined and arbitrary fields that appear on the JSON objects, we needed two sets of accessors.

The first group consisted of accessors whose target fields were pre-defined, and their type known (and agreed on by the users) before hand. These field could have nicely named and typed accessors like the following:

[code]

This doesn't work fo

[2022-10-10 05:01] jwhitaker-swiftnav opened #827 "Ability to get `err` status from CachedSet"
Hey,
Thanks for your work on this.
I want to use `CachedSet`, but it looks like all of the methods hide any errors from the underlying cache. My use case is just to make sure the keyset is valid as a sanity check at init time.

Having something like `CachedSet.Refresh() (err)` that returns the `err` from `cached()` would be enough for my needs: I could then call this and be confident that the remo

[2022-10-10 05:05] lestrrat commented on #827
The CachedSet is not responsible for the refreshing action, and therefore does not have access to the errors. The fetch is also asynchronous, so it wouldn't make sense for CachedSet to have it.

if you want to access the errors,  you will need to work with the `jwk.Cache` object (which the `CachedSet` requires, anyway), and pass the proper ErrSink and handle the errors elsewhere.

[2022-10-10 20:13] jwhitaker-swiftnav commented on #827
I really just want an analogue to what you have in examples for using Cache directly:
[code]

The fact that it refreshes the cache is a side effect, I'm just after a straightforward way to check that the CachedSet I have just created is valid.

I know I can do exactly the above with the same `Cache` and `url` that I use to build the CachedSet, but it feels a bit off - "if I happen to refresh a cac

[2022-10-10 21:55] lestrrat commented on #827
Ah, so it's not that you want the `err` per se... I see.

[2022-10-10 22:12] lestrrat commented on #827
So I thought I'd give it a try wrote the code in about 5 minutes, then started the docs as to
how this method should be used, and I'm now confused as to the use case

The only use cases that I can come up with is either
1. Call `(jwk.CachedSet).Refresh` for every iteration
2. Call `(jwk.CachedSet).Refresh` periodically

And to me both of those don't make sense:

[code]

[code]

So ATM this sounds

[2022-10-10 23:17] jwhitaker-swiftnav commented on #827
Use case here is our key urls are not quite static, they can change in different environments, and we want to early exit if we've fat-fingered a config option (or if a dev is running this with their network cable unplugging or something else dumb).
So something like the snippet you provide in `Cache` doco would be perfect.
I'm happy to PR this if you are receptive.

[2022-10-10 23:21] lestrrat commented on #827
Yeah, but how are you going to call it / use it. Like, what's the frequency? What are the different environments?
The fact that you need this on the cached set itself means that you need to check this _while_ you are in your main JWKS-processing loop. So far the cases you described can perfectly be handled from a separate goroutine that controls the `jwk.Cache` object (i.e. NOT the `jwk.CachedSet`

[2022-10-10 23:28] jwhitaker-swiftnav commented on #827
1) We initialize the Cache with url, make a CachedSet from the Cache and persist it, then throw away the cache.

2) Then, later, when we want to start doing network checks, but still in app initialization, we (try to) verify that the CachedSet has a key in it or do an early abort.

We only have the CachedSet at 2), and indeed at any point in our app, because we throw away the Cache as an implement

[2022-10-12 20:47] jwhitaker-swiftnav commented on #827
The source is considered stable, the only validity check I want to run is on initialization. This is because the source can be affected by configuration and can therefore be subject to typos etc. If it works once I'm happy with the assumption that it will work forever, and to rely on the cache if it doesn't. Again, this is the same approach taken in the example you've provided in the doco for `Cac

[2022-10-13 00:50] lestrrat commented on #827
OK. If it's the initialization you are talking about, then you should be able to do with `cache.Refresh`, no? That's the one place that we explicitly set to check if a url is valid.

I'll edit my previous post's code to include a refresh after submitting this.

[2022-10-13 00:51] lestrrat commented on #827
Also, I realized there was a bug in my code (I didn't create a jwk.CachedSet, sorry)

[2022-10-13 00:54] lestrrat commented on #827
@jwhitaker-swiftnav Alright, hopefully the snippet makes more sense now. Sorry if that caused a confusion.

[2022-10-24 19:21] fehrnah commented on #826
Maybe we could use a generic version of the get method ?

Something like
[code]

and the use would look like

[code]

[2022-10-25 00:11] lestrrat commented on #826
At least of today, [no can do](https://github.com/golang/go/issues/49085)

[2022-11-04 03:23] #827 closed

[2022-11-05 08:07] xtrycatchx opened #834 "Problem when adding JWK in JWT Headers"
Hi,

My apologies in advance if my question is confusing.

Anyways, I am struggling on adding jwk field in the signed JWT token. Seems like if i add the field JWT in headers, it is being removed during signing.

I tried to add jwk in the token before signing like this:
[code]

and signed the token like this
[code]

however, the output `signedTok` did not reflect the `jwk` in the header, but the cu

[2022-11-06 23:12] lestrrat commented on #834
I can't be sure without complete code, but I think what's happening is that you are passing a `map[string]interface{}` where a `jwk.Key` is required for `headers.Set`. You would have noticed this if you checked for the return value of `headers.Set`:

[code]

[2022-11-07 01:15] xtrycatchx commented on #834
Thanks a lot, it works! Tried with your suggestion:
[code]
again used here
[code]

And got the expected output:
`eyJhbGciOiJFUzI1NksiLCJqd2siOnsiY3J2Ijoic2VjcDI1NmsxIiwia3R5IjoiRUMiLCJ4IjoiWUFYSWFtY1k5bUloY1RwM0J6eEJLUnpEcTdfTkE2cEpWZW15dFEyX2Y1cyIsInkiOiJabkxhME5ScTNtSGpndmVZaUtjLXA0bWRsQm0tengxc25zSUlmQkdJLWhnIn0sInR5cCI6IkpXVCIsIngtc3BlYyI6ImRpZDplYnNpOnpzUE5FTkQxM1pmSEdhZVFva2UyQ1k2S3BDZGZZekR

[2022-11-07 01:15] #834 closed

[2022-11-07 01:35] lestrrat commented on #834
FYI, it might just be better to create `ecdsa.PrivateKey`, and use `jwk.FromRaw(privateKey)`, because using `json,Marshal` and `jwk.ParseKey` could be inefficient. Haven't benchmarked it though.

[2022-11-07 05:31] lestrrat commented on #834
@xtrycatchx JFYI, yes, using `ecdsa.PublicKey` with `secp256k1.S256()` as the curve algorithm is much faster. See #835

[code]

[2022-11-12 03:20] davidmdm opened #836 "Per Token FlatAudience Option"
**Contribution Guidelines**

**Abstract**
I would like to be able to sign tokens with Flat Audience on a per token basis.
It is currently  possible to set this behavior globally via `jwt.Settings`, however it is not possible to to turn toggle this behavior at the time of signing the JWT.

The need for this feature arises when a JWT producer serves different clients with different `aud` format expe

[2022-11-12 03:30] lestrrat commented on #836
I'm not disagreeing with you, but

There's _that_ need in the wild? dang :)

[2022-11-12 04:08] lestrrat commented on #836
(note: this is me speaking aloud)

I suppose a per-object option could be created, which could be utilized for future enhancements.

One decision we have to make is how to store these options.
A bit flag is a natural fit for this sort of purpose because it encodes multiple options fairly compactly.
However, we would need to decide on how to work with the global settings.
Case in point, the followi

[2022-11-12 04:15] lestrrat commented on #836
Possible API

[code]

[2022-11-12 05:13] lestrrat commented on #836
@davidmdm I haven't ran too many tests, but if you are willing to give it a whirl, I have https://github.com/lestrrat-go/jwx/tree/gh-836

[2022-11-12 15:24] davidmdm commented on #836
To my mind, once a local token option is available, the global setting is worth deprecating. If I am controlling the token marshal behaviour via token options I don't need to set global options.

As a user, I wouldn't mind if you can't opt out of the global settings. I would avoid using them.

As for implantation I was simply going to extend "types.StringList" so you can change its marshalling beh

[2022-11-12 15:56] davidmdm commented on #836
Sorry, I had commented before without taking your branch for a whirl. I just did and it was great. Solves my problem exactly!
I tried running it with global settings set to true and false, and the local override always took precedence. The API is great!

[2022-11-12 22:45] lestrrat commented on #836
@davidmdm Cool. let me think/flesh out the details before implementing this in the main branch.

[2022-11-15 01:29] #836 closed

[2022-11-15 04:32] lestrrat commented on #836
@davidmdm FYI it has been released with v2.0.7

[2022-11-18 09:26] thomas-fossati opened #840 "go 1.19 `panic` due to missing EC key validation"
The following is `ExampleJWX` from the README slightly modified to read an EC key whose x-coord has been moved out of the P-256 curve.

[code]
go1.19 `crypto/elliptic` reacts quite drastically when it finds out it's operating on invalid curve points (see [release notes](https://tip.golang.org/doc/go1.19)):

_"Operating on invalid curve points (those for which the IsOnCurve method returns false, an

[2022-11-18 09:47] lestrrat commented on #840
I made #841 which fixes `jws.Verify`, but I think `jwe.Encrypt` may be susceptible to the same problem...

[2022-11-18 10:04] lestrrat commented on #840
Yeah, I patched jwe.Encrypt as well. Please let me know if this fixes your problems

[2022-11-18 10:33] thomas-fossati commented on #840
#841 fixes my repro:

[code]

Thanks @lestrrat for the super-quick patch!

[2022-11-18 11:55] lestrrat commented on #840
Cool. I think you know the drill: I'll merge, but I'm putting off a release until I either get enough stuff or I feel comfortable that nothing else broke or is missing.

Thanks for the headsup!

[2022-11-18 11:55] #840 closed

[2022-11-22 14:08] setrofim opened #850 "Confusing error when processing JWT with trailing garbage."
**Contribution Guidelines**

Before filing an issue, please read the contents of [CONTRIBUTING.md](https://github.com/lestrrat-go/jwx/blob/v2/.github/CONTRIBUTING.md), and follow its instructions.

**Describe the bug**

When attempting to process a JWT in JWS Compact format that does not have the "typ" header set and contains trailing data, `jwt.Parse` attempts to decode the token as uncompacted J

[2022-11-23 10:58] setrofim commented on #850
Works great. Thanks for the quick response!

[2022-11-23 13:50] lestrrat commented on #850
Cool. I merged it, but please be aware that I won't be making a release for a few days at least, in order to make sure that nothing else broke or I missed anything. Please use the unreleased version until then. Thanks for the heads up

[2022-11-23 13:50] lestrrat commented on #850
fixed by #851

[2022-11-23 13:50] #850 closed

[2022-11-24 12:34] matino opened #852 "The order of selecting correct key to verify signature"
First of all, thank you for all the amazing work!

I have a question regarding parsing the JWT with `jws.WithRequireKid(false)` option:
[code]

My use case is, that most of the time, the `kid` will be present, in very few cases, the `kid` will be missing. Currently, with `jws.WithRequireKid(false)`, the code always iterates over all the keys, no matter if the `kid` is present or not. This is not r

[2022-11-24 13:21] lestrrat commented on #852
I'm not saying that it isn't, but at the same time I'm not convinced that what you suggest is an optimization, because I haven't been presented with evidence that most of times the `kid` will be present. I'm willing to be convinced otherwise. For the time being though, by reading the RFC and seeing the examples that are around in my view I determined that I could not optimize for the presence of `

[2022-11-24 13:38] matino commented on #852
Thanks for a quick response @lestrrat.

I think that the performance penalty coming from iterating over all the keys and finding the matching `kid` is minimal compared to actual verification, but this is only my feeling :)

`KeyProvider` looks fine, it's good to know that there's a workaround available. Thanks!

[2022-11-24 13:38] #852 closed