[2016-03-14 10:38] saracen opened #3 "VerifyWithJWK "use" and "kty" issues"
Just wondering if this logic: https://github.com/lestrrat/go-jwx/blob/76ff5fd46c773bcf15f019da4b5247780efec796/jws/jws.go#L184 is also supposed to deal with a JWK that has the use "sig"?

Also, the specification states that the "alg" parameter of a JWK can be optional. Azure AD's OpenID implementation does not send this. Their own library seems to use RSA256 by default if the kty is RSA. Do you be

[2016-03-14 23:38] lestrrat commented on #3
As for the first point, good point. I don't think I was thinking about doing signature verification when I wrote this.

for the second point, perhaps it would be best to be allow the coder to specify what the default is. What is your say on this matter?

[2016-04-27 05:32] #3 closed

[2016-07-19 17:15] gcallaghan opened #10 "No method to verify essential claims"
Many top level JWT libraries have checks that verify the following claims.
- iss
- sub
- aud
- exp
- nbf
- iat
- jti

I was surprised when calling jws.Verify on an expired token did not return an error. The jwt package could probably benefit from a high level Verify function that verified the signature as well as the essential claims.

[2016-07-19 21:00] lestrrat commented on #10
true that. I'm a bit swamped atm, would you be willing to provide me with a failing test case?

[2016-07-21 15:48] gcallaghan commented on #10
I'll try to provide a patch in the next couple of days.

[2016-07-21 15:51] gcallaghan opened #11 "VerifyWithJWK requires optional alg attribute"
The alg attribute is optional according to the RFC and some providers do not permit configuration of keys to include it. If the alg attribute is missing, there should probably be a default fallback depending on the type of key. Another option is to trust the header of the JWT, although because this is before verification that is a security concern.

[2016-09-17 18:58] sillysachin opened #19 "Can u publish this on https://jwt.io/ ?"
Can u publish this on https://jwt.io/

Examples on https://jwt.io/
1. github.com/dvsekhvalnov/jose2go
2. github.com/dgrijalva/jwt-go
3. github.com/SermoDigital/jose
4. github.com/robbert229/jwt

Also are there any tutorials using this in client facing examples?

[2016-09-17 21:25] lestrrat commented on #19
I'm not affiliated with jwt.io, so it's not up to me to decide if it should be on that site.

[2017-01-25 08:33] samtech09 commented on #10
I got same issue, not verifying Essential claims. I set follwoing
IssuedAt = 1 Hr ago from now
Expiration = 2 min from IssuedAt
NotBefore = Future date (3 days next)

Still it is not complaining and verifying the token. Here is the code

`package main

import(
  "encoding/json"
  "log"
  "crypto/rand"
  "crypto/rsa"
  "time"

  "github.com/lestrrat/go-jwx/jwt"
  "github.com/lestrrat/go-jwx/jwa"

[2017-01-25 09:53] lestrrat commented on #10
Okay, looking at the code, I think `jws.Verify()` is definitely not the right place to do this check. we probably should just have a `jwt.Verify()` that does this.

[2017-01-25 10:07] samtech09 commented on #10
yes that is missing.
jws should verify the Signaure and
jwt should verify essential claims

[2017-01-25 10:16] lestrrat commented on #10
@samtech09 still just tinkering, and many more stuff missing, but how about an API like this

https://github.com/lestrrat/go-jwx/commit/79ceea82d88c894bd365300281a906ed2f9219d1

[2017-01-25 10:27] samtech09 commented on #10
It looks good and easy to use that's why i am exploring it :+1:
But without those basic checks it is not usable.

[2017-01-25 11:01] samtech09 commented on #10
yes that API [ verifyEssentialClaims() and jwt.Verify ] will solve the purpose.

[2017-01-25 12:03] lestrrat commented on #10
Please check #20, and see if this works.

[2017-01-25 12:04] lestrrat commented on #11
I think this was done because I read about the security concerns of trusting that header.

[2017-01-25 12:30] samtech09 commented on #10
Great, it is working as expected !!

After signature verification, i need to call
err = cs.Verify()

[2017-01-25 13:18] #10 closed

[2017-08-30 22:47] hopkinsth opened #28 "EssentialClaims Requires JSON array for aud claim"
Due to the way that `EssentialClaims` are parsed from JSON, the `aud` claim must always be an array in the source data.

For example, this sample app will fail the audience check:

[code]

On this the JWT RFC says, basically, `aud` can be an array or a string: https://tools.ietf.org/html/rfc7519#section-4.1.3

Planning to file a pull request for a fix later... submitting this partly as a reminder.

[2017-08-31 02:59] hopkinsth commented on #19
Looked into this a little more, and jwt.io has a repo where you can submit a pull request for inclusion: https://github.com/jsonwebtoken/jsonwebtoken.github.io

Didn't spend much time looking at their jade templates to understand the exact changes you'd need to make to submit a PR, but... if you're cool with this being added to jwt.io @lestrrat, I can submit it sometime. This is proving to be the

[2017-08-31 07:50] lestrrat commented on #28
:+1: :+1: :+1:

[2017-08-31 07:52] lestrrat commented on #19
@hopkinsth cool! I'm looking at it myself right now, but if in the future you notice that I haven't done it, pls just go ahead and file it for me :)

[2017-08-31 08:02] lestrrat commented on #19
Hmm, I now know how to modify their site, but I wonder what they really mean when they say "iss" et al is checked...

[2017-08-31 23:37] lestrrat commented on #19
https://github.com/jsonwebtoken/jsonwebtoken.github.io/pull/259

[2017-12-04 23:51] lestrrat commented on #19
...and after three months, it has been merged.

[2017-12-04 23:51] #19 closed

[2018-02-13 14:19] wvh opened #35 "Confused about API"
Hello,

I'm trying to verify a HS256-signed jwt token.

In the jwt module, there's a `jwt.Parse()` function with the comment that it returns an error if the signature fails, but it doesn't take a key or algorithm as parameter when calling `jws.Parse()`; so it doesn't actually check the signature.

If I call `jws.Verify()`, I get back a `[]byte` payload, but there is no clear way to feed this to an

[2018-02-13 22:17] lestrrat commented on #35
Ah, that's a recent change, and a bad omission... will do a fix. thanks!

[2018-02-13 23:37] lestrrat commented on #35
@wvh the underlying API underwent a huge refactor recently, and I think intent that was put on the documentation was not properly implemented at the time. I have addressed this as #36.

If you checkout `topic/jwt-parse-verify` branch, you should now be able to do this:

[code]

Can you please confirm this makes sense + fixes your issue?

[2018-02-14 09:46] wvh commented on #35
I've tried the code and this fixes my issue. Thanks!

If people forget to provide the optional argument though, they'll get a token without signature check. Maybe it would be safer to also add some sort of "VerifyThenParse" method that doesn't return a parsed token without a valid signature, to make it hard to use a token without valid signature.

[2018-02-14 10:10] wvh opened #37 "Consider not rounding time or set `skew` to 1 in token validation"
Hello,

When doing JWT claim validation, `iat` and `Now()` are rounded to the nearest second before the comparison with `now.After()` (see  `jwt/verify.go:174`). This means that by default, tokens are always invalid in the same second they are created. It's probably very common for a server to respond with a token to a client which then immediately tries to validate it, which will very likely resu

[2018-02-14 10:25] lestrrat commented on #35
I agree in principle, but I think we can do that in the same API, and also not break compatibility:

[code]

either way, let's do that on a separate thread. Please file a new issue if you feel strongly about it :)

[2018-02-14 10:25] #35 closed

[2018-02-14 10:26] lestrrat commented on #37
Can you please provide a failing test case?

[2018-02-15 03:00] lestrrat opened #38 "Create API that requires JWT signature verification"
/cc @wvh

[2018-02-15 23:53] lestrrat commented on #37
@wvh thanks for the test!

I amended your tests to avoid races, and allowed iat == now (truncated up to seconds) on #41
Let me know if it works for you?

[2018-02-17 00:21] pmcdowell-okta opened #42 "Loading JSON Web Keys from a String or []byte, can't figure it out."
This isn't a bug, but damn if I cannot figure out how to load keys from a Array or String, not a URL

`set, err := jwk.Fetch(keyUrl) //This works
`
I'm trying to figure out how to load them directly, or create them from the keys I already have.

I kicked around doing something like this:

`set,err:=jwk.New(array_like_json_string_below) //This is what I want to do
`
I'm trying to persist them, and

[2018-02-17 00:24] lestrrat commented on #42
I'm not around my PC so this is just a quick repsponse, but you shouldbe able to use json.Unmarshal

[2018-02-17 00:36] pmcdowell-okta commented on #42
Thanks for getting back, no rush.

I hope I was making sense, I basically want to do something like this.

`set,err:=jwk.New("{"keys":[{"alg":"RS256","e"... //Psuedo code.
`
Thanks again for the library

[2018-02-17 00:37] lestrrat commented on #42
yeah but what exactly json.Unmarshal is for

[2018-02-17 05:22] lestrrat commented on #42
@pmcdowell-okta well, duh. OK, so I hadn't re-read my code in a while so I forgot, but there's a Parse func. https://godoc.org/github.com/lestrrat/go-jwx/jwk#Parse. I guess it's a documentation issue, but I'd appreciate a PR for it.

[2018-02-17 05:22] #42 closed

[2018-02-19 10:26] wvh commented on #37
The check `now != ttv` fails.

`clock.Now().Truncate(time.Second)` is in local time, and `tv.Time.Truncate(time.Second)` is in UTC:

[code]
If you compare the structs directly, the timezone might be different. It can be fixed by adding a `.UTC()`  call to`clock.Now().UTC().Truncate(time.Second)`, using `time.Equal()` instead, or reversing the condition to use `.Before()` instead of `.Equal` and `.

[2018-02-19 20:57] lestrrat commented on #37
Yeah, that's a total screw up on my part. I totally meant to use Equal/After, but I don't know what I was thinking. nice catch :)

[2018-02-21 00:57] #38 closed

[2018-02-21 00:57] #37 closed

[2018-02-26 12:42] zamicol opened #45 "What is "option.go" for?"

[2018-02-26 12:43] zamicol opened #46 "What is "option.go" for?"
https://github.com/lestrrat-go/jwx/blob/master/internal/option/option.go

Is there a better place to ask these kind of questions?  I'm digging through the library.

[2018-02-26 13:22] zamicol commented on #46
Duplicate of #45

[2018-02-26 13:22] #46 closed

[2018-02-26 13:26] zamicol commented on #45
https://github.com/lestrrat-go/jwx/blob/master/internal/option/option.go

Is there a better place to ask these kind of questions? I'm digging through the library.

I'm also wondering, would it be better if I renamed the jwk header stuff?

JWK's don't have headers.  They have parameters.  Headers belong to JWS.

https://tools.ietf.org/html/rfc7517#section-4

https://github.com/lestrrat-go/jwx/blob/

[2018-02-26 14:40] zamicol commented on #45
Also, why the JWK generator?

[2018-02-26 22:21] lestrrat commented on #45
See "Optional Parameters"  here https://medium.com/@lestrrat/wtf-was-wrong-with-my-go-code-part-2-75b1bb7297fe

Why not? It's a bunch of repetitive code.

[2018-02-26 22:21] #45 closed

[2018-03-01 13:19] zamicol opened #48 "Issue with verifying JWT's with ES256"
Verifying with RS256 succeeds while ES256 fails, returning an "empty buffer" error.

You can copy and paste the below into jwt_test.go.  I haven't gotten to the bottom of the issue yet.

[code]

[2018-03-02 00:05] lestrrat commented on #48
@zamicol there are two problems:

First, you're not checking the result of `t1.Sign`. Had you checked for it, you would have seen that `t1.Sign` for ES256 was failing with `

[code]

And second, which is the root cause of your problem, is that ES256 requires an elliptic curve based key, which you cannot get from using `"crypto/rsa".GenerateKey`. You need to use `"crypto/ecdsa".GenerateKey`

[2018-03-02 00:05] #48 closed

[2018-03-05 20:59] zamicol commented on #48
Ah, thank you @lestrrat.  That's a pretty big error on my part.

Is there a better way to connect with you?  I would like to be more involved if I can.

I'm still poking around.  You've done a great job on this project.  Thank you for all your hard work.

[2018-03-06 03:28] lestrrat commented on #48
Thanks for the feedback. While I sympathize, I really don't have the tuits between all the work and family, so I really want to avoid having a place where I have to keep monitoring, or keep answering questions and what not.

The bottom line is that the truth lies in the code.

* If you don't understand something, please read the source
* If documentation is lacking, please file an issue, or a file

[2018-04-20 17:35] benburleson opened #49 "Unable to unmarshal jwk.Set"
Hi, I'm trying to cache my JWKS to avoid an external web request every time I need it, however I am running into this error:
[code]

It seems to be marshaling fine because I see the object stored in my cache, so I'm not sure what the issue is unmarshaling.

Here are the lines attempting to unmarshal:
[code]

Thanks,
Ben

[2018-04-20 21:04] lestrrat commented on #49
I think the original intention was that I expected users to use `jwk.Parse`. But looking at the code (and meh, I want to redesign the internal workings...), I definitely agree that things should be symmetrical.

So here's #50 , and I will merge when CI passes

[2018-04-20 21:09] #49 closed

[2018-04-20 21:14] benburleson commented on #49
Wow, amazing response, thank you!

I actually ended up doing what I think you are recommending, and caching the HTTP response body prior to `jwk.Parse`ing.

Thanks and great work!

[2018-05-11 09:10] dopey opened #52 "Intermittently generating an incorrect signature from jwt.SignedString"
I wrote a test to reproduce:

[code]

This breaks consistently within 1000 iterations whether I use the verify method from `jws` or one from another package.

[2018-05-11 10:02] lestrrat commented on #52
Wow, that's... weird. I currently don't have a good explanation. I will look into it, but in the meantime if you find out more, please let me know

[2018-05-11 15:03] Warashi commented on #52
I found related code
https://github.com/lestrrat-go/jwx/blob/c7fda53b85fcef399d5fb71326f492eeccd1cb6f/jws/sign/ecdsa.go#L26-L45

ecdsa.Sign returns 2 *big.Int, r and v.
this code serializes them by Bytes() method, then copy them.
but, sometimes r.Bytes() or v.Bytes() returns less bytes than keysiz.

reproduce code is above.
[code]

[2018-05-11 20:31] #52 closed

[2018-07-16 08:17] martyphee opened #54 "Ecdsa doesn't properly handle key_ops"
Change the test to the below and it will fail.

[code]
[code]

I changed headers_gen.go to the below to fix it.
[code]

[2019-03-08 18:36] lpar opened #61 "Incorrect failed signature verification on some tokens"
I just hit a situation where one user's tokens would decode and verify, and another user's would not, giving "failed to verify jws signature: failed to verify message: crypto/rsa: verification error".

I can supply a self-contained test case which compares behavior between this library and https://github.com/dgrijalva/jwt-go (which verifies both correctly) if you want to investigate.

[2019-03-19 18:16] repenno opened #62 "jws.Sign() removes whitespace and newlines from JSON"
I would like to use jws.Sign() to parse any JSON payloads such as https://tools.ietf.org/html/rfc7515 Example A.1, A.2, etc

Unfortunately that is not possible because jws.Sign() strips whitespace, newlines and carriage return from the JWS Protected Header.  Basically, jws.Sign() removes all whitespace from the  JSON. So, instead of signing:

[code]

It is signing (no whitespace, no new lines):

[

[2019-03-22 15:45] repenno opened #63 "Curve bits do not need to be a multiple of Keysize"
In sign/ecdsa.go there is a the following check:

		if curveBits != keysiz*8 {
			return nil, errors.New("key size does not match curve bit size")
		}

But this check is not ok. See for example https://tools.ietf.org/html/rfc7515 ECDSA P-521 SHA-512. The README says this algorithm is supported but it returns an error.

The code needs to account for such curves. Example solution: https://github.com

[2019-03-23 11:13] lestrrat commented on #62
Hi, thanks for the issue/PR. I think it looks good, but I just have one reservation, which is "Did the spec mention anything about this...?" Which I don't remember right now, as it has been a while since I read it. If you know the answer, please let me know the relevant sections. Otherwise I'll just refresh my memory and read the spec first to see why I was canonicalizing it, and if the difference

[2019-03-23 17:59] repenno commented on #62
In all Appendix examples of https://tools.ietf.org/html/rfc7515 the protected headers are serialized as presented, i.e., no whitespace removal. I think you have not noticed this issue before because:

1 - Instead of using jws.Sign(), you use sign.Sign() in the test t.Run("HS256Compact", func(t *testing.T)
2 - In some examples only a single protected header is presented, so no whitespace to remove.

[2019-03-24 10:54] lestrrat commented on #62
Thanks for the pointers! Will merge.

[2019-03-24 10:54] #62 closed

[2019-03-26 21:29] lestrrat commented on #63
man, really? I think I took that bit after studying square's JOSE library... (reads the link) Oh, they have a v2 now... I see. :D

[2019-03-26 21:29] #63 closed

[2019-03-28 17:11] repenno opened #66 "Test TestGH52 is extremely verbose"
This test runs a 1000 iteration loop and prints every single signature in:

t.Logf("%x", s)

[2019-03-29 04:34] #66 closed

[2019-03-29 12:01] segfault16 opened #68 "Optional HTTP client argument for jwk.Fetch and jwk.FetchHTTP"
The HTTP client used for HTTP operations is fixed to the default HTTP client of Go.
This means we can't configure timeouts, additional CA certificates etc.
An additional method at least for jwk.Fetch and jwk.FetchHTTP with HTTP Client as argument would be helpful.

[2019-03-31 10:59] #68 closed

[2019-04-04 21:14] repenno opened #70 "Improve ECDSA coverage"
Some functions in ecdsa.go have no coverage such as (un)Marshal public and private keys.

[2019-04-04 23:08] repenno opened #72 "Helper function to avoid casts to jws.Verify()"
Instead of having to cast all method calls to jws.Verify(), it is better to have a helper function of that the entire call path is independent of key type.

OLD:

		ecdsaPrivateKey := key.(*ecdsa.PrivateKey)

		// Verify with API library
		verifiedPayload, err := jws.Verify(jwsCompact, alg, &ecdsaPrivateKey.PublicKey)

NEW:

                 publicKey, err := jwk.GetPublicKey(key)
		if err != nil

[2019-04-04 23:49] #72 closed

[2019-04-04 23:50] #70 closed

[2019-04-05 02:26] repenno opened #75 "Increase JWS Header coverage"
jws/headers.go is very low. Bumping up..

[2019-04-05 03:00] #75 closed

[2019-04-06 08:20] repenno opened #77 "Incorrect Parsing of Complete JWS JSON"
Similar issues to #70

https://tools.ietf.org/html/rfc7515#appendix-A.6

I was trying to get coverage for protected header and key lookup in LookupSignature(kid string) and noticed a few things.

- While running t.Run("CompleteJSON", func(t *testing.T)..) I noticed that after unmarshal:

- Protected header structure was empty
- Header structure contained both protected and unprotected headers.
- E

[2019-04-06 08:29] lestrrat commented on #77
Ooh ouch. If you have PRs, let me know. Otherwise failing tests would be much appreciated

[2019-04-06 08:38] repenno commented on #77
Yes, I will submit a new PR shortly. I added a new test that covers these issues. BTW, what do you feel about files like option.go that have 0% percent coverage? Or functions like (k *SymmetricKey) UnmarshalJSON() that are not used and have 0% coverage?

In order to use this JWX library in the project I work I would need to remove them. I can remove in a copy of this repo or submit a PR here. File

[2019-04-06 09:02] lestrrat commented on #77
Well, that's something which I can probably rectify. Please let me know what you need (coverage goal? something else) in a separate issue.

[2019-04-06 11:58] repenno opened #79 "Low test coverage"
I used the following to examine coverage.

go test -v ./... -coverprofile=coverage.out
go tool cover -html=coverage.out

- Many components are below 70% and quite a few under 50%.
- Some functions do not seem to be used throughout the code and have no coverage.  In my copy of the repo I just removed most of these functions, rerun the tests and they all passed.

[2019-04-07 09:59] #77 closed

[2019-04-07 10:12] lestrrat commented on #79
Which functions are we talking about that are not used? I just reran [unused](https://github.com/dominikh/go-tools) and it didn't report anything :/ I'm sure the tool isn't picking up everything, but if you have a list already, please let me know

[2019-04-07 10:36] repenno commented on #79
If you look at the coverage reported by the go tool, there are quite a few. I am not sure how "unused" work, but being exported or implementing an interface should not count if the function is not actually called at all.

How about in:

1 - symmetric.go

(k *SymmetricKey) UnmarshalJSON(data []byte)

2 - option.go

func WithPretty(b bool) Option {
        return option.New(optkeyPrettyJSONFormat, b

[2019-04-07 10:38] lestrrat commented on #79
Interesting, I'd thought `unused` would report something like `WithPretty`, but I guess not.
Thanks. will look into it.

[2019-04-07 10:39] repenno commented on #79
"  - (8.3) All interface methods are marked as used, even if they never get
    called. This is to accomodate sum types (unexported interface
    method that must exist but never gets called.)"

Looking at other explanations it seems they mark a lot of stuff as used even though it is never actually called at all.

[2019-04-07 11:38] lestrrat commented on #79
After fixing a couple of those UnmarshalJSON things in `jwt`, I think (at least in `jwt`) what happened was:

1. Initially everything was done via `UnmarshalJSON`
2. Then I realized that the tokens can be flattened and normalized in various patterns
3. ... and then I moved to Unmarshal'ing everything to a map/slice/string first, and then used heuristics to deduce the actual types to convert, and t

[2019-04-07 12:23] lestrrat commented on #79
Okay, so at least I went ahead and removed some of the obvious choices including the ones you mentioned.
I'm going to stop here for the day.

You still haven't told me what coverage you need in order to use this library. I'm quite happy to try to add tests to help you, but I'm certainly not going to try to get 100% coverage on everything without a pressing need for it, as getting 100% coverage is

[2019-04-07 22:23] repenno commented on #79
Certainly I do not want or aim for 100%. I believe 80% would be ideal. I will help of course, I have a list of unused and low coverage functions. I will open some specific PRs.

[2019-04-08 00:10] repenno opened #85 "Low coverage in token_gen.go"
https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f4cd5200301be523104/jwt/token_gen.go

Get() has very low coverage
functions JwtID(), NotBefore() and Expiration() are not used
Error pats in Set() are not covered.

[2019-04-08 00:13] repenno opened #86 "Unused functions in jwt.go"
https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f4cd5200301be523104/jwt/jwt.go

Functions ParseString() and ParseBytes() are not used or covered.

[2019-04-08 00:15] repenno opened #87 "Low coverage in jwt/date.go"
https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f4cd5200301be523104/jwt/date.go

Error paths are not covered.
The following switch cases are not covered.

        case int32:
                t = time.Unix(int64(x), 0)
        case int16:
                t = time.Unix(int64(x), 0)
        case int8:
                t = time.Unix(int64(x), 0)
        case float32:
                t = ti

[2019-04-08 00:19] repenno opened #88 "Low coverage and unused function in jws/jws.go"
func VerifyWithJKU() is not used
https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f4cd5200301be523104/jws/jws.go#L346

No error path is covered or exercised

[2019-04-08 00:26] repenno opened #89 "Low coverage and unused functions in jws/headers.go"
Function JWKSetURL() is not used or covered

https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f4cd5200301be523104/jws/headers.go#L78

None of these functions are used or covered

https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f4cd5200301be523104/jws/headers.go#L103-L122

None of these switch cases are covered

https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f

[2019-04-08 00:28] repenno opened #90 "Unused function in jwk/symmetric.go"
This function is not used or covered.

https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f4cd5200301be523104/jwk/symmetric.go#L40

[2019-04-08 00:31] repenno opened #91 "Low coverage in jwk/jwk.go"
This switch case is not exercised

https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f4cd5200301be523104/jwk/jwk.go#L78-L89

Error paths are largely not covered, specially:

https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f4cd5200301be523104/jwk/jwk.go#L248-L266

[2019-04-08 00:35] repenno opened #92 "Low coverage and unused functions in jwk/headers_gen.go"
These functions are not used or covered

https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f4cd5200301be523104/jwk/headers_gen.go#L98-L117

These functions are not used:

https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f4cd5200301be523104/jwk/headers_gen.go#L252

https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f4cd5200301be523104/jwk/headers_gen.go#L371

These

[2019-04-08 21:29] repenno opened #93 "Low coverage and unused function in internal/ecdsautil/ecdsautil.go"
https://github.com/lestrrat-go/jwx/blob/9871a5674c2ca011d6156f4cd5200301be523104/internal/ecdsautil/ecdsautil.go#L25

[2019-04-09 00:38] #93 closed

[2019-04-09 00:38] #92 closed

[2019-04-09 01:10] #86 closed

[2019-04-10 06:44] #87 closed

[2019-04-10 08:06] repenno commented on #85
Started working on this one

[2019-04-12 05:07] #89 closed

[2019-04-15 18:23] trivigy opened #106 "SemVer of the library?"
Would be greatly appreciate if the library was released with a proper sematic release versioning.

[2019-04-15 20:19] repenno opened #107 "Can we consider removing pdebug dependency?"
I use an IDE and can step and debug the entire code without pdebug. I removed the entire pdebug dependency in a branch to experiment and coverage overall went up 12%  and the number of lines of code went down considerably.

[2019-04-16 01:55] repenno opened #108 "Bug in rsautil.go and low coverage"
Low coverage in rsautil.go hid a bug in (un)marshal and creation of keys.  The field "Precomputed.CRTValues" was not populated or copied throughout the APIs. A roundtrip test detected the issue. I will submit a PR shortly.

[2019-04-16 05:21] #108 closed

[2019-04-16 14:25] repenno opened #110 "Modify JWK to use JSON Tag (Un)Marshal"
Use JSON struct tags for most (un)marshal. Use custom (un)marshal only when strictly necessary, therefore removing most extract/populate map functions.

[2019-04-16 14:26] repenno commented on #110
I am starting to work on this issue. It should solve other open issues related to JWK.

[2019-04-18 04:42] #85 closed

[2019-04-19 16:45] repenno commented on #106
Agreed, but we should probably finish the cleanup and coverage before that.

Do you have any suggestions on a good semver approach?

[2019-04-19 18:03] trivigy commented on #106
https://semver.org/ Just use the standard github prescribed versioning. In terms of waiting for cleanup and coverage, I don't agree. Why wait for tomorrow what can be done today?! Personally, and I assume many others, already depend on the software at the current (unversioned) version.

How about if you could version it now with something like `v0.1.0` or something and when the cleanups/coverage i

[2019-04-19 18:09] trivigy commented on #106
Also, make sure to read the versioning part for go modules. https://blog.golang.org/using-go-modules. The naming is critical for golang to properly import latest stuff when doing `go get -u ./...`.

[2019-04-19 21:21] trivigy commented on #107
I would add that it is not a good practice to have a development requirement setup as an external public facing interface requirement. So I am all for this change.

[2019-04-23 21:09] repenno opened #113 "Makefile Issues"

[2019-04-24 05:37] #107 closed

[2019-04-24 05:37] #113 closed

[2019-04-25 18:30] repenno opened #118 "Cleanup Date Processing"
In jwt_test.go we use NumericDate as string in all tests.

Source: `{"` + jwt.IssuedAtKey + `":` + aLongLongTimeAgoString + `}`,

There are no tests for NumericDate as a number, actually there is no coverage for:

func (n *NumericDate) UnmarshalJSON(b []byte) error {}

The RFC does not seem to allow NumbericDate as string, only JSON numeric value.

NumericDate
      A JSON numeric value representi

[2019-04-26 00:49] lestrrat commented on #118
No, it's being tested as you described. Here's what you would've seen if you added `t.Logf` in the test

[code]

As you can see, the JSON being tested is accepting a numeric value, not a string.

[2019-04-26 00:49] #118 closed

[2019-04-26 00:54] lestrrat commented on #106
@trivigy This library predates go modules and we didn't have enough users to require much project management and hence the current situation. there's going to be some window of opportunity during the May holidays (in Japan), so we'll hopefully get something done by then.

[2019-04-26 01:28] repenno commented on #118
Sorry, I believe you are wrong. NumericDate is this project is time.time, not a unit64. I believe that to be a bug in itself.

I removed the function, run all tests, all green. Please remove the function and run all tests. You will see Unmarshal is never used.

[2019-04-26 01:35] lestrrat commented on #118
I don't understand. I thought that "we were using JSON strings as input" was your gripe.

Your original issue does not state anything about time.Time being the problem. Clarify please?

[2019-04-26 02:00] trivigy commented on #106
@lestrrat That would be awesome. Thank you.

[2019-04-26 02:21] repenno commented on #118
Apologize, I am all over the place thoroughly testing and modifying the library. As far as the date related claims goes I see the following:

1 - I thought we accepted date claims as strings, you are right, we do not. But we accept them as json.Number by using token.Set(). You recently added a test to cover this possibility. I am not sure we should accept it, but it is minor issue.

2 - NumericDat

[2019-04-26 04:37] lestrrat commented on #118
@repenno I'm going to reply here for the sake of discussion, but if you have more to say, please file a separate issue.

it stays :)

When you request change like this you should show what your intended usage is.
What is it that you are trying to achieve? API changes should be made to fit the
programming style, not to appease the RFC.

The point of this NumericDate is, for example, if you want to

[2019-04-26 05:11] repenno commented on #118
It certainly caused me confusion 😬

NumericDate bound to time.time is confusing since it has a specific meaning in the RFC, but It is to late too change.

I agree, but I pursue these things due to my compulsive nature for detail. I try to avoid API usage and interop problems.  I will see what I can do in my copy of the repo

I do not think the issue here is more test coverage. It is a dangling fun

[2019-04-26 05:15] lestrrat commented on #118
ah I think I see it re NumericDate.Unmarshal. will work on it later

[2019-04-26 08:20] repenno opened #120 "Unused function in date.go"

[2019-04-26 08:27] #120 closed

[2019-04-26 23:26] lestrrat commented on #118
I re-checked, and yes, `json.Unmarshal(..., jwt.Token)` doesn't invoke `jwt.NumericDate.UnmarshalJSON`, but taking UnmarshalJSON out should be done only when NumericDate has been obscured from the exported API. If an object is part of serialized object (`jwt.Token`) and is exported, you should expect the users to somehow abuse it by serializing `jwt.NumericDate` by itself, so I wouldn't just rip t

[2019-04-28 01:33] repenno opened #122 "Clean and harmonize jws/main.go/headers.go"
Remove package name from const names
Use "name" instead of "method". We do not use "method" per se anymore after all changes, i.e., there is no direct call to any method.
Use GetAlgorithm() instead of Algorithm()
Added PrivateParams as a JSON tag. But if we want flattened we can change asap.

I am trying to get all generate code to look similar and follow a pattern.

[2019-04-28 01:39] lestrrat commented on #122
no, please dont rename method names.

[2019-04-28 01:48] repenno commented on #122
please check the code and ask for any changes you want

[2019-04-28 01:52] lestrrat commented on #122
i hope you don't take this the wrong way but i should tell you that while your involvement has been greatly appreciated, *in general* if you want sweeping style/api changes you should consider forking instead of making prs.

there is no way short of a complete messup on my part that I will merge style/api changes that doesn't fix a real problem.

[2019-04-28 01:53] repenno commented on #122
Of course I will not take it the wrong way. No problem. I will make the changes only on my copy of the repo. I will close this PR.

[2019-04-28 01:53] #122 closed

[2019-04-28 02:00] repenno commented on #110
I will make this change on my repo

[2019-04-28 02:00] #110 closed

[2019-04-28 02:00] repenno commented on #91
I will make this change on my repo

[2019-04-28 02:00] #91 closed

[2019-04-28 02:00] repenno commented on #90
I will make this change on my repo

[2019-04-28 02:00] #90 closed

[2019-04-28 02:01] repenno commented on #88
I will make this change on my repo

[2019-04-28 02:01] #88 closed

[2019-04-28 02:01] repenno commented on #79
I will make further changes to up coverage on my repo

[2019-04-28 02:01] #79 closed

[2019-05-08 01:20] trivigy commented on #106
@lestrrat any updates? I am happy to help if you need contributors. Anything, if it helps move things along.

[2019-05-20 02:55] #61 closed

[2019-05-21 17:36] trivigy commented on #106
@lestrrat Just checking in to see how's the month going. Hopefully holidays are spent well with the family. If you have the time, would greatly appreciate if you could version the repository.

[2019-05-22 00:20] lestrrat commented on #106
@trivigy my bad. I completely lost track of the real world for the last couple of weeks. I'm DOING THIS TODAY

[2019-05-22 00:33] lestrrat commented on #106
I was thinking of doing everything automated in The Right Way, but I just pushed a tag with Changes file, favoring speed. Apologies for the warnocking.

[2019-05-22 00:33] #106 closed

[2019-06-20 02:59] hiyosi opened #126 "An error does not return correctly in jws.Verify() method."
`errors.Wrap()` returns nil if the first argument 'err' is nil.
https://github.com/lestrrat-go/jwx/blob/master/jws/jws.go#L267
so, even if the above error occurs, you will receive err = nil as a result.

[2019-07-02 04:28] lestrrat commented on #126
ouch. :/

[2019-07-02 04:55] #126 closed

[2019-07-02 04:55] lestrrat commented on #126
Thank you!

[2019-07-18 11:21] kmansoft opened #128 "Couple of issues..."
Hi,

Filing two issues at once - I was just checking out your library hoping to use it, but hit two blockers.

1

jwk.Fetch("https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration")

Returns err = "nil is invalid kty", but when looking at that page (document), all the key types there are specified as "rsa", so the error message (and the failure itself) don't make sense.

2

[2019-07-18 11:23] kmansoft commented on #128
The exact error for Microsoft keys is:

`failed to construct key from keys: unsupported kty type <nil>`

[2019-07-19 09:48] lestrrat commented on #128
That URL points to an [OpenID Provider Configuration](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfigurationRequest), but `jwk.Fetch()` fetches a [JSON Web Key](https://tools.ietf.org/html/rfc7517). Those two are completely different things.

wrt README, I don't get. the README clearly has a parameter being passed to it.

![image](https://user-images.githubusercontent.com

[2019-07-19 09:48] #128 closed

[2019-09-05 10:01] hfogelberg opened #129 "Protected header"
I need to communicate with a service, which requires the kid to be set to a specific value and can't figure out how to do it. The sample code supplied by the service suggests the following in Python:

[code]

Sorry about being new to jwx! I am grateful for any suggestions you could give.

[2019-12-31 11:44] paulm17 opened #131 "Password protected pem && Headers?"
I'm trying to duplicate functionality with PHP.

[code]

Which outputs the following:

[code]

With go, I have achieved the following result:

[code]

The problem is that I'm getting from the service I wish to authenticate to:

[code]

I'm not sure whether it's because I'm missing headers or that there's no password support for the pem?

Many thanks!

[2020-02-08 12:30] ShramikGajlekar opened #132 "No method to return all claims."
For refreshing token, we use all the claims from previous tokens and modify the `iat` and `exp` claims. If we have several claims, it's painful to extract all claims from the token and sign a new one.

[2020-02-18 01:51] lestrrat commented on #132
PR #135 implements `Claims()` to return an iterator, `Walk()` to examine each pair from the iterator,  and `AsMap()` to generate a `map[string]interface{}`. If you could check it, that would be great. And this works for you, I will merge it.

[2020-02-24 11:15] ShawnOY opened #136 "Fetch AWS Cognito JWK got the error message"
Hello,
I try to get JWK from AWS Cognito, but I got the error message and I have no idea why return illegal base64 data.

Code

[code]

Result:
`2020/02/24 19:01:58 failed to parse JWK: failed to extract from map: failed to construct key from map: failed to extract key from map: failed to get required key n: failed to base64 decode key n: illegal base64 data at input byte 64`

[2020-02-25 11:24] lestrrat commented on #132
I botched this PR thinking I was in a different branch. Need to redo the PR :/

[2020-02-25 11:27] lestrrat commented on #136
@ShawnOY Can you please check PR #137.

[2020-02-25 11:28] lestrrat commented on #132
Whew, I salvaged it from my git history. #138 should do it.

@ShramikGajlekar FYI I'm going to merge this when I wake up tomorrow, which is about 12 hours from now

[2020-02-25 13:57] ShramikGajlekar commented on #132
I think this would resolve the issue. Thanks for the resolution.  Most of the applications requires to copy all claims to sign a new one from the older token, this would help us all a lot :)

[2020-02-25 22:46] #132 closed

[2020-02-25 22:53] lestrrat commented on #131
Sorry, I had missed this issue. TBH there's not much we can do without seeing the Go code

[2020-02-25 23:01] lestrrat commented on #129
Sorry, I completely missed this issue. It's been a while so details escape me, but IIRC the RFC specified protected headers to be constructed out of the original message, not necessarily specified the end user, and hence the current set up where `jwe.Encrypt` doesn't take in user-specified headers.

[2020-02-26 03:20] ShawnOY commented on #136
@lestrrat It's work! Thank you!

[2020-02-26 03:31] #136 closed

[2020-02-26 03:32] lestrrat commented on #136
thanks for checking!

[2020-02-26 10:22] paulm17 commented on #131
@lestrrat No worries, thanks for your time in advance.

Here is the complete [code](https://gist.github.com/paulm17/08ecbde60d9a678bd8ae7e4a843d19af).
Here is the pem [file](https://gist.github.com/paulm17/8c505b407db249c37f339a0f2958ee1c).

Let me know if you need anything else.

[2020-02-26 11:49] lestrrat commented on #131
Your code has a few weird spots:

1) [line 38](https://gist.github.com/paulm17/08ecbde60d9a678bd8ae7e4a843d19af#file-gistfile1-txt-L38) says `RS256`, and yet you are signing using `HS256` at [line 56](https://gist.github.com/paulm17/08ecbde60d9a678bd8ae7e4a843d19af#file-gistfile1-txt-L56). BTW, IIRC you don't even need to set that header when you call the `Sign()` method, because it does it for yo

[2020-02-26 12:23] paulm17 commented on #131
Thanks for the clarifications, let me adjust the code and get back to you.

[2020-02-26 16:47] paulm17 commented on #131
I have updated the [code](https://gist.github.com/paulm17/5be76f412eef34c951078c93ddd3c311).

I now get:

    panic: x509: no DEK-Info header in block

I googled and found [this](https://stackoverflow.com/a/44681542)

Unfortunately JWT and encryption is definitely not something I know, so any help appreciated.  Thanks.

[2020-02-26 22:02] lestrrat commented on #131
The error says x509, so perhaps what you are looking for is `crypto/x509`.

Since this has now deviated from an issue about `jwx` module, I'll close this issue. If you find a problem with `jwt`, please let us know separately.

[2020-02-26 22:02] #131 closed

[2020-02-28 13:06] reinkrul opened #139 "Marshalling JWK with X.509 certs (x5c) to JSON is incorrect"
When marshalling a JWK which contains an X.509 certificate chain (x5c) to JSON, the resulting JSON contains the actual JSON representation of the x509.Certificate struct, instead of the base64 encoded ASN.1 structure.

When you currently marshal a JWK with X.509 certificates, the result looks like this:
[code]

[2020-02-28 13:08] lestrrat commented on #139
It would be very helpful if you could provide a minimal reproduction code and/or failing test code, thanks :)

[2020-02-28 13:22] reinkrul commented on #139
This is the test case I wrote:
[x5c_test.go.txt](https://github.com/lestrrat-go/jwx/files/4267199/x5c_test.go.txt)

I'd fix it as follows (jwk/headers_gen.go:274):
[code]
[code]

[2020-03-05 19:52] akhi4u opened #140 "jws.VerifyWithJKU Passes on invalid signature"
I was using v0.9.0,  `jws.VerifyWithJKU()` validation worked fine. But once I updated to the newer version v0.9.1, it no longer validates the signature, returns no error. This is a serious issue. Could I get any help regarding this?

Thank you.

[2020-03-09 15:55] leandrorondon commented on #140
I'm facing the same problem. The issue is in the `VerifyWithJWKSet` function - `err` variable is redeclared within `for` loop and end up returning a `nil` err.

[2020-03-23 15:06] paulm17 commented on #131
I finally got back to this issue and solved it.  Following up incase anyone has a similar issue:

I had to decrypt the encrypted pkcs8 key.   See [here](https://stackoverflow.com/a/55541848/439750).

[2020-04-09 00:41] lestrrat commented on #140
Sorry for warnocking this, but could you kindly provide with a reproducible test case?

[2020-04-09 00:50] lestrrat commented on #140
Hi, @akhi4u @leandrorondon

It would be most helpful if you could kindly test PR #145, and again, sorry for the late response here

[2020-04-11 08:11] lestrrat opened #149 "field names are horrendous"
Well, it's been a while since I first looked at the actual implementation of the code here, and I think I really need to refactor `jws`. I have plans, but the API may change.

[2020-04-11 08:13] lestrrat commented on #140
I added tests, and I'm pretty certain I plugged the whole, so will merge #145 and close this issue.

[2020-04-11 08:13] #140 closed

[2020-04-11 09:32] lestrrat commented on #149
Also, `jwe`

[2020-04-11 10:01] #139 closed

[2020-04-11 10:01] lestrrat commented on #139
Sorry for the wait, and thank you for your help. I incorporated your fix and tests

[2020-04-13 06:27] reinkrul commented on #139
Thanks!

[2020-04-13 06:39] reinkrul commented on #149
I didn't come across anything that triggered me in particular, just that in the `jws` package `StandardHeaders`' (jws/headers.go) field names are all prefixed with 'JWS' (`JWSalgorithm`, `JWSkeyID`), which seems a bit superfluous to me.

[2020-04-13 06:39] lestrrat commented on #149
Yes, and while I don't quite remember how I came to that implementation, I'm pretty sure it has to do with how to Marshal/Unmarshal to/from JSON. This has been fixed in #154

[2020-04-15 00:05] #149 closed

[2020-04-16 00:40] lestrrat commented on #132
@ShramikGajlekar just FYI, after fooling around with `jws` and `jwe` packages I needed to change the iterator pattern in `jwt`. You still have `AsMap`, but if you are using the iterators, their usage will change slightly in the near future.

[2020-04-16 06:34] lestrrat opened #158 "refactor jwk"
Wondering if I should apply smething similar to #154 #156 on `jwk` (hide `*stdHeaders` behind `Headers` interface, add iterators, etc)

@sonatard you are probably my most recent and active user of this package. thoughts? （日本語でいいですよー）

[2020-04-16 14:56] sonatard commented on #158
jwx生み出して頂きありがとうございます！
JWTライブラリの中で一番良いインターフェースをしていてすごく勉強になりました。

ご相談頂いた内容ですが、Goらしさという観点だと、パッケージ利用者が利用する構造体の値はprivate filedでGetやSetで操作するのではなくPublic FieldになっているのがGo wayっぽいかなと思います
サンプル
https://golang.org/src/crypto/x509/x509.go?s=21657:25704#L652

ただこの場合はSetterで値が正しいことを保証できていないので、構造体作成直後や重要な処理をする前validationが必要になります。
https://github.com/golang/go/blob/2a029b3f26169be7c89cb2cdcc3db4b5d097a8b8/src/crypto/

[2020-04-16 18:41] localhosted opened #160 "Sign JSON with a p12 certificate"
I'm trying to sign and verify a JSON payload with a certificate. I found a Ruby library that does this: https://github.com/alexmx/jws-signer/blob/master/jws-signer.rb

I want to port it to Go using jwx. I saw the [JWS example ](https://github.com/lestrrat-go/jwx#jws) however it creates a key on the fly. Can I extract the certificate with `golang.org/x/crypto/pkcs12` and pass that as the privakey?

[2020-04-16 23:20] lestrrat commented on #158
Public fieldは僕は完全に反対派で、例えば `struct { A (required), B (optional), C (optional) }`みたいな状態を保証できないのが完全に無し、だと考えてます。`Verify`すればいい、もわかるのですが僕がは「そもそもユーザーがその値を直に操作できると思ってしまう」のはいけてないAPIだと思うので隠蔽したい派です

`interface`も上記と同じ理由で、 `var s HogeHeaders` (初期化してない）を許可しないためです。`interface`にして`h := jwhogehoge.NewHeaders()` と初期化を強制するためですね。

PRの残りの部分についてはjws/jwt/jwk/jweで全く同じAPIのIteratorとかが入るとかあたりがポイントです。

[2020-04-16 23:22] lestrrat commented on #160
Yes, that sample is just a contrived example to show how to use a key. Grab the appropriate key from anywhere, and pass that along.

[2020-04-16 23:22] #160 closed

[2020-04-16 23:26] lestrrat opened #161 "Align the header setter/getter API"
It had been so long I forgot to consider this, but apparently in `jwk` we use pointers for fields, and for the rest we don't.

I think the more complicated but sensible thing to do is to align with `jwk` and use pointers, because then we can tell the difference between an uninitialized field and an empty field. While most of the times this doesn't matter, I can easily imagine corner cases.

I have

[2020-04-17 03:21] sonatard commented on #158
正しい使い方をユーザに強制するために、InterfaceとPrivate fieldを利用する方針理解しました

jwkもheaderをWalkしているところがあるので、同じ仕組みを導入するのはいいと思います！

[2020-04-17 05:05] lestrrat commented on #158
確認ありがとうございます。ちょっと実際にそれでいけるのかは実装をしながら考えますが、多分 jws/jwt/jwk/jweで大統一ヘッダーAPIになると思います

[2020-04-17 08:05] sonatard opened #164 "Header setter error handling"
Protocol header setter returns an error, but ignores it in multiple places. I found it by https://github.com/golangci/golangci-lint.

If we should always do error handling, I will create a pull request to add error handling. If error handling need not necessary, please tell me what is the difference between need error handling or not?

[2020-04-17 08:07] lestrrat commented on #164
error handling should be tested, yes. Yes, I was being lazy.

[2020-04-17 08:14] sonatard commented on #164
Thanks!!

[2020-04-18 03:56] #161 closed

[2020-04-24 03:08] #158 closed

[2020-04-24 03:26] lestrrat opened #170 "OpenID Claims Take 2"
Redo #117

# Basic strategy

Default usage:
[code]

We'll add an option to specify the token type

[code]
And also, we will add a utility option

[code]

[2020-04-24 03:26] lestrrat opened #171 "Release 1.0.0"
once #170 is done, we'll release 1.0.0, because of all the major API changes

[2020-04-24 03:50] lestrrat commented on #170
still pondering: make `jwt.Token` an interface?

currently `(jwt.Token).privateClaims` can be uninitialized depending on how the token has come to be :/ forcing usage of a constructor removes this corner case

then `openid.NewToken() openid.Token` would probably be the corresponding OpenID claim-aware jwt Token

[2020-04-24 14:55] themattmck opened #174 "Getting "BAIL OUT" when running AsMap; error is nil"
I'm getting "BAIL OUT" when I try to get my JWT as a map. Here's the code that I'm running below for debug purposes. As you can see in the output, I'm getting the token back with no error. The reason I'm trying to get it as a map is because I'm trying to extract attributes as well as use the map to put this token elsewhere in my code as the whole map.

[code]

Here's the output:
[code]

[2020-04-25 08:09] #170 closed

[2020-04-25 08:16] lestrrat commented on #174
Are you saying that `jwx` or one of its dependencies is printing out "BAIL OUT"?

I haven't dug deeper, but as of this writing, `jwx` only depends on these four modules:

[code]

... of which, only one is mine. at least as of lestrrat-go/iter@fc176954191104b7be24e78f6707f665ecf149b8, there's no string matching "BAIL" in the source code, and the same can be said about `jwx` @ b8ed9247539f5fdf22ddf2

[2020-04-25 08:36] #11 closed

[2020-04-25 08:36] lestrrat commented on #28
Closing this as it has been ages since last activity

[2020-04-25 08:36] #28 closed

[2020-04-25 15:59] sonatard opened #176 "Returns unexported type"
Warning by `golint` If I delete this exclude rules.

https://github.com/lestrrat-go/jwx/blob/4b872aa5fac8bb01c51e052b559f055b3fea10ab/.golangci.yml#L49-L52

[code]

Go's developers believe that unexported types should not return.
But many objections on this issue. https://github.com/golang/lint/issues/210

@lestrrat I'd like to hear your thoughts.

I know there's no need to hurry because of these

[2020-04-25 16:03] sonatard commented on #164
@lestrrat I forgot this issue. I'd like to fix it before release v1.0.0.
Can you wait for the release v1.0.0 to next Tuesday? #171

[2020-04-25 21:51] lestrrat commented on #164
Yes, of course.

[2020-04-26 00:13] lestrrat commented on #176
sounds like a bug. will look into it

[2020-04-26 06:30] lestrrat commented on #176
Ah, this is most likely unneeded code, now that we have `FromRaw`

[2020-04-26 07:26] #176 closed

[2020-05-01 15:56] mike-morr commented on #170
@lestrrat Is 1.0 coming soon now that this is complete?

[2020-05-01 20:28] lestrrat commented on #170
Yeah, but I was waitingon #177

[2020-05-03 02:16] #164 closed

[2020-05-03 03:30] #171 closed

[2020-05-03 19:26] MaxRenaud opened #185 "Marshalling an jwk.ECDSAPublicKey doesn't create base64.RawUrlEncoding key parameters"
**Describe the bug**
From the Readme.md file, this example should take a key and Marshal it to JSON:
jsonbuf, err := json.MarshalIndent(k, "", "  ")
It will use Go's internal defaults, which will base64-encode any []byte. Unfortunately, it doesn't use base64.RawUrlEncoding which is required by the JSON specs.
Concretely, this results in an error when parsing generated jwk JSON with krakend.

**To

[2020-05-03 23:26] lestrrat commented on #185
Ah, thank you. Yeah, I had that behavior before and failed to realize `encoding/json` completely ignores it when I did the refactoring (an forgot by that point that the omission of "=" was significant)

for my own personal notes:

from [RFC7515](https://tools.ietf.org/html/rfc7515)

Of course, the problem is that other sections of the document refers to [RFC4648](https://tools.ietf.org/html/rfc464

[2020-05-03 23:33] lestrrat commented on #185
@MaxRenaud can you please try out #186

[2020-05-04 05:33] #185 closed

[2020-05-04 11:38] srenatus opened #189 "Question: Would it be feasible to exclude "alg: none" at build time?"
Hey there, thanks for this project. It's nice to see a JWx library of good quality. :+1:

Given the frequent issues around "alg: none" in JWT, I was wondering if it would be feasible to exclude the support for that using a build flag.

What do you think, is this worth having and doable? 😃

[2020-05-04 21:15] lestrrat commented on #189
Can you be more specific about "exclude the support". I haven't really considered them too deeply, but e.g.
1. Return an error when something like `jws.Verify` is executed
2. Remove the constant jwa.NoSignature
3. Return an error when something like `token.Set("alg", "none")` is used
4. or something else

[2020-05-05 08:45] srenatus commented on #189
Thanks for responding so quickly.

On a high level, I would like to pretend we lived in a world where the specs didn't have `alg: none` at all. Concretely, this would mean (1.), (2.) and (3.), I guess 😅I don't know the inner workings here, perhaps a subset of these achieves the same goal?

[2020-05-05 13:38] lestrrat commented on #189
Okay, I know the whole `alg: none` being evil and what not, but I'm going to take a step back and ask you the following.

I thought I had included an issue template that asked the users to include code (even if it's pseudo-code) but I guess I only did that for bug report templates. That is my mistake, and I apologize for not putting this up front. I'll address it later, but here's what I wrote els

[2020-05-06 07:25] srenatus commented on #189
Thanks for taking time to deal with this here. You are completely right, this is the level of detail we should communicate in -- I'll come back with a more fleshed-out proposal when we actually start using the library. 😃

This can be closed or kept open as you see fit. 😉

[2020-05-20 08:42] JavadHosseini opened #192 "can't set kty in jwk"
Im new to jwt, I want to set my "kty" to rsa, apparently it can not be done this way:
`set.Set(jwk.KeyTypeKey, "rsa")`
and kty value remains "oct".

[2020-05-20 09:12] lestrrat commented on #192
Yes, that's intended, because you presumably instantiated a symmetric key. I couldn't think of a situation off hand where you would want to change the key type on the fly ( I mean, the underlying structures are completely different ). If you thin you have a legitimate use case, please give us some code.

[2020-05-20 09:30] JavadHosseini commented on #192
yes, I thought this would be the reason for not changing the kty. but I'm using a asymmetric key. Also  I converted my public key in two online pem to jwk converters and kty was rsa in both of them. but the results is different with jwx.

[2020-05-20 09:31] lestrrat commented on #192
I'm confused. Please show me your code? psuedocode is fine, I just don't understand why you would need to set the kty

[2020-05-20 09:45] JavadHosseini commented on #192
I understood your reason for not changing the kty and I don't have argue with that. The real problem now is that I'm using rsa and even I used an online pem to jwk converter to ensure. when I convert my public key to jwk in that the kty is rsa. but when I convert this public key with jwx package the kty shows "oct".

[2020-05-20 10:56] lestrrat commented on #192
Ah, so there's a conversion error? again, I need code, and possibly the keys that you are using.

I know it's hard to disclose keys, but for starters, if you could give me the code and the keys in JSON but with the confidential parts removed (e.g. for RSA keys, the d/dp/dq/p/q/qi fields), that would be a start.

It may very well be a bug in my code, but  I'm going to stress this once again: _we ne

[2020-05-20 11:06] JavadHosseini commented on #192
here's the code: (I already have a key pair)
`pubKey, err := ioutil.ReadFile("keys/" + pubKeyPath)
	if err != nil {
		log.Printf("key not found", err)
		return err
	}
set, err := jwk.New(pubKey)
	if err != nil {
		log.Printf("failed to convert to JWK: %s", err)
		return err
	}
	err = jwk.AssignKeyID(set)
	if err != nil {
		log.Printf("failed to convert to JWK: %s", err)
		return err
	}
	set.Set(jw

[2020-05-20 11:14] lestrrat commented on #192
Ahh.

You haven't pem-decoded your input. The result of `ioutil.ReadFile` is `[]byte`, and that is interpreted by `jwk.New` as a symmetric key. If you had passed an `"crypto/rsa".PrivateKey` or `"crypto/rsa".PublicKey` to `jwk.New`, it would have created a proper RSA-backed jwk Key.

What you need to do is to take the result of `ioutil.ReadFile`, decode it through `encoding/pem`, and, then use one

[2020-05-20 11:14] #192 closed

[2020-05-20 13:11] JavadHosseini commented on #192
Aaah. It worked. Thanks man!

[2020-06-21 01:46] hairyhenderson opened #194 "Providing a bad algorithm to jwt.Sign should error, but does not."
**Describe the bug**

Calling this code should error, but doesn't:

[code]

The bug is here: https://github.com/lestrrat-go/jwx/blob/9143661f037e46a9d2b5861fc19c4b051966b00b/jwt/jwt.go#L89

This never assigns the return value of `hdr.Set` to `err`, and so the `err` that's wrapped in the following line is `nil`, and `errors.Wrap` will return `nil` if the `err` is `nil`.

**To Reproduce / Expected b

[2020-06-21 01:48] hairyhenderson commented on #194
(Fixed in #195)

[2020-06-21 02:00] #194 closed

[2020-07-01 19:31] imirkin opened #196 "Allow JWKS-style sources of keys to verify JWT"
The list of keys used to sign JWT may vary over time for a particular identity provider. They provide these at some URL which you're supposed to refresh "every so often", and supply some number of keys, identified by a "kid". This kid is also part of the JWT's header, and you're supposed to verify the JWT signature using the corresponding key. This is all implemented already in jwk.Set.

The rub i

[2020-07-01 22:48] lestrrat commented on #196
Pseudocode / Test code would be most helpful (even if they don't compile) as a way to align our expectations and to start out the design

[2020-07-01 23:12] imirkin commented on #196
So ... this isn't optimal, but this is the code I ended up with given the current API's/etc:

	m, err := jws.Parse(strings.NewReader(tokenData))
	if err != nil {
		return err
	}

	headers := m.Signatures()[0].ProtectedHeaders()
	kid := headers.KeyID()
	keys := keySet.LookupKeyID(kid)
	if len(keys) == 0 {
		return fmt.Errorf("kid %s not found", kid)
	}
	key := keys[0]
	var rawKey interface{}
	if er

[2020-07-01 23:12] lestrrat commented on #196
Thank you! Let me ponder about this for a bit.

[2020-07-02 00:22] lestrrat commented on #196
@imirkin Want to take #197 for a spin? I admittedly have committed only a very minimal set of tests, though.

The method you want to use is this:

[code]

[2020-07-04 04:04] imirkin commented on #196
Thanks for this. I will be able to try it out over the next few days.

[2020-07-04 07:02] imirkin commented on #196
I was able to test this out, and it seems to work well.

One issue that occurs to me is that with this scheme there's no way to enforce that a non-"none" algorithm is used for the signature (similar theme as issue #189). Otherwise a token could be passed into the service with alg=none and all the key verification stuff goes out the door without the code being aware of it. Ideally you would not all

[2020-07-04 08:56] lestrrat commented on #196
That makes sense. I can see a veeeeeery rare case where alg=none is desired for key set verification, so let me think of an API that defaults to disallowing alg=none, while optionally allowing it if explicitly specified.

[2020-07-04 09:38] lestrrat commented on #196
meh, actually, you know what. I tested, and currently `jws.Verify` returns an error if `alg: none` is specified, so ... as long as you ask `jwt.Parse()` to verify the token, `alg: none` is disallowed. I'd have to actually create a way to *allow* `alg: none` to even add this functionality :)

So I think it might just be more prudent to leave it as is, unless you have a specific case where `jwt.Pars

[2020-07-04 10:00] lestrrat commented on #196
@imirkin [I added a test that show a mangled header section in the JWT does not actually pass verification](https://github.com/lestrrat-go/jwx/pull/197/files#diff-e6fa89f4cc7abf9b1ed338c3967bfc7fR155) in #197. Please check if we're on the same wavelength there?

[2020-07-04 16:56] imirkin commented on #196
Aha, I had thought that verify would just let it through without actually reading the code. You're right - as long as you attempt to verify the signature, it will make sure that alg != none. When/if the use-case for alg=none "verification" presents itself, you can worry about it then.

Thanks so much for this!

[2020-07-04 22:33] lestrrat commented on #189
in #196 there was specific use case request, so I added some tests and turns out `alg: none` was never even allowed when we go through verification (we use a switch case where we check for supported algorithms, and `none` is not one of them). So I believe this issue was never relevant. If you have a specific case where we actually allow `alg: none`, please attach a test case and let us know!

[2020-07-04 22:33] #189 closed

[2020-07-04 22:39] #196 closed

[2020-07-04 22:40] lestrrat commented on #196
fixed and merged. thank you @imirkin

[2020-07-07 22:54] lestrrat commented on #129
This issue has been left unanswered for a while, so I will be closing it. Please open a new issue if this is still a problem

[2020-07-07 22:54] #129 closed

[2020-07-07 22:54] lestrrat commented on #174
This issue has been left unanswered for a while, so I will be closing it. Please open a new issue if this is still a problem

[2020-07-07 22:54] #174 closed

[2020-07-24 06:37] ashishs opened #200 "jwks fetch error in long running process: An operation on a socket could not be performed because the system lacked sufficient buffer space or because a queue was full"
**Describe the bug**
We use jwx for fetching jwks from a URL and the validating tokens against the jwks. We refresh the jwks every 600 seconds.
After running for a few hours and refreshing the token close to 80 times, we get the error below:

`failed to fetch remote JWK: Get \"https://ashishs.us.auth0.com/.well-known/jwks.json\": dial tcp 3.132.73.216:443: bind: An operation on a socket could not

[2020-07-24 06:53] lestrrat commented on #200
I ran this 200 times and did not encounter any problems.

[code]

If this was really jwx problem, the most likely culprit would have been not closing `"http.Request.Body()"` after use, but it looks like this has been taken care of.

I'm willing to accept that this could be a jwx problem, but I think you need to diagnose the problem a bit further. Right now I'm suspecting you are staring new gorout

[2020-08-07 16:55] imirkin commented on #200
Sounds like the issue is running out of sockets. This is a Windows error message based on some searching. Could try checking that on Linux by reducing the number of file handles allowed to e.g. 100 (ulimit -n 100) and re-running the same test to see if something is forgetting to close something -- could even be library methods.

Probably worth mentioning the version of Go being used.

[2020-08-14 06:15] westwin opened #201 "jwt.ParseBytes(buf, jwt.WithOpenIDClaims()) not work"
jwt.ParseBytes, WithOpenIDClaims not work,  the returned token is not openid.Token type.

as you can find in jwt.go, the Parse() just ignores WithOpenIDClaims option
`func Parse(src io.Reader, options ...Option) (Token, error) {
	var params VerifyParameters
	var keyset *jwk.Set
	for _, o := range options {
		switch o.Name() {
		case optkeyVerify:
			params = o.Value().(VerifyParameters)
		case opt

[2020-08-14 06:17] lestrrat commented on #201
Sounds like a bug! If you could submit a quick test as a PR, it would be immensely helpful

[2020-08-14 07:03] lestrrat commented on #201
hmm, looks like I made a bad merge somewhere along the way, because I don't see a test that I thought I wrote. checking...

[2020-08-14 07:44] #201 closed

[2020-08-14 07:44] lestrrat commented on #201
@westwin should be fixed in master. Please give it a whirl, so I can cut a release.

[2020-08-14 08:22] westwin commented on #201
I tested as a pass. Please go release it.

BTW, thanks for your great library.

[2020-08-14 08:26] westwin commented on #201
I tested as a pass. Please go release it.

BTW, thanks for your great library.

I will do later, sorry can't for now.

[2020-08-14 13:39] lestrrat commented on #201
nah, I added the tests myself, so no need. thanks for checking

[2020-09-04 05:32] chanced commented on #200
Is `client` a pointer?

[code]

I'm still new to go but that seems like it be the potential cause. If they are passing in a client by value and it is being cast as a pointer then perhaps their initial client isn't being closed?

[2020-09-04 06:39] lestrrat commented on #200
No, you can't pass a variable by value and perform type assertion to a pointer.
[Example](https://play.golang.org/p/PaBCym-TZQd)

[2020-09-04 11:46] ashishs commented on #200
I can confirm that this was an issue with free sockets running out.
No further action is necessary.

[2020-09-04 11:46] #200 closed

[2020-09-22 16:37] wxdao opened #203 "There should be jwt.ParseOption and jwt.VerifyOption"
I find it really hard for me at first to understand `jwt.Parse()` only accepts `jwt.WithVerify` & `jwt.WithKeySet` and the rest like `jwt.WithAudience` are all for `token.Verify()`. How am I supposed to know what in those `jwt.Option`s  to be used? Furthermore, naming of `token.Verify()` and `jwt.WithVerify` is a bit confusing. I failed to use them correctly until I jumped into the definitions to

[2020-09-23 03:29] lestrrat commented on #203
Let me break down your comment:

1. How am I supposed to know what in those jwt.Options to be used ....

Documentation. But yes, I can see they could use a lot of improvement. If you have concrete suggestions, please let me know (especially if you expected the definitions to be at one place and couldn't find them there)

2. Naming of token.Verify() and jwt.WithVerify is a bit confusing...

I don't

[2020-09-23 06:08] wxdao commented on #203
Thanks for your reply. I will file some MRs soon to better represent my ideas. However I'm not sure how much api change could still happen here since it's already into 1.0 version.

[2020-09-23 06:16] lestrrat commented on #203
Adding options should be doable. Changing existing calling conventions not so much. However, it's a proposal so you shouldn't haven to worry too much about backward compat (yet :)

[2020-09-25 16:42] anatol opened #205 "Parsing custom message headers"
Hi, I am trying  to deal with `clevis` encryption in go. I have a following json message:

[code]

There is a custom header node called `clevis` that contains required information such as keys plus some custom fields I need access to.

Right now I am trying to parse this message above with
[code]
but `msg` does not contain any information about these extra headers.

In other implementations I can

[2020-09-27 11:16] #203 closed

[2020-09-27 22:24] lestrrat commented on #205
Since you're using `jwe`, did you check `PrivateParams()`?

[2020-09-28 05:32] anatol commented on #205
Thank you for your response @lestrrat.

Could you please provide an example of the function usage? Sorry, I am really new to this library and can't figure out what object supports `PrivateParams()`.

I grepped `jwx` project and I see that the method you mentioned is defined on `stdHeaders/ecdsaPrivateKey/ecdsaPublicKey/...` and other private structures that are not exposed outside of `jwx` project

[2020-09-28 05:40] lestrrat commented on #205
https://github.com/lestrrat-go/jwx/blob/master/jwe/headers_gen.go#L273

`msg.Headers().PrivateParams()` would  return a `map[string]interface{}`, and the rest is the same from your earlier example :)

[2020-09-28 05:47] anatol commented on #205
Hi, `msg` is of type `jwe.Message` that does not have a public `Headers()` method. It has `UnprotectedHeaders()` method though that returns `jwe.Headers`. But that interface is defined as

[code]

and it does not have any `PrivateParams()`.

The code you pointed is

[code]

and it defines method on `stdHeaders` that is **private** structure.

[2020-09-28 05:50] lestrrat commented on #205
I meant ProtectedHeaders https://github.com/lestrrat-go/jwx/blob/master/jwe/message.go#L123

and if type Headers doesn't have `PrivateParams`, that's a bug :/

[2020-09-28 05:56] lestrrat commented on #205
Uh-huh...

[code]

[2020-09-28 05:57] anatol commented on #205
I use a debugger to inspect the datastructures and it actually `msg.Recipients()[0].Headers()` that contains params I need. But this param is not exposed via a public interface.

Is there a chance you can add `PrivateParams()` to `jwe.Headers` type?

[2020-09-28 06:00] lestrrat commented on #205
Recipients! IIRCl that part (which parts those headers belong to) actually depends on the original message, so okay, I was wrong.

As far as exposing `PrivateParams()`, can you please check #206 ?

[2020-09-28 06:04] anatol commented on #205
@lestrrat that branch works for me, thank you!

[2020-09-28 06:05] lestrrat commented on #205
Cool. Sorry about `PrivateParams` not being exposed. `PrivateParams` has existed forever, but a few months ago we did a whole rewrite and I guess that just went unnoticed. I'm going to double check if it works for other packages and then merge to master

[2020-09-28 06:06] anatol commented on #205
No worries. And thank you very much for the quick response!

[2020-09-28 06:10] lestrrat commented on #205
BTW, now that I think about it, you should be able to also access the key using `AsMap()` method, which returns a `map[string]interface{}` with the entire key set. But yeah, either way PrivateParams should have existed.

[2020-09-28 08:00] lestrrat commented on #205
fixed in #206

[2020-09-28 08:00] #205 closed

[2020-09-28 17:25] anatol opened #207 "Incorrect webkey thumbprint calculation"
Hi

I am porting some `jwk` functionality to `jwx` v 1.0.5 library (currently the latest release).

I found an EC thumbprint calculation incompatibility with `go-jose` and C `jose` libraries. Here is a webkey:

`{"kty":"EC","alg":"ECMR","crv":"P-521","key_ops":["deriveKey"],"x":"AJwCS845x9VljR-fcrN2WMzIJHDYuLmFShhyu8ci14rmi2DMFp8txIvaxG8n7ZcODeKIs1EO4E_Bldm_pxxs8cUn","y":"ASjz754cIQHPJObihPV8D7vVN

[2020-09-29 00:20] lestrrat commented on #207
Oh, it's fixed size agains the curve width... hmmm.

Not to cast doubt or anything, but I'd like to check against the spec and/or an example to make sure what the algorithm should really be. I'm going to go research on my own too, but if you have pointers and could share it, I'd really appreciate it.

[2020-09-29 00:48] lestrrat commented on #207
Okay, so the when the curve size is N bytes (in your sample, 66), but the number of bytes in the input number is less than N (in this case 65), go-jose pads this to match the curveSize, so that the input to base64 encoding is always at N bytes.

Implementation wise this seems straight forward, but so far I cannot find a reference that says that this padding is necessary. Part of me is nagging me t

[2020-09-29 00:58] lestrrat commented on #207
Oops, I realize I made a mistake in the interpretation of the code. Anyways, gotta go..

[2020-09-29 03:10] anatol commented on #207
I do not really know what jwx spec expects here.

In my case I was testing 2  different implementations [go-jose](https://github.com/square/go-jose) and [jose](https://github.com/latchset/jose) and they have the same implementation while `jwx` has different implementation.

And one more place where one needs to inspect the implementation is `ECDHESDecrypt.Decrypt()`. `go-jose` adds padding here as

[2020-09-29 06:49] lestrrat commented on #207
righto. defacto-standard, I guess. Want to try out #208 ?

Can you please provide a test case for the `ECDHESDecrypt`

[2020-09-29 18:10] anatol commented on #207
As of `ECDHESDecrypt` testing the best way would probably be to generate an encrypted message using [jose](https://github.com/latchset/jose) tool and then try to decrypt it using `jwx`.

Here is a way to generate a message:
[code]

it gives following key:
[code]

and message

[code]

And here is the Go code to test decrypt codepath
[code]

but running it gives me another error for some reason: `no

[2020-09-30 02:15] lestrrat commented on #207
I was trying to figure out why it wasn't detecting any recipients, but during the course I got confused: Your JWE message doesn't have an encrypted key section. I was under the impression that a valid JWE message must have the parts described in https://tools.ietf.org/html/rfc7516#section-3, which are

* JOSE Header
* JWE Encrypted Key
* JWE Initialization Vector
* JWE AAD
* JWE Ciphertext
* JWE A

[2020-09-30 18:06] anatol commented on #207
I am not an expert to answer this question, @npmccallum is a better source of truth here.

Also I found this comment here https://github.com/latchset/jose/blob/master/jose/jwe.h#L27

[code]

so with `ECDH-ES` there is no `encrypted_key` in the jwk.

But if for example I generate `ECDH-ES+A256KW` key `jose jwk gen -i '{"alg":"ECDH-ES+A256KW"}' -o ec.jwk` (DH key derivation and then wrap key with AE

[2020-09-30 18:25] anatol commented on #207
And here is an updated example with `ECDH-ES+A256KW` algo:

[code]

[2020-09-30 22:58] lestrrat commented on #207
Oh wow, I haven't groked all of this yet, but this is what I get from working strictly out of the RFCs I swear there's no mention of this in the RFC :/ Thank you for digging into this, but this just means I have some catching up to do

[2020-09-30 23:17] lestrrat commented on #207
Ah, no wonder I don't remember doing this stuff about plain ECDH_ES... I never implemented it yet. Okay, well, at least it's not a "bug" that ECDH-ES doesn't work, albeit that it lacks clear documentation and error reporting.

![image](https://user-images.githubusercontent.com/49281/94749244-59c9d080-03be-11eb-8e07-014fc6d896ab.png)

[2020-09-30 23:20] lestrrat commented on #207
Okay, for the updated example, the same deal as before, no recipient error... will go and research

[2020-10-01 01:07] lestrrat commented on #207
@anatol I think per RFC, the jose tool generates an invalid JWE message. [The RFC explicitly states](https://tools.ietf.org/html/rfc7516#section-7.2.1) that the `"header"` is a per-recipient element, and it should not appear directly in the main object.

[code]

[2020-10-01 01:28] anatol commented on #207
@lestrrat it makes sense. I filed a ticket to `jose` project https://github.com/latchset/jose/issues/85

[2020-10-01 04:22] lestrrat commented on #207
Yeah, I so my bad. back to coding...

[2020-10-01 04:25] anatol commented on #207
`jose` folks pointed to _Flattened JWE JSON Serialization Syntax_ https://tools.ietf.org/html/rfc7516#section-7.2.2

Also I think this `no recipients` error should be tracked as a separate issue.

[2020-10-01 17:13] npmccallum commented on #207
[RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.2.1.2) says:

Do I understand correctly that the `jose` project is correctly following the spec? A comment says that `go-jose` pads and `jose` doesn't, but the code implies it is the other way around. I reviewed our code and I **think** we are correct.

[2020-10-01 17:23] npmccallum commented on #207
FYI, `jose` calculates the length of the encoded values [here](https://github.com/latchset/jose/blob/master/lib/openssl/jwk.c#L166). We then pass that length to the encoding function [here](https://github.com/latchset/jose/blob/master/lib/openssl/jwk.c#L200). This **should** zero-pad to the width of the field [here](https://github.com/latchset/jose/blob/master/lib/openssl/misc.c#L90). But I'm neit

[2020-10-01 18:06] anatol commented on #207
Both `jose` and `go-jose` do padding (and it is correct as per RFC you pointed). `jwx` does not do padding and it is what we try to clarify/fix.

[2020-10-07 00:57] anatol opened #210 "Add support for 'dir' encryption"
`clevis` tool uses `dir` encryption mode for some of its use-cases. `jwx` should probably support `dir` as well. The API would look like this:

`msg.Decrypt(jwa.DIRECT, cek)`

[2020-10-07 01:04] anatol opened #211 "Add integration tests with use of `jose` tool"
One thing that would help keeping `jwx` feature-full and compatible with other implementation is to have integration tests that utilize those implementation. The idea here is to generate a key using tools like `jose`, then encrypt a message (again using `jose`) and then try to decrypt it with `jwx`. At the end the plaintext should be exactly the same as input to `jose`.

The test should also verif

[2020-10-07 05:34] anatol commented on #210
Following patch seem does the trick. I can decode message encrypted with `jose` dir mode using this patch https://github.com/anatol/jwx/commit/d06d17561d407ea8bcaf9570b34bc43138ed8e28

[2020-10-08 02:15] lestrrat commented on #207
fixed by #207, #208, #212

[2020-10-08 02:15] #207 closed

[2020-10-08 02:25] lestrrat commented on #210
note: as of this writing (because of rebasing) above commit ID has changed to 23d7e1c1c028b7ac7c6631af3dbc58e923f59ac9

[2020-10-08 07:35] lestrrat commented on #210
fixed by #213

[2020-10-08 07:35] #210 closed

[2020-10-14 09:55] lestrrat commented on #211
just letting you know that this hasn't been warnocked. been taking time off for the last week. Will get back when I sort out $day_job :)

[2020-10-14 17:28] codeliger opened #215 "How do I take a Base64 string JWT token containing 4 parts (3 periods '.') and pass it as a RS256 public key."
`verified, err := jws.Verify(buf, jwa.RS256, &privkey.PublicKey)`

In the sample code provided a generic interface is required containing a public key.

How do I take a Base64 string JWT token containing 4 parts (3 periods '.') and pass it as a RS256 public key?

There doesn't seem to be a clear way to create a public key struct for RS256.

[2020-10-14 21:44] anatol commented on #211
No worries.

Just a bit more info about this request. We want to run some operation with existing tools like `jose` and then check the result using `jwx`. e.g

[code]

generates a key, generates a thumbprint and then encrypts a message. `jwx` should read the key, parse it, check that thumbprint matches, decrypt the message.

We want different types of keys here and check different operations (encr

[2020-10-15 06:45] lestrrat commented on #215
This questions is more about how JWT/JWK work, and not necessarily this particular library.

Usually the public key is provided as a separate entity

For example, Google:

https://developers.google.com/identity/protocols/oauth2/openid-connect#validatinganidtoken

The keys will be available as JWK keys in the url pointed by above jwks_uri (see original doc for the actual link), which you can parse

[2020-10-15 06:45] #215 closed

[2020-10-19 11:52] lestrrat commented on #211
@anatol So I added some basic testing for `jose` tools in #216

Maybe you can suggest some tests that you want me to include in there?

[2020-10-25 21:31] dtrinh100 opened #218 "Verifying JWT"
I don't see any examples for verifying a JWT in the examples (besides the signing algorithm and secret), but I see the function in the documentation. Is this the correct way of using it?

Code to generate token:

[code]

Code to parse and verify token:

[code]

I assume using the `Verify` function here will check to make sure that the token hasn't expired and if it has expired, return an error, is

[2020-10-26 23:13] lestrrat commented on #218
oh oops, I thought I hit the Comment button yesterday, and I apparently didn't.

Yeah, so are/should be correct. `jwt.Parse` and its verify verifies the integrity of the possibly signed payload, but does not verify its contents.
The documentation does not properly reflect the current state of things, and needs to be fixed.

[2020-10-26 23:15] lestrrat commented on #218
@dtrinh100 in hindsight, `jwt.Verify` should have been `jwt.Valid()` or something. I may deprecate jwt.Verify and add jwt.Valid

[2020-10-27 00:23] lestrrat commented on #218
@dtrinh100 would you say #220 makes a bit more sense than the current state?

[2020-10-27 16:38] dtrinh100 commented on #218
@lestrrat Yes, that seems good to me. Thanks!

[2020-10-27 22:15] lestrrat commented on #218
Thanks. #220 has been merged

[2020-10-27 22:15] #218 closed

[2020-10-28 13:22] yaronf opened #221 "JWS headers with numeric values are parsed as float64"
When I parse a JWS into a Message and then access the headers, any number (e.g. a timestamp in my case, originally an int64) is unmarshaled as float64. This potentially loses precision and is not ideal for security code.

Setting the header:
[code]

Reading the header:
[code]

A better solution would be to use the JSON package `UseNumber` facility, then we'd get back a string. See https://stackove

[2020-10-28 14:44] lestrrat commented on #221
I think my initial thought when I wrote this was that

1. I don't like that that we lose symmetry when we set, say, an integer, and then when Marshal/Unmarshal an object to and from JSON we get a json.Number back instead of an int, and
2. Those who need exact values in JSON need to use strings anyways -- precision in JSON will vary depending on the platform that parses it, therefore careful coders

[2020-10-28 15:17] yaronf commented on #221
The problem with this approach is that numbers will be marshaled to quoted strings by the JWS `Headers.Set` API. And if the protocol requires a number, you're screwed. This is the case in the protocol I'm working on, [gnap-00](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-00.html) sec. 8.1.

Yes, I realize that simply adding `json.UseNumber` would be a breaking change.

[2020-10-28 22:41] lestrrat commented on #221
So the consumer end of the gnap protocol needs to accept an integer. Okay, I thought you were on the producer side.

The only hard part about this problem is that calls to `encoding/json` are buried deep in the code, and it's everywhere (and I think I would have to change this behavior for the entire `jwx` package so it's uniform) -- so it's not trivial to toggle the use of `json.UseNumber` withou

[2020-10-28 22:54] lestrrat commented on #221
Having said that, would you take a look at #222 ? This was the relatively easy thing to do.

[2020-10-28 22:54] lestrrat commented on #221
forgot to ping: @yaronf

[2020-10-29 13:52] #221 closed

[2020-11-13 21:18] anatol opened #230 "Parsing compact jwx and json jwx gives different messages"
I am using messages produced/parsed by `jose` tool and compatibility with this tool is needed for me.

One compatibility issue I found is the way how these tools parse compact messages vs json message. See a testcase below that shows the problem.

[code]

Parsing a compact form message with `jwx` gives a recipient in `msg.Recipients`. But if I convert it to json form using `jose` and then parse it

[2020-11-13 21:53] anatol commented on #230
And I cannot convert from json to compact form using `jwx`:

[code]

gives me error `wrong number of recipients for compact serialization`. While `jose` works fine here:

[code]

cc @npmccallum @sergio-correia

[2020-11-16 08:59] lestrrat commented on #230
mostly memo for self: Out of my head it looks like a problem with me recently adding a special case for $number_of_recipients == 1.

[2020-11-19 14:41] westwin opened #231 "KeyLookup hook to dynamically look up a key (by kid) during the verification phase"
current jws signature vefication function needs either a static key or keyset.

But in cases of the key can not be known before we parse/verify the token. I mean I need to lookup a database to load the key by kid.

A KeyLookup hook might be helpful

[2020-11-20 02:14] westwin commented on #231
I submitted a PR, please find https://github.com/lestrrat-go/jwx/pull/232

[2020-11-20 04:48] lestrrat commented on #231
I understand the use case, but I think it's a bit naive to assume that the key ID is the only thing that people would need. That is, I can see cases where people would depend on extra non-standard hints embedded in the fields in the message or the signed payload (i.e. "how do I make jwt.Parse to load a key dynamically using x-my-awesome-private-field?")

In that sense this is a hard hook to integr

[2020-11-20 05:10] westwin commented on #231
ok. thanks for your response.

let's close the issue.

[2020-11-20 05:10] #231 closed

[2020-11-22 23:39] lestrrat opened #234 "Support ECDH-ES"
I've been pondering about ECDH-ES for a bit, and I know I'm doing something wrong but given my limited tuits, I'm going to disable it and merge whatever else I got at this point.

This issue is for anybody looking for ECDH-ES support:  please look for `XXX For ECDH-ES` in the comments, and uncomment the portion(s) to active the current code, and see if you can debug either the tests or the code.

[2020-11-23 07:19] lestrrat commented on #230
@anatol sorry about the wait, I was hoping I could fix ECDH-ES completely before tackling this, but I just ran out of tuits, so decided to punt #234 and work on this instead.

Turns out yeah, it's a special case where len(recipients) == 0 that I needed to handle on both JSON and Compact serialization formats -- it's mostly internal thing, and didn't really manifest itself until you actually go thr

[2020-11-24 05:14] debug-ito opened #236 "How should we format a jwk.Key object?"
Current documentation (v1.0.5) does not explicitly describe how to format a `jwk.Key` object, I think. For parsing, we can easily figure out we can use `jwk.ParseKey` function from the document, but for formatting, we have basically no idea.

I was able to format a `jwk.Key` by  `json.Marshal`, but is that behavior officially supported? If so, we should mention it in the document.

[2020-11-24 05:17] debug-ito opened #237 "Return type of jwk.Key.Algorithm method is string, not SignatureAlgorithm"
While `jwt.Sign` and ~~`jwa.Sign`~~ `jws.Sign` take `alg` parameter of the type   `jwa.SignatureAlgorithm`, `jwk.Key`'s `Algorithm` method returns   `string`. Is it intended? Shouldn't all three use the same type?

[2020-11-24 05:26] debug-ito opened #238 "jws: inconsistent documentation on fine-grained verification"
Document of `jws` (v1.0.5) is inconsistent about fine-grained verification.

Document on `Verify` function says

However, document on `Message` struct says

I suggest removing the comment on `Verify` function, because manually doing `Parse` and `Verify` is harder than it looks like. To do that, the user has to concatenate the JWS payload and the protected header manually, and pass the result to th

[2020-11-24 05:50] lestrrat commented on #238
first, I think the intention of the comment in Verify is that if you want to verify an arbitrary payload and signed string, you need to use the low level tools, such as the `verify` and `sign` package

second, the comment on the Message does not contradict anything from the previous Verify comment. It explicitly states that a message object is not meant to be used for signing. It's meant to be use

[2020-11-24 05:53] lestrrat commented on #237
That may have been an oversight. TBH I don't remember if there was any reason it was that way, but yes, it's certainly inconsistent with the other jwt, jws,... packages.

[2020-11-24 06:00] lestrrat commented on #236
I think prior to the great refactor of 2020 (#154 onwards) this used to be more self explanatory, because you needed to work more with the actual underlying types of `jwk.*Key`, and not the more abstract `jwk.Key` type.

I suppose an example test and a corresponding entry in the README may be much deserved.

[2020-11-24 07:53] debug-ito commented on #236
Thanks!

[2020-11-24 08:13] debug-ito commented on #238
Thanks for reply. I think I understand the spirit of those documents.

In the above part of the document of `Verify` function, what does "the parsed JWS message object" refer to? Is that the `*jws.Message` value returned from `jws.Parse` function?

If the answer to the above question is yes, it seems to me that a `jws.Message` value is used for verification. So I thought it's inconsistent.

[2020-11-24 08:40] lestrrat commented on #238
The answer is _probably yes_, b/c that specific comment is from 2015, and the bulk of the code is post 2018, more recently 2020: I have a vague recollection that the old API was something like

[code]

which is completely different from what it is today

So you were working with `jws.Message` directly. Knowing the recent internals, though, I read it `JWS message` as more like the components after

[2020-11-24 09:12] #236 closed

[2020-11-24 09:18] debug-ito commented on #238
I understand the background, thanks.

What I wanted to do was to check some fields in the JOSE header in a JWT as part of our verification process. In the end, I did like

[code]

(error check omitted)

I just passed the same `encodedJWT` to `ParseString` and `Verify`. It was the easiest way for me.

So, instead of the current document on `Verify` function,

how about recommending the steps I took

[2020-11-24 09:21] lestrrat commented on #238
there's no reason I should stop you. let me know when

[2020-11-24 11:39] #238 closed

[2020-11-24 11:49] lestrrat commented on #237
I think the answer is that possible values for JWK alg field were not well defined in [RFC7518](https://tools.ietf.org/html/rfc7518).

[2020-11-25 01:32] debug-ito commented on #237
(sorry, "jwa.Sign" in [my first comment](https://github.com/lestrrat-go/jwx/issues/237#issue-749350372) was typo for "jws.Sign". I revised it.)

[Section 4.4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.4) defines the possible values for "alg" parameter in JWK.

On the other hand, [Section 4.1.1 of RFC 7515](https://tools.ietf.org/html/rfc7515#section-4.1.1) defines the possible valu

[2020-11-25 04:57] lestrrat commented on #230
@anatol going to merge this for now. Please holler if you encounter any problems

[2020-11-25 04:57] #230 closed

[2020-11-27 08:56] reinkrul opened #243 "X.509 certificates must be base64 encoded with padding"
According to RFC7515 section 4.1.6 (JWS, https://tools.ietf.org/html/rfc7515#section-4.1.6) and RFC7519 section 4.7 (JWK, https://tools.ietf.org/html/rfc7517#section-4.7) the X.509 certificate chain (`x5c`) must be encoded as base64 with padding. Since version 1.x the jwx library encodes the `x5c` field without padding, which is incorrect:

- Base64 RFC 4648 section 3.2 (https://tools.ietf.org/htm

[2020-11-27 09:50] lestrrat commented on #243
I have only glanced through this issue and the rfc, but yeah, if base64 (not base64url) is required, I have a feeling I did screw that one up.

[2020-11-27 11:55] reinkrul commented on #243
I linked a PR that will fix the issue.

[2020-11-27 12:11] #243 closed

[2020-11-27 12:11] lestrrat commented on #243
@reinkrul Thanks!

[2020-12-10 17:33] anatol commented on #230
Hi sorry for the delay.

I was trying to update my project to the latest `master` branch changes to verify the parsing fix. But I found that you dropped current ECDH implementation. It is something I use (I implement ECMR on top of ECDH). See my code here https://github.com/anatol/clevis.go/blob/main/tang.go#L21

I guess I need to wait for https://github.com/lestrrat-go/jwx/issues/234. Once `jwx`

[2020-12-10 22:29] lestrrat commented on #230
Ugh. I guess I need to reopen the hell gates again :)
But so you're saying the previous implementation of ECDH worked, then? I was pretty sure the output for jose didn't match for jwx -- but if you it worked for your previously, then I must've introduced something new.

[2020-12-10 22:37] anatol commented on #230
The previous ECDH worked for me (see https://github.com/anatol/clevis.go/blob/main/tang.go#L21)

[2020-12-10 22:40] lestrrat commented on #230
Okay, I'll take a diff with the previous version, and see if it matches first, then redo the check against jose.
IIRC my tests kept working then I tried the jose compatibility, which is when all hell broke loose. anyways, thanks for the info.

[2020-12-15 05:40] imirkin commented on #234
FWIW I played with this a whole bunch. I noticed that the AlgID was being set wrong (supposed to get set to the content encryption alg), fixed that, but still no good. One thing I noticed is that the "z" value's byte length with P-521 varies between 65 and 66 bytes, while with jose it is *always* 66 bytes. Perhaps that's OK, not sure. jose doesn't do anything special with the value though.

[2020-12-15 14:40] imirkin commented on #234
Actually that 65 vs 66 thing may be it. We just take the number of bytes from the big.Int (z.Bytes() ). However jose does:

    len = (EC_GROUP_get_degree(grp) + 7) / 8;
    bn_encode_json(prv, len)

Which makes sense -- the key should be the same length no matter what. This might also explain the inconsistent results in the ECDH-ES+A256KW tests. I'll look into this tonight.

[2020-12-15 15:35] imirkin commented on #234
Nooope. Fixed the buffer size, which does make ECDH-ES+A256KW work consistently, but ECDH-ES is still no-go.

[2020-12-15 23:19] faraonc opened #247 "When is the next expected release?"
When is the next expected release?

My team is very interested with this library. It seems like this library have code in master that can enable to parse the token string with verifications option to validate the token e.g. expiration date. This functionality was introduced in this PR https://github.com/lestrrat-go/jwx/pull/220/files

[2020-12-16 00:33] imirkin commented on #234
Finally figured it out. In direct key agreement mode, there (effectively) is no cek -- it's just generated based on the parameters. So all the cek-generation we do at encrypt time has to be thrown out. I have a change to implement this, just waiting for my other PR to "clear" first.

[2020-12-16 04:31] lestrrat commented on #234
Sorry, $day_job's been keeping me busy. Going to merge the other one now

[2020-12-16 04:34] lestrrat commented on #247
I've been holding off since I had been pointed out that there were interoperability problems with other libraries. And while this effort is going to continue, the immediate blocker is #234 -- which, I have just been notified that there may be a fix for. So if that goes through, the answer is "soon-ish" :)

[2020-12-16 04:57] #234 closed

[2020-12-16 06:04] imirkin opened #250 "Add RFC 8037 (EdDSA) support"
https://tools.ietf.org/html/rfc8037

This adds some additional curves to be used with ECDH-ES, as well as a new EdDSA algorithm which can be used for signatures.

[2020-12-16 08:48] lestrrat commented on #230
@anatol @imirkin kindly patched things up and all tests are clean now. Can you please take things for a whirl?

[2020-12-16 15:31] anatol commented on #230
Thank you for the changes. Quick check shows that ECDH and the original issue are fixed and everything looks good now.

[2020-12-16 21:33] lestrrat commented on #211
closing this as at least some tests have been added.

[2020-12-16 21:33] #211 closed

[2020-12-16 21:38] lestrrat commented on #247
https://github.com/lestrrat-go/jwx/releases/tag/v1.0.6.

Enjoy.

[2020-12-16 21:38] #247 closed

[2020-12-16 21:39] imirkin commented on #250
Looks like ed25519 is in the Go 1.13+ standard library.

golang.org/x/crypto (which is already used for PBES2 support) has a curve25519, which has a X25519 helper.

X448 does not appear to have support by default. There are a couple of implementations of the curve here:

https://pkg.go.dev/github.com/cloudflare/circl/dh/x448
https://pkg.go.dev/gitlab.com/yawning/x448.git

but X448 and Ed448 would

[2020-12-16 21:43] faraonc commented on #247
Thanks a lot!

[2020-12-16 22:04] lestrrat commented on #250
No objections to adding support.

wrt adding libraries, if it seems like overkill there's always the build tag route to make certain libraries optional.

[2020-12-16 22:30] imirkin commented on #250
IMO starting with the 25519 curve should be sufficient, and 448 can be added when the standard libraries gain support. It seems like mainstream libraries are just starting to gain support for it, so I expect Go will get a proper implementation eventually.

[2020-12-17 06:27] imirkin commented on #250
@lestrrat interesting problem ... so there's a ed25519.Public/PrivateKey type. But there is no curve25519 public/private key type. The way X25519() works is, essentially, a hard-to-reverse multiplication. So there's a "base" point, let's call it "x", and the private key is your number, 'a', and the public key is someone else's private key 'b' times the base point 'x'. And the idea is that a * (b *

[2020-12-17 06:33] lestrrat commented on #250
I was fooling around with the same stuff earlier, and I think the best way to go about it is to define `jwk.OctetKey` as `type OctetKey []byte`? I haven't gotten as far as actually making them computations, so I'm not sure if that will suffice, but from the RFC it sounded like it.

Also, you probably need to define `jwa.OctetKeyPair` as `"OKP"`, and `jwa.Ed25519` + `jwa.X25519`. Former for signatu

[2020-12-17 06:37] lestrrat commented on #250
Oh, and probably `jwa.EdDSA` as a SignatureAlgorithm

[2020-12-17 06:42] imirkin commented on #250
Yeah, I've done all that. Ed25519 works just fine. This is about X25519.

[2020-12-17 06:42] lestrrat commented on #250
Oh oops, sorry. Let me re-read

[2020-12-17 06:43] imirkin commented on #250
FWIW this is what I have so far: https://github.com/imirkin/jwx/commits/eddsa

But I was just planning how to deal with the X25519 stuff for jwe encrypt/decrypt.

[2020-12-17 06:48] imirkin commented on #250
I don't think a single "OctetKey" type would work -- we need to know if it's X25519, X448, or some other future to-be-defined scheme. We can guess based on the length, but that's unconvincing and not future-proof. And it still wouldn't let us distinguish between public and private.

Basically public and private are just bytes, and the relationship is that public = X25519(private, Basepoint). But t

[2020-12-17 06:49] lestrrat commented on #250
I see

[2020-12-17 06:49] lestrrat commented on #250
Man, I wish they'd just thrown it in one of the `crypto/` packages.

[2020-12-17 06:51] imirkin commented on #250
https://pkg.go.dev/golang.org/x/crypto/curve25519 has the X25519 function, but the concept of "public" and "private" keys is a bit artificial. Although I guess that's the case with ed25519 too? Not 100% sure, didn't look into that one since it was all already there and defined :)

[2020-12-17 06:52] lestrrat commented on #250
In that case, why don't we introduce a new package under `jwx/* (curve25519?)` to declare dedicated keys in, and put a fat label that it's a placeholder?

[2020-12-17 06:57] imirkin commented on #250
OK, will do.

[2020-12-18 05:45] lestrrat commented on #250
I'm going to create a separate issue for X448 and close this one

[2020-12-18 05:46] lestrrat opened #254 "Implement X448"
Ed25519 and X25519 have been implemented, but we're waiting on something semi-official for X448 to be available (like crypto/ed25519)

see #250

[2020-12-18 05:46] #250 closed

[2020-12-28 03:46] shaunco opened #260 "Add Expiration field for jwk.Set that is populated by cache-control header"
**Abstract**
It would be great if jwk.Set had an `Expiration` property that is populated by the HTTP `cache-control` header when `FetchHTTP` is used or can be set manually if one of the `Parse` methods is used. Additionally, an 'Origin' property to track where the jwk.Set originated from would be helpful (per the usecase below)

**Describe the proposed solution/change**
Before enumerating availabl

[2020-12-28 06:20] lestrrat commented on #260
I think in hindsight what I should have done was to remove the FetchHTTP and the like from `jwk`  and put them in a sub package like `github.com/lestrrat-go/jwx/jwk/httputil`. This would have allowed more leeway to add utilities such as the one you described.

It might not be too late to do this. We simply need to change the implementation as follows:

1. We deprecate `"github.com/lestrrat-go/jwx/

[2020-12-28 06:23] lestrrat commented on #260
Ah wait, the circular referencing isn't solved with my above comment. Still thinking, but most of my comment still stands.

[2020-12-28 06:28] lestrrat commented on #260
Oh, and yes, you mentioned Origin. My bad.

[2020-12-28 09:39] shaunco commented on #260
Thank you for the very thoughtful response!

I had implemented this a different way, without the `Origin` and `Refetch()` as Refetch would have required quite a bit of thought around read/write locks. In the end, that seemed better suited for the client to own.

I will submit my PR, but please feel free to decline it if you want to go the route you described above.

[2020-12-28 23:20] lestrrat commented on #260
I've been fiddling with this, and am starting to think this is not at the layer of a Key/KeySet. It feels awkward to encode HTTP semantics into the JWK because cache-control and expires are properties of a storage/caching layer, something like the `Cookie Jar` that we have been using for HTTP cookies.

[code]

The Auth0 library, for example, uses such a.concept to control their JWKs.

[2020-12-28 23:42] lestrrat commented on #260
I wonder if this works for you? It uses `github.com/gregjones/httpcache` to implement the HTTP caching.
You would have to *always* use `jwk.Fetch(HTTP)` to get at the JWK to take advantage of the Cache-Control and Expires headers though.

https://github.com/lestrrat-go/jwx/compare/topic/http-cache?expand=1

[2020-12-28 23:43] shaunco commented on #260
I like the MemoryCache model, as it matches a few of the other JWK libraries for go and decouples the expiration from the Set. I assume the TTL would be passed to cache?

[2020-12-28 23:55] shaunco commented on #260
This looks pretty nice. It would change how I use it so that I end up calling `FetchHTTP` before every `Parse()`/`Validate()`, but given that the call will just hit the cache, it shouldn't add much overhead.

The one catch is that the way `httpcache` package implements thread safety across `Get`, `Set`, and `Delete` looks like any concurrent requests at time of expiration will all end up fetching

[2020-12-29 00:05] lestrrat commented on #260
I see, so if your JWK is still valid, it would be overwritten anew on a cache-miss.
In that case we can probably do

[code]

On a side note, I wish JWK by definition only allowed one key instead of one or more keys... Having to deal with a URL possibly pointing to a Key /or/ KeySet is really really really annoying....

Anyways, @shaunco I really would like your use-case as a test. It can contain p

[2020-12-29 00:14] lestrrat commented on #260
Ah, that code snippet was bad, but the idea still stands...

[2020-12-29 00:17] shaunco commented on #260
The sync concern was 10 concurrent requests, after the cache has expired, results in:
- `req1` --> `FetchHTTP()` --> Cache miss --> http fetch --> `cache.Set()` --> `Lock()` succeeds --> stores value
- `req2` --> `FetchHTTP()` --> Cache miss --> http fetch --> `cache.Set()` --> `Lock()` blocks until 1 finishes --> stores value
- `req3` --> `FetchHTTP()` --> Cache miss --> http fetch --> `cache.Set

[2020-12-29 00:26] lestrrat commented on #260
Right, so your concern for synchronization is about thundering herd. Fair enough. That is usually a concern in the application layer, not on the HTTP layer, so it would have to be dealt atop the HTTP caching.

I'm going to have to ponder for a little while.

Meanwhile, if you could distill your use case that you described as a test, it would make things much easier (obviously, the parts about gRPC

[2020-12-29 00:49] lestrrat commented on #260
re: synchronization, am pretty sure something like this will avoid a thundering herd https://github.com/lestrrat-go/jwx/commit/5eefc72703b0225e3b1390fa1eb5649dd369e641

[2020-12-29 00:56] lestrrat commented on #260
I need to jet for the day, but going to leave the following memo for me to remember later:

Possible idea. Use `github.com/gregjones/httpcache` underneath, but add a higher level API like so:

[code]

[2020-12-29 08:09] lestrrat commented on #260
@shaunco alright, here's my initial take: #262 .

See [here](https://github.com/lestrrat-go/jwx/pull/262/files#diff-40f65963e86f0e5ec7c15dd282ccb94f2feff9934e698bf2f51c98598ec5b45bR639) for usage.

I still haven't implemented the minimum-time-to-refresh part yet. That's next after I get some feedback.
Let me know what you think

[2020-12-29 13:01] shaunco commented on #260
#262 looks good at my first pass. Give me a day to build the usecase as a test.

[2020-12-30 10:08] shaunco commented on #260
In case anyone makes it here and is looking for the usecase, it is linked in https://github.com/lestrrat-go/jwx/pull/262#issuecomment-752400686

[2020-12-30 17:47] imirkin opened #264 "file-rotatelogs archived?"
@lestrrat I know this is the wrong forum, but I don't know of another way to reach you. It appears you've archived the lestrrat-go/file-rotatelogs repository, but without an update to the README which explains why. Was this by accident, or on purpose? If on purpose, what do you recommend for existing users?

[2020-12-30 23:51] lestrrat commented on #264
try my gmail account (which you should be able to easily guess from my handle) if you insist on knowing why.

as for replacements, I don't have anything handy. if you are content on using file-rotatelogs, forking it is probably the way to go

[2020-12-31 01:20] #264 closed

[2021-01-01 19:41] imirkin commented on #254
Looks like a proposal for including Ed448/X448 in the stdlib or x/crypto was rejected:

https://github.com/golang/go/issues/29390

[2021-01-03 11:48] lestrrat opened #266 "Rewrite options in terms of github.com/lestrrat-go/option"
Then keys can be empty structs, instead of strings

[code]

waiting for #265

[2021-01-04 14:19] huangapple opened #267 "type jwk.Key has no field or method Materialize"
why delete?

[2021-01-04 22:29] lestrrat commented on #267
Because [we renamed it to `Raw()` for the 1.0.0 release](https://github.com/lestrrat-go/jwx#notes-for-users-of-pre-100-release), which is [also documented in the Changes](https://github.com/lestrrat-go/jwx/blob/master/Changes#L94-L96)

[2021-01-04 22:29] #267 closed

[2021-01-06 12:37] lestrrat commented on #260
fixed by #265

[2021-01-06 12:37] #260 closed

[2021-01-06 12:38] #266 closed

[2021-01-10 03:32] steevehook opened #270 "RSA private key Set (KeyUsageKey) wrong type assertion"
### The Gotcha

When trying to use  `Set` method of `jwk.Key` in my case I'm trying something as simple as:

[code]

which results in a weird error which kinda explains itself but I believe it could be corrected:

`could not set sig field for jwk key","error":"invalid value for use key: jwk.KeyUsageType"`

I believe this type of assertion prevails in the project which results in unusable library c

[2021-01-10 04:35] lestrrat commented on #270
Ah, that must be an artifact from when these constants didn't exist before...

[2021-01-10 04:37] steevehook commented on #270
Let me know if this is a thing. Or you just require clients to be aware of type conversion. Thanks ☺️

[2021-01-10 04:38] lestrrat commented on #270
I probably just need to generate the appropriate conversions. a failing test case would be nice, if you already have one handy

[2021-01-10 04:39] steevehook commented on #270
I believe a helper would be fit. Like check agains a list of consts or a fallback type. If I got it right

[2021-01-10 04:54] lestrrat commented on #270
Not sure exactly what you mean, but currently Set() is generated, so that's what I mean by "I need to generate it"
I assume you don't have a test case handy?

[2021-01-10 04:58] steevehook commented on #270
Aha, I see now. Had a look in Makefile. Ermm, no, I don't really have a test case per say

[2021-01-10 04:58] lestrrat commented on #270
@steevehook Please check #271, and check if you it works for you

[2021-01-10 07:34] lestrrat commented on #270
fixed #271

[2021-01-10 07:34] #270 closed

[2021-01-13 12:22] joesiltberg opened #280 "Verifying a JWS with a JWK without alg should attempt to use the alg from the JWS"
I tried verifying a JWS with a JWK that didn't have an alg header parameter ("failed to create verifier" in jws.Verify, due to the algorithm being empty).

Since the alg is optional in the JWK, but not for the JWS, I think we should default to using the algorithm specified by the signature if they key doesn't specify an algorithm.

I could try implementing a PR for this if you agree it should work

[2021-01-14 00:21] lestrrat commented on #280
I remember not so long ago there was discussion where malicious players would intentionally leave the "alg" field blank to bypass JWS verification. IIRC believe the explicit nature of the current API is a result of that.

Quick googling lists: https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/
(However this is definitely not the original article I read a while back, I'm p

[2021-01-14 09:55] joesiltberg commented on #280
That makes sense, thank you!

[2021-01-14 09:55] #280 closed

[2021-01-15 18:07] harwoeck opened #286 "Ability to choose underlying implementation of jwa.SignatureAlgorithm"
**Abstract**
Provide a way to choose the underlying implementation for a `jwa.SignatureAlgorithm` value during `Sign`. My main objective would be to use [cloudflare/circl](https://github.com/cloudflare/circl)'s implementation of Ed25519 instead of `"crypto/ed25519"` from the standard library. This would provide a huge performance improvement when your architecture can benefit from Cloudflare's opt

[2021-01-15 21:34] lestrrat commented on #286
@harwoeck Hi, thanks for the suggestion! Would it fulfill what you want if you you could register a signer for a given signature algorithm? i.e.:

[code]

The reason being, if we could simply swap out the implementation that gets called from the factor in jws/sign/sign.go, we wouldn't have to change anything in the code path other than this registration/lookup phase.

[2021-01-15 23:25] lestrrat commented on #286
@harwoeck Please check out #287 for a possible solution via registration of Signer/Verifier factories, and let me know if this does the job for you

[2021-01-15 23:29] lestrrat opened #288 "Move examples into separate package."
#286 and #287 introduced the possibility of adding external packages to our examples.
In order to separate dependencies from the core libraries from the examples, we need to move the example code
to its own directory, with its own go.mod file.

Furthermore, lately I have been feeling that this library has been growing to a size where keeping track of all of the examples in various different locati

[2021-01-16 19:29] harwoeck commented on #286
Hi @lestrrat ! :) Thanks for the fast response and your pull request! :+1: I'm really thrilled than we found a solution this fast. Absolutely happy with my switch from https://github.com/dgrijalva/jwt-go to this package.

Regarding [#287 ](https://github.com/lestrrat-go/jwx/pull/287): Registration of Signer/Verifier factories is perfectly fine. Thank you for your great work :1st_place_medal:

[2021-01-16 22:10] lestrrat commented on #286
@harwoeck cool! I'll merge #287 then. I won't do a release for a bit (few days?) so please go get from master for the time being. Thank you!

[2021-01-16 22:20] #286 closed

[2021-01-17 00:03] lestrrat opened #291 "[NOTICE] v1.1.0 will remove Parse(io.Reader)"
This was something I've been meaning to do for a while. We will standardize on on `Parse([]byte)` for all packages.

## why?

* Because []byte is easier to optimize
* Because it's more standard in stdlib and elsewhere

## when?

* Don't know yet. whenever v1.1.0 comes.
* We can setup a tentative timeline. Apr 2021?

[2021-01-17 01:23] gbolo opened #293 "jwks json marshal"
I been using this library for testing an OIDC flow (as a client). I been using the jwa, jwt, and jwk packages you have published here to accomplish that. Works great, thank you.

I think it would be useful to be able to marshal the `jwk.Set` struct into an RFC compliant json structure, so that I can serve it directly as a jwks uri for signature verification. However, this struct is missing the jso

[2021-01-17 01:28] lestrrat commented on #293
That's a bug :/
I've been meaning to do something about the clunkiness of `jwk.Set`, and maybe this is something that I should tackle in v1.1.0 (where I intend to introduce non-compatible changes). I just published an issue (#291) claiming "maybe April", though.

Is this a blocker for you, or are you able to workaround it for the time being? The changes itself is not that hard to do, I just want t

[2021-01-17 01:55] #288 closed

[2021-01-17 02:08] gbolo commented on #293
not a blocker at all. Current work around is something like:
[code]

I really love the idea of the standalone function. Currently i maintain two different jwks objects:
[code]

Both vars have the same keys, except the `pubKeySet` is just the public portion of the keys in `signingKeySet`. This function you proposed would highly welcomed by me :)

If you would like me to contribute a PR I can look i

[2021-01-17 03:34] lestrrat opened #295 "[NOTICE] Changes for v1.1.0 (BREAKING CHANGES! PLEASE TEST)"
Tracker issue for v1.1.0, which is planned to introduce breaking changes. Development is being done in https://github.com/lestrrat-go/jwx/tree/develop/v1.1.0

# Planned Breaking Changes

* [x] Remove all `Parse(io.Reader)`, `ParseBytes([]byte)`, and ~~`ParseString(string)`~~ methods (closes #291)
   * [x] Add `Parse([]byte)` and `ParseReader(io.Reader)` methods
   * [x] Remove `jws.ParseVerify`
*

[2021-01-17 07:17] lestrrat commented on #293
@gbolo I'm did some work the develop/v1.1.0 branch.

These are breaking changes, and API is not guaranteed to be stable yet, but I started work on the two things you metnioned in #296 and #297

For your `jwk.Set` marshaling, now it should Just Work. But the API is different, so you will see breakage.

For getting `jwk.Set` with public keys, this *should* do everything you want.

[code]

Please rev

[2021-01-17 11:49] user163 opened #299 "VerifyPKCS1v15 fails for JWTs larger than 4096 bytes"
**Bug description:**
[`VerifyWithJWKSet`][1] in _lestrrat-go/jwx/jws/jws.go_ does not work if the JWT is larger than 4096 bytes. In this case, the verification of valid but too long JWTs fails. The cause is a bug in [`SplitCompact`][2]. The function uses a buffer of 4096 bytes for processing. The problem occurs when the JWT is larger than this buffer. In this case the splitting of the JWT into its

[2021-01-17 16:16] gbolo commented on #293
@lestrrat I tested [topic/public-key-of](https://github.com/lestrrat-go/jwx/tree/topic/public-key-of) rev `3e59c0a` with the following code and it worked perfectly! Thank you:

[code]

I also noticed the changes to the API (now the `jwks.Set.Keys` is not exported). However, this was not a problem since the new API had everything I needed: `jwks.Set.Add(key)`, `jwks.Set.Len()`, and `jwks.Set.Get(in

[2021-01-17 21:51] lestrrat commented on #299
@user163 I can't reproduce this. What version are you using? (and what version are they using in SO????)

The explanation that `SplitCompact` is buggy strikes me as odd, as this exact issue has been fixed in 2019: be0ddc562644513e58297b27d9ea80f2b55be3aa (and of course, there are tests for it too 050ebb1dcff60f147c494093e54c82bb335cb8e4)

Anyways, here's what I added to verify, and the results for

[2021-01-17 22:08] lestrrat commented on #293
Cool. Merged to develop/v1.1.0

[2021-01-17 22:08] #293 closed

[2021-01-17 22:26] lestrrat commented on #299
For the record, v1.0.0 was created in May 2020, the fix for SplitCompact against payloads > 4096 bytes was introduced in May 2019, when there were no tags

[2021-01-17 22:49] lestrrat commented on #291
On second thought, keep ParseString()

[2021-01-17 23:38] user163 commented on #299
I used an archived repository, https://github.com/lestrrat/go-jwx instead of https://github.com/lestrrat-go/jwx. The bug no longer occurs in the correct repository. This issue can be closed. Sorry for that.

[2021-01-17 23:38] lestrrat commented on #299
@user163 glad this is sorted!

[2021-01-17 23:38] #299 closed

[2021-01-18 13:42] lestrrat commented on #295
I went into a frenzy and implemented everything in a day.
So much for [shooting for April](https://github.com/lestrrat-go/jwx/issues/291).

I guess it's time I stop and take some feedback.

I just want to have some fresh eyes, and to that extent I'm just going to call on some people who have recently contributed to this repository in one form or the other.  I will also ask from my Twitter account

[2021-01-18 14:08] sonatard commented on #295
Congrats v1.1.0 🎉 I'll check it!!
(And I'm @sonatard not @sonard 😂

[2021-01-18 14:10] lestrrat commented on #295
@sonatard That was a genuine typo :/

[2021-01-18 14:32] gbolo commented on #295
@lestrrat that's a tremendous amount of weekend work, Good job ;)

Can you add me as a code reviewer for #306 ? I already tested the changes in jwks api, I can try to make some time later to test other changes as well and review the code changes.

[2021-01-18 14:40] lestrrat commented on #295
@gbolo. Thank you! To explicitly assign you as a reviewer, I need to add you as an explicit collaborator. I just sent an invitation. Can you please check?

[2021-01-18 14:45] gbolo commented on #295
Accepted, thanks.

[2021-01-18 14:46] lestrrat commented on #295
Cool. Now, Immagonnagotobed.... brain fried for the day.

[2021-01-18 14:51] gbolo commented on #295
well deserved! I'm just starting out my day (I live in Toronto, Canada)

[2021-01-19 22:30] anatol commented on #295
I tested the latest master with my projects (that depend a lot on interoperability with `jose` C library) and things look good so far.

@lestrrat thank you for your hard work!

[2021-01-19 23:04] lestrrat commented on #295
@anatol Thanks! But unfortunately, the branch I wanted you to review was https://github.com/lestrrat-go/jwx/tree/develop/v1.1.0 :D

Master is basically the same as v1.0.8. The above tree contains a LOT of breaking changes

[2021-01-19 23:51] lestrrat commented on #295
repost from the PR

[2021-01-20 01:06] anatol commented on #295
D'oh sorry I missed it.

For `clevis.go` project I had to make following changes:

[code]

And the tests pass.

[2021-01-20 01:08] lestrrat commented on #295
@anatol thanks, I assume those changes weren't that much of a hassle to make. :D

[2021-01-20 01:09] anatol commented on #295
Not at all. The changes are straightforward and documented in the `Changes` file.

[2021-01-20 02:57] sonatard commented on #295
I was able to compile it with the following changes.

[code]

[2021-01-20 03:03] lestrrat commented on #295
@sonatard thanks! BTW *if* you are calling that `GoogleJWK()` function multiple times during the lifecycle of your program, this is when `jwk.AutoRefresh` would come in handy :)

[2021-01-20 03:44] sonatard commented on #295
That's good!!  know Google library provides jwk cache and refetch. I had a TODO about implementing the cache. But I need no do it thanks to your v1.10!!

Thanks!!

[2021-01-25 18:14] shaunco commented on #295
Sorry for the delay. I finally had a chance to look through this and it all looks really good!

[2021-01-25 18:16] gsafcik opened #315 "package github.com/lestrrat-go/backoff/v2: no Go files"
**Describe the bug**

In Docker, I can no longer build (as of Mon, Jan 25, 2021) because the package fails to install the `github.com/lestrrat-go/backoff` correctly.

**To Reproduce / Expected behavior**

To reproduce:

I'm using `RUN go get -d -v ./...` to retrieve `github.com/lestrrat-go/jwx` - which should correctly retrieve its dependencies. **NOTE:** I'm using Go 1.15 Alpine as base (`FROM go

[2021-01-26 01:06] lestrrat commented on #315
This should Just Work (or so I've been told) if you have a correct go.mod that points to a correct commit / tag. But hmmm.

BTW I intend to "fix" this the best way we can, but the intention is for users to migrate over to v2. Should I have communicated this better? Yes. Did I expect I needed communication? No, because again, I expected it to Just Work, given a proper go.mod.

Anyway, going to poke

[2021-01-26 01:11] lestrrat commented on #315
At first try, I couldn't reproduce, but it may be local caches, etc. Still trying, but meanwhile, FYI my work log:

 I'm at

[code]

go.mod

[code]

a casual `go test` without doing anything extra.

[code]

[2021-01-26 01:20] lestrrat commented on #315
`go help clean` shows me this

[code]

Seems promising. Let's try:

[code]

Okay, so everything under pkg/mod should be nuked. Let's try running `go test`, but with `-x` so we can see what it's doing

[code]

Okay, so go test is definitely downloading something, and producing the expected results.

@gsafcik I think we may need figure out what's different in our environments. I'm using go1.16beta1,

[2021-01-26 11:54] Warashi commented on #315
I reproduced the problem.

put Dockerfile below and do `docker build .`
[code]

the cause is that go is running in GOPATH mode

[2021-01-26 12:41] lestrrat commented on #315
Unfortunately I don't have a docker environment right now as I'm running on a M1 mac, but am I right in reading that @gsafcik  needs to use go.mod?

i.e., suppose you were doing

[code]

and instead, (1) set it up once

[code]

then (2) build it?

[code]

[2021-01-26 16:55] gsafcik commented on #315
@lestrrat Thank you for your quick response. I didn't look before but I guess we are on the opposite side of the world. Also, thank you for creating/maintaining a great lib :)

You and @warashi are correct. We are currently running in GOPATH mode (no `go.mod`). We do have plans to upgrade all our services to use Go modules but it wasn't slated yet as it was deemed a lower priority. Since this affe

[2021-01-26 22:03] lestrrat commented on #315
I figured it's time for the world to move on, and the duplication was a serious maintenance headache that I've been fighting ever since I started using v2 in my modules. So if I can get away with it, I'd rather not.

Let me just ask you one more time if you (I guess your organization, rather) if it's possible to workaround things? i.e., add an extra step or two in your build process, such as copyi

[2021-01-26 22:03] lestrrat commented on #315
Meanwhile I'm setting up an environment where I can test things

[2021-01-26 22:19] lestrrat commented on #315
Okay, I fired docker on GCP, and tested that the following works on golang:1.15-alpine

[code]

[code]

Is it possible for you to insert that bit in your workflow?

[2021-01-26 22:35] gsafcik commented on #315
@lestrrat

I totally understand what you're saying and appreciate your time! I will try my best to work around it.

I just saw this come in and will give it a shot!

[2021-01-26 22:46] gsafcik commented on #315
@lestrrat Thank you for your help! That worked. Closing issue.

[2021-01-26 22:46] #315 closed

[2021-01-27 03:14] AkselsLedins opened #316 "RSA/RS512 with x5c fails to parse"
Hello and first thanks for your awesome work @lestrrat

We are successfully using your library to parse a set of JWK. But now we are trying to use another authentication provider with another set and we are encountering an issue.

Here is the JWKS:
[code]

We tried multiple approaches but here is a code snippet that fails:

[code]

and here is the output

[code]

We tried using `jwk.Parse` and `jw

[2021-01-27 04:09] lestrrat commented on #316
Did you generate the x5c content yourself?

The error message says it all, really... the content isn't valid, and can't be parsed via

[2021-01-27 04:11] lestrrat commented on #316
Now, it's entirely possible that I'm missing a particular case where x5c can be something other than a `*x509.Certficiate`, I need to know what that content is supposed to be :)

[2021-01-27 04:52] lestrrat commented on #315
@gsafcik sorry, I decided to remove the leftover junk (v2/Makefile) in backoff, so you might need to actually call `mkdir v2` before copying files over in that workaround above. FYI.

[2021-01-27 05:52] AkselsLedins commented on #316
I did not generate the content myself, let me triple check with the team behind that JWKS and I'll get back to you asap

[2021-01-28 19:00] student020341 opened #317 "Is there a single step to make jwk.Key into something storable by nosql?"
**Abstract**
I am building an identity provider for fun. Today I'm at the step where I can sign a JWT and have private and public rsa keys to store. I was able to get them into a json string and store them in mongo that way, but if I store them as an object (like map[string]interface{}) I will be able to query them more easily. I am having trouble with 2 methods I have come across and am unsure if

[2021-01-28 22:06] lestrrat commented on #317
"n" in the example you gave is binary data -- a series of bits that describe a large prime number. So it's []byte, and they don't represent a series of readable characters. In JSON form, they are encoded into base64. But because we may do calculations or create "raw" keys from it, it's easier to store them as binary.

That is why the values in a key are "broken". They are not supposed to be string

[2021-01-28 22:06] #317 closed

[2021-01-28 22:16] lestrrat commented on #317
Hey, I'm sorry, I completely overlooked the first part of your response. will respond in my next reply

[2021-01-28 22:24] lestrrat commented on #317
The explanation about `n` being a []byte still stands. So the problem is, just converting them to a serialized form.
One way is just to use encoding/json
[code]
This will store values like `n` as strings.

Or, if you want to start with a `jwk.Key`, you can use `AsMap` or `Iterate`

[code]

Or use `Iterate` instead of `AsMap`.

In either case, though, the question is: "What if the key contains arbi

[2021-01-28 22:27] student020341 commented on #317
Hey, no problem. I ran into too many knowledge gaps to proceed with my project at this time, so I'm going to just use okta or something instead of building an identity provider. I may try again in the future when I have a better understanding of jwt/jwk.

Thanks anyway for answering some of those questions! To answer the nosql storage question, that was just for query purposes. If it's an object i

[2021-01-31 07:50] #291 closed

[2021-01-31 07:50] #295 closed

[2021-02-01 09:13] AkselsLedins commented on #316
Thanks for your patience and your reactivity @lestrrat,
Turns out the team behind the generation of the token is using the public key PEM in the x5c instead of using a certificate containing the key! Sorry :pray:

[2021-02-01 09:13] #316 closed

[2021-02-13 06:09] Code-Hex opened #332 "I want to get an object in private claim more easily"
Sorry my bad english skills 🙇

**Abstract**

I want to get an object in private claim more easily.

Currently, If I want to retrieve the objects in private claim as I wanted types, need to create a new token type which is implemented `jwt.Token` interface (like openid package) and pass it to `jwt.Parse` functions with `jwt.WithToken` option.
It's very hard to me to implement this interface to get

[2021-02-13 06:25] lestrrat commented on #332
Before we talk about yet-to-be-implemented solutions, I think the best approach with the current API is just to do this:

[code]

This abstracts much of the boilerplate without so much changing any API or behavior.

---

Now, having said that... I don't think your proposed solution is generic enough. Remember that private fields ("claims" in JWT lingo) are present in all of JWE, JWK, JWS, and JWT.

[2021-02-13 06:31] lestrrat commented on #332
Hmmm, this new API needs to be different from the current `Get()` in that, it should ONLY be applicable to private fields.

So if I do

[code]

it should be an error. I mean, I can't support both `tok.Subject()` and `tok.UnmarshalField("sub")` -- otherwise I would have to parse the `"sub"` field AND keep its `json.RawMessage` value, which is just a waste of space.

So the API needs to be named lik

[2021-02-13 06:34] lestrrat commented on #332
The bigger problem here is that it's not uniform. `tok.Get()` was uniform, because it could be applied to all fields.

If we have a method only for private fields, then the method needs to differentiate between private and non-private, and it's going to be hard to covey that through the method names and what no to the user. Currently I'm not a big fan.

Let me know if you have better ideas.

[2021-02-13 15:26] Code-Hex commented on #332
Thanks for your reply.

I had concern the same as your opinion like this. So I proposed solution to specify the token options and pass them to `jwt.New` function.

The details went like this. (Sorry I didn't write down the details.)

[code]

This way, `tok.Get` will be uniform.

BTW, I used like this way now, but It's not good way for me.

[code]

I agree your opinion about a new method `tok.Unmar

[2021-02-15 00:28] lestrrat commented on #332
Please elaborate?

---

I don't like the fact that your proposal hooks into `New()`, because then it's a per-object configuration. Why carry that extra information AFTER it has been parsed?

If that option is only used during `Parse()` I guess it would feel better, but then the results of `json.Unmarshal` and `jwt.Parse` would be different ... :/

[code]

I guess I can live with an ephemeral field

[2021-02-15 01:07] Code-Hex commented on #332
I think this library consider for performance to marshal and unmarshal JSON.
But marshal and unmarshal again to retrieve them to a struct seemed to ruin a good part of it.

I see.

I think that's fine too!

[2021-02-15 01:10] lestrrat commented on #332
@Code-Hex "Please elaborate?" は「具体的に言うと？」という質問です！使えない理由があるとしたらなんなのかなーと

[2021-02-15 01:11] lestrrat commented on #332
さっき一瞬返信したのは間違い。了解です

[2021-02-15 01:11] Code-Hex commented on #332
勉強になりました！
相談に乗ってくださってありがとうございました！

[2021-02-15 01:17] lestrrat commented on #332
もうコードの骨子はかけてるんですけど、全てのパッケージに同じように展開しないといけないのでちょっと待っててください。あとミーティングが終わるまで作業できないので！ｗ

[2021-02-15 01:18] Code-Hex commented on #332
早いw
いや、全然お手すきで大丈夫です。楽しみにしてます！

[2021-02-15 01:39] lestrrat commented on #332
とりあえず今あるコードはこちら https://github.com/lestrrat-go/jwx/tree/topic/custom-fields

[2021-02-15 06:17] lestrrat commented on #332
@Code-Hex Please check #333, and let me know if it works.

[2021-02-15 06:35] Code-Hex commented on #332
@lestrrat It's working!!
Thank you so much :bow:

[2021-02-15 06:38] #332 closed

[2021-02-16 10:19] eshepelyuk opened #334 "Introduce support for ES256K with secp256k1 curve for signing \ veryfying JWT tokens."
**Abstract**  \ **Additional context**

As a user of [Open Policy Agent](https://www.openpolicyagent.org/) I want to be able to use ES256K with secp256k1 to sign \ verify JWT tokens in REGO policies.
Open Policy Agent uses `jwx` as a backing technology, so the question is addressed here.

[2021-02-16 13:42] lestrrat commented on #334
I'm not familiar with with this algorithm, so... PRs welcome

[2021-02-16 14:02] eshepelyuk commented on #334
Hello

I'm not familar with Golang and Cryptography at all, so PR from my side will not be delivered.
If you're willing to keep this issue open - then let more experienced guys to implement it it some future, maybe.
Otherwise, it could be closed.

Thnx

[2021-02-16 14:11] lestrrat commented on #254
Punting this for now.

[2021-02-16 14:11] #254 closed

[2021-02-16 15:17] imirkin commented on #334
It seems like the canonical secp256k1 implementation is in go-ethereum.

https://pkg.go.dev/github.com/ethereum/go-ethereum/crypto/secp256k1

@lestrrat if you think it's reasonable to depend on this package, I can give this a go.

[2021-02-16 15:23] lestrrat commented on #334
@imirkin i was actually looking at https://github.com/decred/dcrd/tree/master/dcrec/secp256k1

from what I could tell if we use ethereum-go or btcd 's implementation you would have to import the entire app, which is... meh

anyway that's all i had time to research. will check back tomorrow morning

[2021-02-16 15:34] imirkin commented on #334
@lestrrat Hm, yeah, there's no go.mod file there. Annoying. It wraps libsecp256k1 though, which hopefully gives the implementation some credibility.

My more general concern is with depending on encryption from "weird" places. Thus far, we depend on core lib and x/crypto, which is as non-weird as it gets. I've never heard of decred -- perhaps it's a huge project which gets security audits and what

[2021-02-16 15:40] lestrrat commented on #334
my initial reaction is that i would rather not use a C implementation out of concerns from a support perspective.

that library i linked up there seems to be pure Go, which is why was reading up on it

I'm now turning off my phone. will cehck tomorrow! :)

[2021-02-16 19:21] imirkin commented on #334
OK, well, up to you. Certainly a pure-go implementation is preferable. But I'm sure you've heard the advice about not rolling your own encryption primitives -- so the question is whether the people implementing the pure-go version are exempt from this advice (someone somewhere has to be, or else we wouldn't have encryption) :)

[2021-02-16 21:48] lestrrat commented on #334
@imirkin Yeah, I hear you. It's a tough call, but this library is full of sinners (mainly me) so... I dunno, I can't pretend like I'm all innocent while we condemn people reinventing encryption wheels :)

The author of `decred` thing above at least has enough cryptocurrency experience under his belt. He is a major contributor to a [btcd alternative written in Go](https://github.com/btcsuite/btcd),

[2021-02-16 21:57] cloudkucooland commented on #334
It's not a sin to re-implement a known algorithm in a different language. It's only a sin to invent a new algorithm and imagine that it is secure w/o serious peer review.

So long as the new implementation gives the same results as the reference implementations, it is fine.

[2021-02-16 22:05] imirkin commented on #334
@cloudkucooland good luck proving that it gives the same results as the reference implementation... that tends to be the main problem. I guess my main point is that such things should not be done lightly.

@lestrrat FWIW there were no EdDSA tests either for the same reason when I added it (or X25519). I didn't feel great about it, but ... what are you gonna do. There's a node-based 'jose' tool whi

[2021-02-16 22:15] lestrrat commented on #334
@cloudkucooland what @imirkin said

@imirkin Don't worry about the pluggable stuff. The pluggable stuff sounds like a nightmare, and if/when we do it, it would be for the next API breaking release, far in the future.

If you are interested in doing the libsecp256k1 wrapper, go for it. Again, just not the whole ehtereum or btcd, please. Otherwise we shall wait for somebody with more knowledge on th

[2021-02-16 22:34] lestrrat commented on #334
Oh wow, I just had a look at Open Policy Agent, and they not only fork jwx, they keep their local copy in the `internal` directory... If we ever do support ES256K, good luck using our changes @eshepelyuk, because the upgrade is going to be a nightmare.

[2021-02-16 23:04] lestrrat commented on #334
@imirkin Oh duh, re: pluggable stuff, I forgot I implemented this exact feature for JWS, at least !

https://github.com/lestrrat-go/jwx/blob/c6022d3ff13e1e18cb4977d63fd800cb76e5491e/jws/signer.go#L56-L58

I still would need to think about how to realize this for jwk and jwe, but in principle, something like this should work.

[2021-02-16 23:19] imirkin commented on #334
@lestrrat This (ES256K) only matters for jws -- it's only a signing algorithm. I'm not sure how the pluggability translates into optional dependencies. I guess you're thinking of adding build flags?

[2021-02-16 23:40] lestrrat commented on #334
@imirkin initially, yes on build flags.

[code]

But now that I remembered about RegisterSigner(), I think it can even be a separate module all together (though not a requirement)

[code]

[2021-02-16 23:41] lestrrat commented on #334
BTW, if we're using tags, I don't really care about extra dependencies (though I care about *BIG* extra dependencies).
What I want to avoid is people claiming they can't compile the C backend and filing issues against this repo :)

[2021-02-17 14:47] imirkin commented on #334
So ... there's another thing to consider. The EC library in golang allows you to specify arbitrary curves. Only some have optimized implementations, but if you're happy with "slow", then you can just define your own CurveParams. I don't think I realized this before.

This may be sufficient for signing / verifying. What do you think?

I did a bit of further research on bitcoin's libsecp256k1 -- tha

[2021-02-17 15:20] imirkin commented on #334
Of course the downside of that is that it's a non-deterministic algorithm, so verification could be subject to timing attacks. Sigh.

[2021-02-17 15:32] imirkin commented on #334
Looks like go-jose has an open issue and PR for this:

https://github.com/square/go-jose/issues/263
https://github.com/square/go-jose/pull/278

and they're looking at the decred impl. Perhaps it's the way to go.

[2021-02-17 22:01] lestrrat commented on #334
Yes, go-jose is where I found decred.

re: CurveParam, I did read up on CurveParam stuff prior to commenting above. The fact that Filippo was saying [CurveParam was a mistake in design](https://github.com/golang/go/issues/26776#issuecomment-497671740) makes me think investing in this route should be avoided?

[2021-02-17 22:12] imirkin commented on #334
Yeah, FWIW I tried it briefly. It doesn't work :) As pointed out by the issue, we need the value of "a" which is just missing. Oh well.

Will try with decred in a bit, should be pretty plug & play wrt my current impl. Hopefully.

[2021-02-17 23:39] lestrrat commented on #334
@eshepelyuk @imirkin has kindly implemented this functionality, but TBH there's not much else we can do to make sure that it is interoperable with other implementations. It looks correct, but somebody is going to have to test it on the field.

It's currently merged in the main branch, but if possible, I would like to wait releasing a new version until sometime passes, or until at least someone pro

[2021-02-17 23:44] lestrrat commented on #334
Hmm, the merge didn't auto close the issue? oh well.

Closing for now, as the implementation was merged. Please file new issues if you find problems.

[2021-02-17 23:44] #334 closed

[2021-02-18 08:52] eshepelyuk commented on #334
thanks

[2021-03-02 22:17] abarani opened #349 "Cannot install latest command line tool (> v1.1.0)"
**Describe the bug**

Invalid go.mod file when trying to install the command line tool.

[code]

**Additional context**

The latest tag that works is v1.1.0, the latest one without a go.mod file in it.
It is also the latest version reported on pkg.go.dev: https://pkg.go.dev/github.com/lestrrat-go/jwx/cmd/jwx

[2021-03-02 22:32] lestrrat commented on #349
Looks like it has a stray replace directive placed at debug time.
I released a v1.1.5-rc1 so that you can call `go install github.com/lestrrat-go/jwx/cmd/jwx@latest`

pkg.go.dev is confused. It doesn't know how to distinguish subdirectories with go.mod

[2021-03-02 22:51] abarani commented on #349
Thank you for your fast response!

I confirm it now works correctly with `go install github.com/lestrrat-go/jwx/cmd/jwx@latest`:
[code]

Problem is still present with specific versions though:
[code]

[2021-03-02 22:55] lestrrat commented on #349
@abarani I actually haven't investigated into why the behavior is such that @latest works but not with versions. I figured @latest or @commit-ish should do. Patches welcome :)

Closing this for now.

[2021-03-02 22:55] #349 closed

[2021-03-04 11:33] shaunco opened #350 "parsePEMEncodedRawKey should support block type of CERTIFICATE"
**Abstract**
`jwk.parsePEMEncodedRawKey()` should support x509 certificates that use a block type of `CERTIFICATE` via `x509.ParseCertificate()`

**Describe the proposed solution/change**
[code]

**Analysis**
Currently, the caller must do their own `pem.Decode()` and `x509.ParseCertificate()`, then they can pass the `PublicKey` field to `jwk.New()`. Would be nice to have the convenience function.

[2021-03-04 12:04] lestrrat commented on #350
This is sort of meta, but does it make sense when you see a code like `jwk.Parse(x509cert, jwk.WithPEM(true))` ? It may just be me, but I kind of never registered a x509 certificate as a "key", so it looks a bit weird to me. I dunno. I admit I'm not an expert dealing with certs. I'm not saying no, but it was just something that felt odd to me.

wrt `kid`, `x5t`, and `x5c` it might be faster if you

[2021-03-04 13:06] lestrrat commented on #350
So I asked a couple of people and Twitter, certs = key it is then.

[2021-03-04 14:09] lestrrat commented on #350
@shaunco So I just jotted your proposed change here https://github.com/lestrrat-go/jwx/tree/topic/issue-350
Would be nice if you could provide testcases and what not.

[2021-03-05 15:55] shaunco commented on #350
Sorry for the delay. On the cert = key question, a cert is just the public key with some additional (useful) metadata. From a JWK perspective, a JWKS is a collection of certs where the metadata and public key are in json/der/base64 formats instead of X509 format.

I'll work on some test cases this weekend.

[2021-04-01 00:40] lestrrat commented on #350
I went ahead and merged the ability to parse certificates in ASN.1 DER / PEM format.
I'm going to close this ticket for now. For the rest of your issues, please open a new issue!

[2021-04-01 00:40] #350 closed

[2021-04-08 06:51] mariotoffia opened #368 "Support aud as plain string instead of array of string (as configurable option)"
**Abstract**
Hi and thanks for a very nice library! :)

I'm working with [AWS Cognito "disability" of handling other than strings as values in a JWT](https://aws.amazon.com/premiumsupport/knowledge-center/decode-verify-cognito-json-token/). I'm wondering if it is possible for this library to accept a string, in addition to, the array of strings.

Also have a configuration option when Marshal the t

[2021-04-08 06:54] lestrrat commented on #368
Thank you. I think the saner way would be to just default to a string "aud" when `len(t.audience) == 0`?

I wish there was a way to pass options to `"encoding/json".Marshal".... I really don't want to put options in EACH object.

[2021-04-08 07:25] lestrrat commented on #368
@mariotoffia Wanna try this? https://github.com/lestrrat-go/jwx/tree/topic/single-aud

[2021-04-08 08:38] mariotoffia commented on #368
@lestrrat thanks!! For me this is **spot on**!

Cheers,
 Mario :)

[2021-04-08 09:25] lestrrat commented on #368
@mariotoffia Cool!

I think what I'm going to do is to make this behavior optional via a global setting. Something like

[code]

This is because we may inadvertently change how the signatures are generated when somebody upgrades the library. This way its opt-in.

[2021-04-08 10:28] lestrrat commented on #368
@mariotoffia Alright, I've settled on

[code]

to trigger the desired behavior. Please check #369, and let me know what you think.

[2021-04-08 11:28] mariotoffia commented on #368
@lestrrat This is perfect!

Cheers,
 Mario :)

[2021-04-08 12:05] lestrrat commented on #368
fixed in #369

[2021-04-08 12:05] #368 closed

[2021-04-08 12:07] lestrrat commented on #368
@mariotoffia merged, and I pushed a tag v1.1.8-rc1 so it's easier to reference it.

[2021-04-08 17:57] mariotoffia commented on #368
Thanks for your kind support! :)

[2021-04-12 00:40] lestrrat opened #370 "RFC: Are you depending on github.com/pkg/errors?"
In a separate library that I maintain, I have been gently prodded to use %w to wrap errors.
I suppose this is fine, but if I do this to jwx, and if there is anybody using `"github.com/pkg/errors".Is` or some such, this will inadvertently cause problems, so I should probably wait until a major release.

Comments?

[2021-04-27 17:11] k-okov-idt opened #378 "nbf is not checked for the equality"
Hello!
I've noticed that when calling `Validate()` on token and both `nbf` and `time.Now()` have identical value to seconds, validation fails.
All due to the check:
[code]
In the closeup of the After():
[code]

Being cut to seconds, `After` would return false and would lead to an error.
But in general, those values appear to be the same and validation should be successful, shouldn't it?
Thanks

[2021-04-27 22:39] lestrrat commented on #378
Ah, you mean  if t1 and t2 are the same, `t1.After(t2.Add(0))` (`0` being the result of `skew = 0`, which of course means `t2.Add` is a no-op) returns false? Sounds about right. Can you please create a failing test case?

[2021-04-28 07:30] k-okov-idt commented on #378
Yes, Basically when the `nbf` value is equal to the timestamp of `time.Now()`.

For example, if you define a custom clock that would be returning the same value as `nbf`. In such case, it would be expected to pass validation since those are equal when in fact it would fail

[2021-04-28 07:51] lestrrat commented on #378
Right, so can you please create a failing test case, and send it as a PR?

[2021-04-29 06:23] #378 closed

[2021-04-29 06:24] lestrrat commented on #378
Okay, I just merged what I /believe/ to be your fix. If it doesn't fix your problems, please send in a test case. Thanks!

[2021-04-29 07:00] lestrrat opened #380 "[jwt] The key's algorithm should be used when WithKeySet() is specified"
from #375

[2021-04-29 07:35] lestrrat commented on #380
fixed in #381

[2021-04-29 07:35] #380 closed

[2021-05-25 18:02] floodkoff opened #384 "Suggestion: better unmarshaling for struct claims"
**Abstract**
Here is a snippet of go code to illustrate the problem.
[code]
I'm using struct as a private claim. Which ends up working out beautifully. Json marshaller understands what needs to be done to create JSON based on ClaimStruct annotations. Let's have a look what will happen when I need to parse the token:
[code]
When I'm parsing a the token string, the library does not know what struct

[2021-05-25 21:00] anatol opened #385 "jws.VerifySet() should return the verification key as well"
jws.VerifySet() accepts a signed message plus a keyset and returns the verified message.

It would be great to return the key that been used to sign the message as well. Such key might be later processed, e.g. in case of `clevis` there is further key thumbprint checking.

[2021-05-26 00:44] lestrrat commented on #384
Just curious: why is this? You have a private claim that clashes with other claims? In which case... why would a _private_ claim clash with another? I want to understand the use case.

[2021-05-26 00:49] lestrrat commented on #385
Huh, didn't think of that. I guess the easiest way would be introduce an option?

[code]

[2021-05-26 02:39] anatol commented on #385
Yeah, change the `jws.VerifySet` function signature like this.

I am not sure about adding a new option though. Is `jws.WithKeyUsed(&keyUsed))` really needed?

[2021-05-26 03:27] lestrrat commented on #385
Well, if you want the use this feature _now_, I would use that `jws.WithKeyUsed` option. I don't want to release a new major version just for this change.

[2021-05-26 04:13] lestrrat commented on #385
7cffd9f would be my proposed solution for the time being

[2021-05-26 04:55] fvbock opened #386 "Question: How to add additional headers when using jws.Sign"
I am creating a JWS with `buf, err := jws.Sign(data, jwa.HS256, []byte(Secret))` and want to set an additional header `typ`.

`Sign` takes additional options but a naive `opt := option.New(jws.TypeKey, "JWT")` or `opt := option.New("typ", "JWT")` did not do it.

How would I set the additional header - or would I have to use `jws.NewMessage()...`?

Thanks for the great library!

[2021-05-26 05:05] lestrrat commented on #386
Hey there @fvbock :)

Untested for this specific case, but I think this works?

[code]

[2021-05-26 05:27] fvbock commented on #386
Hi @lestrrat :)

Hm nope. No Error but also no `typ` header - just `alg`

[2021-05-26 05:28] lestrrat commented on #386
Weird, should work. I'll write up some code, but can you also show me how you verified it?

[2021-05-26 05:31] fvbock commented on #386
I just pasted the signature into jwt.io ;)

which decodes the headers as

[code]

[2021-05-26 05:50] lestrrat commented on #386
That's the dump of the JWT itself. `jws.WithHeaders` adds headers to the JWS message.
If you want to add type to JWT, use `token.Set("typ", "JWT")`

[2021-05-26 06:10] lestrrat commented on #386
(I kind did a 脊髄反射 but I hope I'm right) Let me know if I'm just being stupid.

[2021-05-26 06:23] fvbock commented on #386
not sure i understand ;-P

the signature gets created with the headers from `jws.WithHeaders`

https://github.com/lestrrat-go/jwx/blob/main/jws/jws.go#L97-L98

and then those should get merged and json marhalled into the header no?

https://github.com/lestrrat-go/jwx/blob/main/jws/message.go#L54-L72

[2021-05-26 06:32] lestrrat commented on #386
My assumption is that jwt.io does this:

[code]

So that means that the result you are telling me should be the content of the JWT.

Therefore I'm thinking this should work:

[code]

`jws.WithHeaders` adds header values into the JWS protected headers section, IIRC.
a JWS message in compact form has "protected headers", "payload", "signature" components, so it should be added to the "protected head

[2021-05-26 07:05] fvbock commented on #386
ok. this does what i wanted. setting the public header

[code]

am doing something stupid?

[2021-05-26 07:20] floodkoff commented on #384
The service I'm working on needs to verify private claims from several JWT sources (signers/auth servers). It happened so that there is a private claim (let's call it "entity") that is clashing. What "entity" means in JWT token from service0 (type EntityClaimService0 struct) is different data structure for the private claim "entity" in JWT from service1 (type EntityClaimService1 struct). This is a

[2021-05-26 07:58] #386 closed

[2021-05-26 09:26] lestrrat commented on #386
Ah, okay, IIRC, compact format doesn't really support "public" headers. I think we don't even use the `jws.Signature` struct when encoding?

Anyways, there is always I possibility that I have overlooked this detail, so if you find this to be the case, please let me know

[2021-05-26 09:38] floodkoff commented on #384
Sorry closed the issue accidentally. Fat fingers and fast typing :)

Another argument for the proposed change is that at the end of the day the users of JWT are dealing with JSON. It something that one would expect from JWT library like dealing with JSON annotations, usage of json.Marshal and json.Unmarshal in a familiar way. I think it is possible to achieve it and generally is a "good thing" for

[2021-05-26 11:31] lestrrat commented on #384
I see. That's ... unfortunate.

Well, I whipped something out in https://github.com/lestrrat-go/jwx/tree/gh-384
I really would appreciate a test case. Below is the idea:

[code]

Note: utterly untested, and may have silly if not downright horrendous bugs.

[2021-05-26 14:14] floodkoff commented on #384
@lestrrat oh that was fast :) I will be able to have a look and give it a shot tomorrow

[2021-05-26 15:50] anatol commented on #385
I can wait for a proper solution. For now I can just copy `VerifySet` to my project and add functionality required.

[2021-05-26 21:56] lestrrat commented on #385
Ah, okay. In that case, I will take note of this, create a branch or something and keep this new change there until we can merge and release

[2021-05-26 22:11] lestrrat commented on #385
@anatol Here you go: 4ae001a
If this is looks okay, I'll probably create a  branch like `develop/next-major-release` or something and keep the changes there for the time being.

[2021-05-26 22:42] anatol commented on #385
Thanks. Your implementation looks good to me.

[2021-05-26 23:45] lestrrat opened #388 "Tracking issue for 2.0.0"
When ready, merge [next-major-release branch](/lestrrat-go/jwx/tree/v2)

~~For those of you reading this: No, there's no plan for a 2.0.0 yet. Once we have enough breaking changes, we'll think about when to release v2. The items in this issue are currently either low-priority, or require enough changes that it would have significant impact on the users.~~

These are major items for 2.0.0

* [x] ~~

[2021-05-26 23:46] lestrrat commented on #385
This is implemented, and being tracked in #388. Closing for now.
Thanks!

[2021-05-26 23:46] #385 closed

[2021-05-28 11:47] tonsV2 opened #389 "Panic when trying to sign"
go version go1.16.3 linux/amd64

I have the following function
[code]

I generate my keys
[code]

I test my function
[code]

I get the following error
[code]

Any clue what I'm doing wrong?

[2021-05-28 13:08] floodkoff commented on #389
[code]
Looking at the code that paniced. I'm curious what is the difference from:
[code]

[2021-05-28 14:00] lestrrat commented on #389
Still investigating, but meanwhile, you should be able to read PEM encoded keys to a JWK, and pass that to any of the methods (untested):

[code]

[2021-05-28 14:29] lestrrat commented on #389
Okay, I got it. You wrote out your key in  PKCS8 format. But you read it as PKCS1.
And you *should* have caught the error at

[code]

which, at least in your snippet, you did not check the error for. If you actually checked for errors, you shouldn't have encountered this error.

====

Now, why is it panic'ing? Am I not checking for `key == nil`? You bet I am.

The tricky bit is from here. The invo

[2021-05-28 15:02] floodkoff commented on #389
learn something new every day. omg

[2021-05-29 11:53] lestrrat commented on #384
Right, this is never supposed to work. I mean, the only thing that allowing `jws.Sign()` with `jwa.NoSignature` will bring is security holes when somebody (either intentional, by mistake, or by exploits from malicious third party).

[2021-05-29 17:28] floodkoff commented on #384
It makes seance. I removed it

[2021-05-30 15:28] tonsV2 commented on #389
Thanks for the detailed write up!

I'm fairly new to Go but all my tests now handle errors by doing `assert.NoError(t, err)`.

[2021-05-30 15:28] #389 closed

[2021-06-01 23:21] #384 closed

[2021-06-03 19:22] bloritsch opened #393 "Enforce max valid time jwt policy"
**Abstract**

As an additional protection to ensure the JWTs comply with policies for a set of microservices, I would like to require the existence of expiration and issued at headers, as well as enforcing a maximum difference between the two.  As an example if I have a policy that all JWTs must have an expiration and the delta between "iat" and "exp" must not be more than 10 minutes, I can add ad

[2021-06-03 19:38] bloritsch commented on #393
NOTE: when testing this out, I was surprised that `token.IssuedAt()` returns the epoch if there is no value.  That forced me to edit my workaround logic.  Since `token.IssuedAt()` == `token.Expiration()` == epoch if those values don't exist, I had a false positive until changing to use the `Get()` methods.

[2021-06-03 19:39] bloritsch commented on #393
Also, I would also be quite satisfied if there was a way to require "iat" and "exp" to exist.

[2021-06-04 01:54] lestrrat commented on #393
I don't have much time this week, so I only briefly read your issue, however, I understand there may be cases where we could default to more security. I would appreciate it if you could provide a PR with failing test cases in `jwt/jwt_test.go`

[2021-06-14 15:00] konradmalik commented on #380
Hi, @lestrrat  are you sure this is a good approach?
While safer in terms of security, this renders it impossible to validate Microsoft oauth2 tokens for example (or I'm missing some workaround how to use the old behavior?).

Microsoft does not include `alg` in the key's header. See here:
https://login.microsoftonline.com/common/discovery/v2.0/keys

And it has all the rights to do so, as this key

[2021-06-14 16:12] konradmalik opened #395 "Cannot verify Azure oauth2 token signature of a valid token."
**Describe the bug**
Cannot verify Azure oauth2 token signature, while token is definitely good and valid - allows me to access Microsoft Graph.

The error that shows up while I want to validate the token:
[code]

Pretty sure I must be doing something wrong, but I cannot identify what it is.

go version:
[code]

**To Reproduce / Expected behavior**
I'm attaching a full code that uses an existing a

[2021-06-14 23:40] lestrrat commented on #395
https://github.com/lestrrat-go/jwx/issues/380#issuecomment-860754799

Instead of answering in multiple places, I'm just going to answer here.
I believe this API is okay, because

1. While `WithKeySet` forces you to use a key with the `alg` header, `WithVerify` (...a misnomer, but anyway) allows you to pass whatever key you want as long as you pass the algorithm name with it.
2. If you must use `Wi

[2021-06-15 12:24] konradmalik commented on #395
@lestrrat, thank you for such a complete explanation. That clears up the decision from the mentioned PR and allows me to use the latest version of this library with Azure.
However, I still cannot verify tokens from azure due to the mentioned error:
[code]

Any idea where to look? What could be wrong? As I said, the token is 100% valid as it allows to reach the Microsoft Graph endpoint using the co

[2021-06-15 12:26] lestrrat commented on #395
Can you please provide a minimal code to reproduce the error? i.e., I assume you tweaked your previous code after my comment. Can you please post that version?

[2021-06-15 12:27] konradmalik commented on #395
Sure, only the function `validateToken` from `main.go` was changed:

[code]

[2021-06-15 12:29] lestrrat commented on #395
Hmm, bummer. Maybe we "fixed" `WithVerify` where we shouldn't have. Will take a look

[2021-06-15 12:50] lestrrat commented on #395
Sorry, can't reproduce. Both `WithVerify` and `WithKeySet` seem to be working as intended.
I don't have an Azure account so I cannot create an Azure-signed token, so I replicated what I think should be happening.

[code]

[2021-06-15 13:08] konradmalik commented on #395
Well, nevertheless, thank you. I'm connected with this topic for a future couple of days, so maybe I'll come up with something useful and post it here.

[2021-06-15 13:13] lestrrat commented on #395
Well, FWIW, after revisiting your error message in https://github.com/lestrrat-go/jwx/issues/395#issuecomment-861453772, I *think* it's finding your key (the error is from crypto/rsa, which means it _is_ passing a key to verify with) so It's just failing to verify, which just means the keys are wrong or the token is wrong.

[2021-06-15 13:16] konradmalik commented on #395
To be sure - `parseString` accepts base64-encoded token as in, for example, `Authorization: Bearer xxx` header, right?

[2021-06-15 13:22] lestrrat commented on #395
No :)  it expects JWS compact or JWS JSON format message.

Incidentally, you made me realized that jwt.ParseRequest has a bug.

[2021-06-15 16:07] konradmalik commented on #395
haaa... that clears a bit. Does the bug you mentioned concerns also ParseHeader? It seems that all ParseHeader does, it strips Bearer and passes the token to ParseString. However, you just told me that ParseString wouldn't handle base64 encoded token, but that is exactly the case here, right?

[2021-06-15 21:20] lestrrat commented on #395
you are not using ParseHeader, so what I weote doesn't matter in your case. The "bug" is more of a ambiguity in the spec. Some implementations MAY actually encode the jws in base64, and there should be a way to handlw it.

[2021-06-15 21:23] lestrrat commented on #395
At this point I would probably print out the jws message you want to verify, and create an isolated test case using the actual signed value. As it is I can't do mich because I don't know what you are parsing.

[2021-06-16 00:42] jiwenhuo opened #396 "Provide an example code to allow validate JWT token with public key"
We are working on a web server that support authentication through JWT token.
The JWT token can be obtained from HTTP request header, and there's a public key file stay somewhere on the server.
We would like to use jwx library to validate JWT token with the public key.

This should be a very common use case for JWT token validation, but unfortunately I didn't find any simple example to use jwx lib

[2021-06-16 00:46] lestrrat commented on #396
What exactly are you asking for? How to read a JWK from a PEM file?

https://pkg.go.dev/github.com/lestrrat-go/jwx/jwk#WithPEM
https://github.com/lestrrat-go/jwx/blob/main/jwk/jwk_test.go#L1413

[2021-06-16 00:49] jiwenhuo commented on #396
Yes I've read the code in https://github.com/lestrrat-go/jwx/blob/main/jwk/jwk_test.go#L1413

what I'm looking for is, after I got the key from the file with the code below:
`key, err := jwk.ParseKey([]byte(src), jwk.WithPEM(true))`

How can I validate the signature of a JWT token with the key?

[2021-06-16 00:50] lestrrat commented on #396
Is this what you are looking for?

https://github.com/lestrrat-go/jwx/blob/main/docs/01-jwt.md#jwt-validation

[2021-06-16 00:51] lestrrat commented on #396
Also, we use the following terminology wrt "Verify" and "Validate" https://github.com/lestrrat-go/jwx/blob/main/docs/01-jwt.md#terminology

I don't know which one you are looking for

[2021-06-16 00:58] jiwenhuo commented on #396
I guess that's what I'm looking for, I'll give it a try, thank you!

[2021-06-16 01:04] lestrrat commented on #396
If "Verify" is what you are looking for, you just need to use `jwt.Parse` with option parameters. In case of single JWK, use `jwk.WithVerify(alg, key)`

https://github.com/lestrrat-go/jwx/blob/main/examples/jwt_example_test.go#L189

[2021-06-16 03:10] jiwenhuo commented on #396
I tried some  code, but got the error message:
`failed to verify jws signature: "kid" fields do not match`

Below is my code skeleton, seems something is missing:

[code]

I tried the same token and pem file on https://jwt.io/, and the token is verified successfully.

The error message comes from the follow code line:
https://github.com/lestrrat-go/jwx/blob/422d30f669696ab0e7470b92855c293176bdc09d

[2021-06-16 03:15] lestrrat commented on #396
the error message says it all. does the key and the token have a kid?

https://pkg.go.dev/github.com/lestrrat-go/jwx/jwt#WithKeySet

[2021-06-16 03:17] lestrrat commented on #396
the ithe way is to use a single key. in case of WithVerify kid is not required. if you have a keyset with a single key you can use WithDefaultKey

[2021-06-16 03:17] jiwenhuo commented on #396
The key is obtained by, I think it is a single key, not a key set? where does the `kid` come from
`key, _ := jwk.ParseKey(buf, jwk.WithPEM(true))`

[2021-06-16 03:18] lestrrat commented on #396
oh sorry. didnt read the code in full.

hmmm.
it should work. I would need the actual keys and token to debug further

(also am away from my pc now)

[2021-06-16 06:00] andradei opened #397 "Can't sign JWT with []byte"
**Describe the bug**
Can't sign a JWT with a `jwk.symemetricKey`.
I just want to create a JWT that's signed with a "string" (`[]byte`, technically) instead of a cert.

**The Go version**

`go version go1.16.4 darwin/arm64`

**To Reproduce / Expected behavior**

This code

[code]

produces this error:

[code]

[2021-06-16 06:34] lestrrat commented on #397
Why are you using `jwa.ES256` which is for elliptic curve keys when you want to be signing with a symmetric key?
Use `jwa.HS256` or similar.

[2021-06-16 11:12] konradmalik commented on #395
Reg. ParseHeader - in this example I did not use it, true, but I did in other tests in the meantime.

However the puzzle is solved already, and of course nothing is wrong with the library ;)

TLDR; Azure provided 2 different kinds of tokens. One is AccessToken (the one I used), the other one is IDToken. The former one is not exactly (although VERY similar) an JWT token. Signature is different, and

[2021-06-16 11:12] #395 closed

[2021-06-16 17:16] andradei commented on #397
@lestrrat That was on oversight on my part. Thanks for the suggestion, it works.

[2021-06-16 17:16] #397 closed

[2021-06-18 04:10] lestrrat commented on #237
So in anticipation of a major release some time in the near future (#388) I took another look at this.
I read, and re-read, and I believe the RFC as it currently stands does NOT explicitly state that this field should be populated using a "signature" algorithm (i.e. jwa.SignatureAlgorithm). While I cannot find any examples otherwise, the RFC does not state if it could be a key encryption algorithm

[2021-06-18 04:10] #237 closed

[2021-06-18 05:52] debug-ito commented on #237
Thanks for reviewing this issue!

Good point. I agree that it can be encryption algorithm. I'm ok with your decision.

[2021-06-21 08:05] lestrrat commented on #393
So I had some time, and I tried guessing what you wanted.
Without an actual test case I can't be sure if this is what you want, though

[code]

See the code here
https://github.com/lestrrat-go/jwx/pull/399

[2021-06-21 11:14] bloritsch commented on #393
That's perfect.  I'm sorry I couldn't contribute directly.  It was in my long list of todos.

[2021-06-21 20:04] blankdots commented on #380
the `alg` key is also `OPTIONAL` in the spec https://datatracker.ietf.org/doc/html/rfc7517#section-4.4
i get `failed to find matching key for verification: invalid signatre algorithm : invalid jwa.SignatureAlgorithm value` when using `WithKeySet` if `alg` key is missing

[2021-06-22 00:19] lestrrat commented on #380
@blankdots Please read the section starting "The rationale for requiring... " https://github.com/lestrrat-go/jwx/issues/395#issuecomment-861061925

Also, "On this note I think that the RFC is flawed" may be of importance.

[2021-06-22 00:23] lestrrat commented on #380
Also https://github.com/lestrrat-go/jwx/blob/main/docs/99-faq.md#why-dont-you-automatically-infer-the-algorithm-for-jwsverify-

[2021-06-22 00:28] blankdots commented on #380
@lestrrat thx. i read the changelog in the meantime and got the information i needed, but what you provided helped as well.

I think i might have an idea how to better handle that on my code as well.

[2021-06-26 03:04] bloritsch commented on #393
Here is an example of what I want to fail and the failure comments explain a bit as to why: https://github.com/bloritsch/test-jwt/blob/main/tester.go

[2021-06-26 03:25] bloritsch commented on #393
I tested the pull request locally, and it looks like it works.  I added this test case which is more in line with what I originally asked for (didn't require changes to what you created):

[code]

[2021-06-26 04:11] lestrrat commented on #393
Cool! I just wanted to make sure changes were actually fixing the problem, and a test case like this is perfect. Will merge, am not sure when exactly I'll do a release, but usually I wait for a few days before I do to give people a chance to try things out. Ping me if I'm taking way too much time to release the next version

[2021-06-26 17:06] anatol opened #402 "Decryption fails if a custom field parser is registered"
It is a follow-up for https://github.com/anatol/clevis.go/issues/4

I am using github.com/lestrrat-go/jwx v1.2.1 and following code example shows that if a custom field parser is registered then it makes decryption fail:

[code]

[2021-06-26 20:23] bloritsch commented on #393
All good.  I'm moving at a snail's pace in the project I am using this in
mainly because of limited bandwidth in my own time.  I'll simply increase
the version when it's ready.  I have way more to do before I make my own
release anyways.

On Sat, Jun 26, 2021 at 12:11 AM lestrrat ***@***.***> wrote:

[2021-06-27 01:11] lestrrat commented on #402
Okay, turns out there's a really easy way to fix this. Just change
[code]

to

[code]

And it should work, because the resulting structure will be the same as the original, serialized data.
Although not explicitly documented, I believe `"encoding/json".Marshal` (and the like) encodes `struct` fields in the order that they appear on the struct, possibly by iterating them using something similar to

[2021-06-27 01:49] #393 closed

[2021-06-27 18:44] anatol commented on #402
The second test above fails with `failed to find matching recipient to decrypt key (last error = failed to decrypt: failed to decrypt payload: aead.Open failed: cipher: message authentication failed)`. So we have a message that is both valid and invalid at the same time (depending on memory representation of the parsed structure), this does not sound right to me.

The problem that we do not know w

[2021-06-27 18:46] anatol commented on #402
I am looking at jwx code here:

[code]

So basically jwx tries to parse `protected` field and then reconstruct it back. And the reconstructed structure might be different due to internals of golang json parser/marshaller. `jwx` should not rely on the parser internal, instead `jwx` should always authenticate __exactly__ the same text that it got as input.

Parsing function should preserve the origi

[2021-06-27 22:19] lestrrat commented on #402
What test? I locally have the copy of your code (with the appropriate `assert.NoError` calls added) in `gh402_test.go`, and I changed the order of the fields, and I get no errors

[code]

(or are you just saying that that's what happens in the original code that you filed?)

Yes, and that's why [I applied a document patch](https://github.com/lestrrat-go/jwx/commit/57cbfd36ade10be73ad6c9c4f5abbc39c

[2021-06-28 00:49] lestrrat commented on #402
BTW if turns out that we don't need to recompute the jwe header serialization (whic I'm still bot convinced it can... yet), then we could make an exception ONLY for message objects that are transiently used in decrypt to store temporary values. Maybe

[2021-06-28 13:35] lack commented on #402
The field ordering happened to be how I found the issue, yes, but the problem is deeper than that. It's true that in this specific case, changing the order of the fields in the struct I defined would solve this specific instance, for now.  However, we are not in control over the code that produced the message we're trying to decrypt.  If they change the order of the fields, suddenly we're broken a

[2021-06-28 13:40] lack commented on #402
I don't think there's anything with recomputing the jwe header serialization.  The thing I'm objecting to is the fact that doing `jwe.RegisterCustomField(...)` can change the serialization even if I don't touch the header at all via `Get()` or `Set()`.  Can you see how that would be unexpected to a consumer of this library?

[2021-06-28 14:58] lestrrat commented on #402
@lack First off,

I don't appreciate your tone. I spent time reading your issues, responding to your issues, I re-read the RFC, I looked over the code, I looked at the API, and I weighed my options to respond. It's okay if you don't agree with my choices, but don't make it sound like I haven't put effort into this.

---

Let me recap.

`jwe.RegisterCustomField` breaks. Yes, it's unfortunate. So I

[2021-06-28 16:38] lack commented on #402
I'm so sorry!  That was really not my intention, and I in hindsight I can see how that came across as condescending and dismissive.  Please accept my apology.  I really do want to work with you to help find a solution that works for everyone here!

I agree that field ordering is the root of the issue we raised, and a very common reason this may occur, but I do think it's a little deeper than that

[2021-06-28 22:00] lestrrat commented on #402
That only slows down accessors. Consider:

Previouly: json.Unmarshal gets called once at jwe.Parse time. for each `Get` call, return parsed data at zero cost.
With your proposal:  For each call to `Get`, you Unmarshal, verify type, convert. And yet, when you `Set`, you still face the same problem as before.

Think of a scenario where you Get() all the header fields for each set of headers. Suppose

[2021-06-29 16:06] lack commented on #402
I would expect that if there are 10 registered custom types, the unmarshalling has to happen 10 times (once per field), regardless if you do it at Parse time, or at Get time.

I do agree that my approach is heavier at accessor time (though it should be comparatively lighter at Parse time), and it would be hugely inefficient if the client calls Get multiple times on the same header.  Conversely, if

[2021-06-30 04:42] lestrrat commented on #402
Okay, after thinking about how I can implement it, I think I'm convinced that we should store the original serialized JWE protected header. (I'm not convinced that we should keep it in a []byte buffer. Come on, `latchset/jose` does not offer a programmatic API, and they are written in C :-p)

This is what I'm going to do:

1. `(jwe.Message).Decrypt` will have a special path for decryption, which u

[2021-06-30 04:48] lestrrat commented on #402
Actually, let's deprecate msg.Decrypt. I think this makes more sense.

So the API is now `jwe.Decrypt()` for decryption, `jwe.Encrypt` or `(jwe.Message).Encrypt` for encryption
We can't decrypt the method entirely, but we can mark it as such, and decrypted in the next major release.

[2021-06-30 09:43] lestrrat commented on #402
Here you go #406. Please check if this works

[2021-06-30 20:46] lack commented on #402
I think we may have an ordering issue here; The way Clevis is set up to function, we need to obtain the "clevis" protected header info, parse it, evaluate it, and use the configuration encoded in there to find / recover / discover / create the actual key that we need to then pass to jwe.Decrypt (or msg.Decrypt, since we happen to have a parsed Message already which is where we got the header).

Ch

[2021-06-30 21:45] lestrrat commented on #402
Meh.  I don't understand the logic behind it, but I certainly wasn't expecting an encrypted message to contain the key or whatever. Anyways...

I *really* don't want to provide `(jwe.Message).Decrypt`  anymore. The next best thing I can think of is to have a way to specify a special handler in `jwe.Decrypt()` that gets called once the message has been parsed, but before decrypting... but in your c

[2021-06-30 22:05] lestrrat commented on #402
Please see the latest changes for #406. TBH I haven't tested it because I wasn't sure how, but I hope you get the idea even if there are still some bugs

[2021-06-30 23:56] lack commented on #402
This may be a good time to ping @anatol again, since it's really their clevis.go library and I'm just a guy who tried to do something new with it :)

[2021-07-01 05:15] anatol commented on #402
I am fine with moving to the latest jwx and use `jwe.Decrypt()` plus proper struct deserialization. @lack it is better to make the go.mod modification as a part of your `clevis.go` change. Feel free to point go jwx dependency to #406 (temporary) and later we'll switch `master`.

[2021-07-01 05:52] lestrrat commented on #402
Sounds like a plan. That would put #406 through some real life testing. And I think I would feel better merging after it has gone through that. So @lack please try it out and let me know how it went?

[2021-07-01 12:12] lestrrat commented on #396
I'm going to close this due to inactivity. Feel free to reopen if you have more information that you can share.

[2021-07-01 12:12] #396 closed

[2021-07-01 12:13] lestrrat commented on #370
So far I think the answer is no. At some point I'm probably going to ditch github.com/pkg/errors in favor of native wrapped errors.

[2021-07-01 12:48] lack commented on #402
Sure thing!  I have a couple other high-priority tasks that I've just inherited, so I may be a couple days; but I'll do my best to get back to you soon!

[2021-07-07 02:41] lack commented on #402
I saw your version, but wanted to try a different way...  https://github.com/lack/clevis.go/commit/c71a4b0d8b5a4bcb5c93c93fa3a75ad86b75d635

[2021-07-07 11:31] lack commented on #402
My first attempt at using a jwx.PostParse interface to do this intermediate parsing and fill in the key and algorithm based on a parsed protected header went perfectly!

https://github.com/anatol/clevis.go/pull/7

[2021-07-07 12:18] lestrrat commented on #402
@anatol no hurries from my side, but let me know if you reached some sort of verdict.
---
Note to self: think if this same sort of pattern should be applied to other packages (jwt, jws, jwk)

[2021-07-07 22:50] erir910 opened #407 "Is it possible to use JWE with JWKS?"
Thanks for the great project. Is it possible to basically decrypt a JWE token using JWKS like in JWT? if not, is this against the RFC specs?

[2021-07-07 22:57] lestrrat commented on #407
Your question is a little vague, but if I understand you correctly, the answer is yes.
There are a bunch of documentation in the [README](https://github.com/lestrrat-go/jwx/), [pkg.go.dev](https://pkg.go.dev/github.com/lestrrat-go/jwx), and in the [docs directory](https://github.com/lestrrat-go/jwx/tree/main/docs). Please refer to those for details.

[2021-07-07 23:11] erir910 commented on #407
@lestrrat thanks for the quick response. I actually read the docs, the [`Decrypt`](https://pkg.go.dev/github.com/lestrrat-go/jwx@v1.2.1/jwe#Decrypt) function only accepts `jwk.Key` without having the option of using a keyset like in `jwt` and `jws`. Can you tell me how it works in the case of `jwe`?

[2021-07-07 23:12] lestrrat commented on #407
Ah, okay, then the answer is no. What's your use case?

[2021-07-07 23:15] erir910 commented on #407
I just wanted to decrypt `jwe` tokens with a keyset. Nothing special I guess. I expected the same behaviour like in `jwt.Parse()` with the keyset option.

[2021-07-07 23:25] lestrrat commented on #407
The reason I asked for a use case is because if it's a common enough operation (I don't know, maybe Google Cloud/AWS/Azure does something that require JWE decryption using a key set), I would think about providing that API.

Otherwise I'm against the idea of "throw a set, see if one of them works" approach without a specific reason to do so because of security considerations. The `jwt` package has

[2021-07-08 01:31] lack commented on #402
@lestrrat It's not really called out specifically in the RFC, but do you know if it's possible to validate the protected headers integrity without the key or algorithm set?

It would be nice to have the guarantee that the PostParse function is only called if the protected headers are valid...

[2021-07-08 01:38] lestrrat commented on #402
I think the integrity check is really done via "can we decrypt this message?" i.e., if the decryption succeeds, the protected headers are legit.

I don't think there is a way to do something else within the JWE spec. I dunno, maybe add an extra layer of protection by applying JWS over a JWE-encrypted message?

[2021-07-08 15:18] lack commented on #402
That makes sense.  Without the key to verify it, there's no way to ensure the headers were in fact as received from the sender.

[2021-07-09 17:44] lack commented on #402
@lestrrat: one minor nit in the API is having to define an empty struct just to implement the PostParser interface... Could we change the way we register that decryption option so we can pass in a function instead?

[2021-07-09 18:50] lack commented on #402
Something like...

[code]

[2021-07-09 21:56] lestrrat commented on #402
No.
But at the same time I'm way ahead of you. This has been committed 3 days ago:

https://github.com/lestrrat-go/jwx/commit/c357f46ed320928737f10015aaac6efdd827137a#diff-65c740049506c2830d988ff94bf08b05cbac287180364194a7439ccedaf6182fR223

---

I'm _okay_ with passing functions variables in general but I'm square against the idea of providing APIs that allow for gratuitous use of closures. In ot

[2021-07-10 06:51] lack commented on #402
Okay, I have to admit that's pretty wild.  Using a function type as a receiver to implement an interface that calls itself?  Just blew my mind.

I'd love to hear more about why you don't like closures in APIs, if you have time and/or resources to point me at.  But now I'm wondering why this function-receiver-implements-interface approach is preferable to allowing a closure?

One minor suggestion,

[2021-07-10 09:34] lestrrat commented on #402
Associating a function type with a "class" is an idea that is pretty well established in languages like Perl (`my $obj = bless sub { ... }, $class_name`), and I have a suspicion that that's where this idiom came into Go (citation required).

Anyways, this pattern is often used in the Go standard library, for example [`"net/http".HandlerFunc`](https://golang.org/pkg/net/http/#HandlerFunc). IMO it f

[2021-07-10 10:39] lack commented on #402
I think I see your point with the interface vs func.  And I agree that if the API requires an interface, it gives the caller options, and encourages using structs with receivers for carrying along all the useful state.

I guess I assumed the problem with the name `Do` in go is that because the language doesn't allow function overloading, you'd never be able to have a single interface which impleme

[2021-07-10 22:44] lestrrat commented on #402
Right, that's where you would use an escape hatch:

[code]

[2021-07-10 23:15] lestrrat commented on #402
fixed via #406

[2021-07-10 23:15] #402 closed

[2021-07-11 04:08] lack commented on #402
Ideas for alternative names for this API:
- `jwe.WithParseFinalizer(...)`
- `jwe.WithKeySetup(...)`
- `jwe.WithKeyFinalizer(...)`

[2021-07-14 21:52] lestrrat commented on #407
Closing due to inactivity. Feel free to reopen if this is still a problem

[2021-07-14 21:52] #407 closed

[2021-07-15 09:31] jozadev24 opened #412 "jwk.Set Remove removes 2 keys instead of just one."
When removing a key from a set 2 keys might be removed. I think the problem is here:

https://github.com/lestrrat-go/jwx/blob/08de34253bc9633a11b019b143a2d212f8ff0ed8/jwk/set.go#L74

I think the first index in append is wrong and should be:

`s.keys = append(s.keys[:i], s.keys[i+1:]...)`

joza

[2021-07-15 09:34] lestrrat commented on #412
Ooh, if that's the case, that's bad. I'd appreciate it if you have a test case handy, but anyways... on it.

[2021-07-15 09:52] #412 closed

[2021-07-15 09:54] lestrrat commented on #412
@jozadev24 fixed, released v1.2.3

[2021-07-15 09:57] jozadev24 commented on #412
Thanks a lot!

Sorry for not coming up with a pull request myself! Kind of a busy day :-)

Thanks for you work!

[2021-07-15 10:27] jozadev24 commented on #412
Yikes!

and
[code]
should be

[code]

[2021-07-15 13:07] jozadev24 opened #414 "fix set remove (part 2)"
Me again ... :-)

So when the key to be removed is the last one in the set, the last 2 keys are removed.

This line https://github.com/lestrrat-go/jwx/blob/5e2de6ea11b5112bdf1a5e088d56c9c2e7fb6807/jwk/set.go#L72 should be like this:
` s.keys = s.keys[:i]`

I propose to replace the new test func  https://github.com/lestrrat-go/jwx/blob/5e2de6ea11b5112bdf1a5e088d56c9c2e7fb6807/jwk/jwk_test.go#L1572

[2021-07-15 13:10] lestrrat commented on #414
Sorry, I just saw your previous message about 10 minutes ago in bed (it's 10pm here), and was already on it. fix coming up soon...

[2021-07-15 13:12] jozadev24 commented on #414
no problem. Sorry, should have seen the other line in the first place. ... bloody indices, always tend to brake my brain.  ;-)

[2021-07-15 13:13] lestrrat commented on #414
No problem. Thanks. At least I was making the same mistake in a uniform manner (or... something)

[2021-07-15 13:25] #414 closed

[2021-07-15 13:28] lestrrat commented on #414
done and done

[2021-07-15 14:08] jozadev24 commented on #414
thanks a lot!

[2021-07-29 21:19] lestrrat opened #422 "Need more checks for RFC7797"
I think I left out

`jwt.Sign` should return an error if b64 = false is specified

[2021-07-30 04:06] #422 closed

[2021-08-13 19:52] valerio opened #430 "Parsing JWTs with a private claim called "payload" fails"
In my code I sometimes have to parse JWTs that contain a private claim called `payload`, for example:
[code]

This kind of token used to be parsed without issues on previous versions of the library, but after upgrading to version 1.2.2 (or above), calling `jwt.Parse()` on a token like this results in an error (formatted with extra newlines):
[code]

Output of `go version`:
[code]

**To Reproduce /

[2021-08-16 00:01] lestrrat commented on #430
Ah, I see. I started allowing JWE(JWS) messages, and I needed to guess what the format of whatever blob we got.
For JWS, I did it by detecting the "payload" field, and hence it thought that we had a `JWS-compact(JWS-JSON)` message.

Your payload was unintentionally detected as a JWS because you lack the `"aud"`  (which tells us it's a JWT), and you had `"payload"` (which tells us it's a JWS). This

[2021-08-16 00:02] lestrrat commented on #430
Oh, I forgot to mention, `"aud"` is mandatory for JWTs! :)

[2021-08-16 08:44] valerio commented on #430
@lestrrat can confirm https://github.com/lestrrat-go/jwx/pull/431 fixes the issue for me, thank you so much! 🥇

And very good point on the `aud` claim, I'll make sure to add it in to avoid any other problem.

[2021-08-16 08:47] lestrrat commented on #430
Thanks for checking!

[2021-08-16 09:04] lestrrat commented on #430
fixed via #431

[2021-08-16 09:04] #430 closed

[2021-08-18 08:56] daimaou92 opened #442 "Small correction to doc for WithMinDelta"
**Describe the bug**
A small issue. The godoc for [WithMinDelta](https://pkg.go.dev/github.com/lestrrat-go/jwx/jwt#WithMinDelta) reads

Shouldn't it be

The example mentioned describes it correctly:

`go version go1.16.7 darwin/amd64`

[2021-08-18 09:30] lestrrat commented on #442
Hmmm, I _think_ it's right. We want to the validation to **fail** if exp - iat is less than 10 secs.
The statement with the inequality should probably be rephrased as

[code]

Does that make sense?

[2021-08-18 10:03] daimaou92 commented on #442
Ah, my bad .. `validation to fail`. I got too caught up in the literature of `WithMaxDetails` and mixed contexts.

This is correct.

[2021-08-18 11:47] lestrrat commented on #442
Cool. I have PR queued to rephrase this so hopefully it will be a bit more clearer. Thanks for bringing it up

[2021-08-18 11:47] #442 closed

[2021-08-21 14:28] yaliv commented on #370
Hi @lestrrat
Do you have a plan to make this library compatible with TinyGo?

I tried to use it with TinyGo, the target is "wasm", but it failed to build.
github.com/pkg/errors depends on Go's runtime: https://github.com/pkg/errors/blob/v0.9.1/stack.go
I got these errors:
[code]

[2021-08-21 22:12] lestrrat commented on #370
@yaliv no I didn't. but if you want to setup a Github workflow so tinygo can be tested, I can certainly take a look

also, this issue has nothing todo with tinygo. please refrain from mixing other content

[2021-08-23 21:29] lestrrat opened #451 "[jws] Fix API to accept `crypto.Signer` instead of raw keys"
Haven't really looked into detail, but seems like a possibility.
might require waiting until $next-major-release

[2021-08-24 00:41] lestrrat commented on #451
Well it turns out the default `("crypto/ecdsa/".PrivateKey).Sign` returns the result in ASN1 encoded format, which is not what we want :/. `"crypto/rsa"` does not implement the `crypto.Signer` interface. ed25519 does what we want.

Hmm. I guess we need to make a decision: Only support crypto.Signer for ed25519, or none at all

[2021-08-24 07:50] lestrrat commented on #451
Through some tweaking I was able to make ECDSA accept crypto.Signer. yay

[2021-08-24 07:53] #451 closed

[2021-09-03 14:22] R70YNS opened #458 "jwt.ParseRequest returns invalid error"
Submitting an invalid JWT within the Authorisation header results in different errors based on whether `jwt.ParseRequest` or `jwt.ParseHeader` was called.

`_, err := jwt.ParseHeader(r.Header, "Authorization", jwt.WithKeySet(XXX))` rightly returns:
`failed to verify jws signature: failed to verify message: crypto/rsa: verification error`

`_, err := jwt.ParseRequest(r, jwt.WithKeySet(XXX))` wrongl

[2021-09-03 21:38] lestrrat commented on #458
I can't say for sure without code, but since you are using a `jwk.Set`, you probably don't have a `kid` field in your token and/or key. The requirement for Key ID is [described in options.go](https://github.com/lestrrat-go/jwx/blob/47a4c593218ce49ae0384d26de2bf86d9065bbe6/jwt/options.go#L162-L165) (although now that I look at it it could be worded more explicitly)

Basically the rationale is that

[2021-09-07 08:01] R70YNS commented on #458
It works fine when I pass a valid key, both using `ParseRequest` and `ParseHeader`. The issue is that the error returned when passing an invalid key via `ParseRequest` is
```failed to find token in any location of the request (tried: [header keys: "Authorization"])```
however it was able to find the token in the Authorization header. If I change lines `78-82` in `jwt/http.go` to:
[code]
When it fa

[2021-09-07 08:10] lestrrat commented on #458
Oh, so the key is _invalid_, and the error is NOT key is invalid, but the error message is "failed to find".
Okay. See, if you gave me some code, it would have been much clearer.

I think the only thing I can do is to change the error message to say "failed find a *VALID* token ...."
Does that work?

[2021-09-07 09:33] #458 closed

[2021-09-07 09:33] lestrrat commented on #458
@R70YNS See #461 and if it doesn't work for you, please reopen! Thanks for reporting.

[2021-09-13 03:56] uk-taniyama opened #462 "x25519 MUST use shared key. like ECDSA."
https://datatracker.ietf.org/doc/html/rfc8037
jwx/jwe/jwe.go
		switch key := key.(type) {
		case x25519.PublicKey:
			enc, err = keyenc.NewECDHESEncrypt(keyalg, contentalg, keysize, key)
		default:
			var pubkey ecdsa.PublicKey
			if err := keyconv.ECDSAPublicKey(&pubkey, key); err != nil {
				return nil, errors.Wrapf(err, "failed to generate public key from key (%T)", key)
			}
			enc, err = key

[2021-09-13 04:39] lestrrat commented on #462
I don't understand. At first it looks like you are just copying the contents of `jwe.go`.
If there is indeed a problem, can you please provide a reproducible test, and reopen the issue.

[2021-09-13 04:39] #462 closed

[2021-09-15 00:01] windbeneathyourwings opened #464 "Apple Silicon Mac build error: undefined: curve25519"
I created a project on an intel based mac that used the older version of your library (v.1.0.2). I have began to migrate that code base to a new local development environment on an apple silicon mac. In doing so I upgraded to the latest version (v1.2.6). However, I'm unable to build my project due to the following error(s).

external/com_github_lestrrat_go_jwx/x25519/x25519.go:87:17: undefined: cu

[2021-09-15 01:26] lestrrat commented on #464
I honestly have no clue, but if I had to guess you are using a go binary which doesn't respect go.mod or you are building in GOPATH mode.

I googled for "golang x25519 Basepoint" and quickly found out that Basepoint was added about 2 years ago, which can only mean that your environment is picking up an antiquated version of x25519 package while compiling. This in turn made me think you're building

[2021-09-16 02:42] lestrrat commented on #395
@konradmalik I had an epiphany yesterday, and wrote something up that could have helped you on this

https://github.com/lestrrat-go/jwx/tree/infer-algorithm

This is still WIP, but this would automatically pick a key to use with JWKS without the alg field present. I'm still pondering whether if this is right, but if you interested I'm all ears for feedback

[2021-09-16 04:23] codyrehm opened #467 "Helpful error message from jwt.parse being obscured by less helpful message in jwt.ParseRequest"
When using jwt.ParseRequest with the option jwk.WithKeyset with a set of invalid keys (i.e. attempting to validate a token with a key that was *not* used to sign the token originally) the operation fails as expected.

However the error that is generated in jwt.parse ("failed to verify jws signature") which is helpful
actually appears to end up getting overwritten and obscured by the much less help

[2021-09-16 04:26] lestrrat commented on #467
What version of jwx is this?

Please try to be specific in your reports. For example, "line 114" means nothing if you and I are looking at the file at a different commit. Also, actual code is always more helpful than bullet points.

Now, this sounds familiar. Perhaps #458 and #461 are what you are looking for. In which case, you can test it out on master, but it hasn't been released yet.

[2021-09-16 19:55] codyrehm commented on #467
Yes #458 looks like it might address this. Thank you.

[2021-09-16 19:55] #467 closed

[2021-09-17 22:10] lestrrat opened #469 "[jwt] Add ability to infer `alg` value using heuristics"
It has come to my attention that multiple people are stumbling on Microsoft Azure JWKs not providing the `alg` field.
And when a JWKS is used to perform JWT payload verification, alg is now a requirement, things go haywire in such situations.

This may be happening more than I imagined, so I'm inclined to add an option to automatically infer the algorithm used
by examining the given JWK in a JWKS.

[2021-09-20 21:59] lestrrat commented on #464
I'm closing this due to inactivity. If you still believe this is a problem, feel free to reopen.

[2021-09-21 21:51] #469 closed

[2021-09-21 22:57] lestrrat commented on #395
For anyone who came here late to the game, this has been merged as #470

[2021-09-22 07:13] konradmalik commented on #395
Hey @lestrrat, sorry I’ve been unresponsive, but I had to settle other things. I’ll try this out and leave some comments here today/tomorrow.

[2021-09-22 09:37] konradmalik commented on #395
Soo, it works. Allowed me to save 1 function that I used to extract the key from the header and some logic here and there.

Overall looks good, however, maybe the user should be able to pass a list of "expected" algorithms?
Not sure about that, just wondering out loud, however the fact is that:
https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration - specifies `id_token_sig

[2021-09-22 12:28] lestrrat commented on #395
Hmm, this is just my initial reaction, but I don't immediately see a good API for that.

Suppose you have a JWKS with keys for [ RS256 ], [ RS512, RS384, RS256 ], and [ PS512 ]
How do you specify the set of algorithms as parameters to `jwt.Parse`?

Obviously, if you _know_ before hand that you are only ever going to use one of the keys, you can do something like

[code]

But what if you only know

[2021-09-22 12:34] konradmalik commented on #395
@lestrrat sure, all makes sense. I still think that given that we have some knowledge about the possible keys, we should be able to "inform" the library about it somehow. It just seems logical and should increase security in this fairly insecure situation. But I understand and agree with your point, and I have to say I also don't know how to do it cleanly.

[2021-09-22 21:54] retzkek opened #474 "Use parsed claims to determine keyset to verify signed token"
**Abstract**
Is there an idiomatic way to use information from the token claims (e.g. issuer) to obtain the key[set] used to verify the token? It seems right now that can only be done by parsing the token twice, which is a bit unwieldy, especially when reading the token from an io.Reader or http.Request, etc.

Our use case is that we can accept tokens from multiple issuers, and use [OAuth discover

[2021-09-22 23:15] lestrrat commented on #474
I see. I want to change the proposed solution to NOT use raw functions, though. I have a thing against passing raw functions as arguments in Go.

My proposal below (note: not too much thought has been put on it yet)

[code]

[2021-09-23 03:44] lestrrat commented on #474
Take a look at #475, see what you think

[2021-09-23 14:57] retzkek commented on #474
I like your idea to use an interface, especially since in production code there could be quite a bit of logic behind that provider. LGTM

Thanks for the fast response!

[2021-09-23 22:29] lestrrat commented on #474
Thanks. merged #475

[2021-09-23 22:29] #474 closed

[2021-09-29 20:34] retzkek commented on #474
So I'm happy to report that `WithKeySetProvider()` is working well, thanks again, but, and I apologize for not thinking of this earlier, perhaps `KeySetFrom()` should take a context argument? Maybe something for v2?

[2021-09-29 21:58] lestrrat commented on #474
What's the use case?

[2021-09-29 22:34] retzkek commented on #474
In our case we end up calling `jwk.AutoRefresh.Fetch()`, which takes a context.

[2021-09-30 00:43] lestrrat commented on #474
Hmmmmmm... and you want it to be a propagated context.Context, not just a local `ctx, cancel := context.WithTiemout(context.Backgrond(), whatever)`?

[2021-09-30 00:45] lestrrat commented on #474
Well, okay, in any case, let's not do this here, as I KNOW I will lose track of it. If you want ctx as a parameter for KeySetFrom, please file a new issue, and please provide a use case, preferably code (can be pseudocode).

[2021-10-02 19:19] windbeneathyourwings commented on #464
Thanks for the help. I missed the notification regarding your response. I'm going to continue looking into this.

[2021-10-13 00:18] Dmdv opened #482 "Panic when the private key is nil instead of returning an error"
Go version is 1.16
jwx version is 1.2.7

I pass in function the private key.
The key is an interface and nil check of an interface is not done correctly.

Code is here: https://github.com/lestrrat-go/jwx/blob/4c29e6cfaeb22ae3cbd6a7d3a95424a33dff5079/jws/rsa.go#L75

try using this approach

[code]

But in your case the check can be simplified with type check of string.
The less generic way would be

[2021-10-13 00:31] lestrrat commented on #482
Thank you for your report. Please provide a testcase, or even better, a PR with a testcase.

[2021-10-13 11:40] wgehring opened #483 "GitHub Sponsoring"
Hello Daisuke / @lestrrat
I am writing to you on behalf of Daimler / Mercedes-Benz AG. We would like to sponsor you, and I would like to send you an email with further info. Could you please send me an email to wolfgang.gehring(at)daimler.com?
Thank you. :-)

[2021-10-14 11:08] lestrrat commented on #483
I already reached out, so am closing this issue. Thanks for the heads up

[2021-10-14 11:08] #483 closed, assigned to nobody

[2021-10-15 13:00] eopeter opened #484 "JWKS without ALG Fails to Validate Token"
**Describe the bug**
When trying to validate a token with JWKS, it fails when the they keyset does not have a "alg" property in the json. Our identity provider does not specify the signing algorithm for the key set. Since alg is optional according to RFC 7517, it should not be required to be present on the keyset. https://datatracker.ietf.org/doc/html/rfc7517 Page 7

`

RFC 7517

[2021-10-15 13:13] eopeter commented on #484
Duplicate of #472

[2021-10-15 13:45] joesiltberg opened #485 "Valid JWS cannot be verified after v1.0.8"
**Describe the bug**
A valid JWS that could be verified with v1.0.7 can no longer be verified (in v1.0.8 or v1.2.7).

Please attach the output of `go version`

[code]

**To Reproduce / Expected behavior**
[code]

With v1.0.7, this verifies  correctly and outputs:

[code]

However, upgrading to v1.0.8 (or v1.2.7) gives:

[code]

**Additional context**
I've tried to find the breaking commit with git

[2021-10-17 23:18] lestrrat commented on #485
This sounds familiar, and I thought I fixed it. Trying out the repro now.

[2021-10-17 23:33] lestrrat commented on #485
Okay, this apparently works:

[code]

So that means the bug is in the JSON-specific verification.